[2021-09-13 15:10] SathyaJayabal opened #3 "Earn App Restructure"
https://www.topcoder.com/challenges/d8baa61a-4f17-4cb8-bb93-5159c16dd116

[2021-09-13 15:11] SathyaJayabal commented on #3
verified on prod
<img width="1440" alt="Screenshot 2021-09-13 at 8 41 04 PM" src="https://user-images.githubusercontent.com/58783823/133109588-a6406841-949c-4229-b6f9-bd3daff81e73.png">

[2021-09-13 15:11] #3 closed

[2021-09-27 04:56] SathyaJayabal opened #6 "Challenge details page on Earn App"
Challenge details page on Earn App
https://www.topcoder.com/challenges/a5f6391c-f708-482d-ac72-b58c27e97864

[2021-09-27 05:07] jmgasper commented on #6
@SathyaJayabal - Is there an issue here that I should work on?  I'm not sure I understand this ticket.

[2021-09-27 05:36] SathyaJayabal commented on #6
@jmgasper , this is the ticket to track the challenge details page MFE conversion. We will add comments here when we QA this ticket. BTW is this one ready for QA now?

[2021-09-27 05:38] jmgasper commented on #6
Yes, this can be tested in dev now.  Two known issues so far:

1.  Loading animation isn't animating
2. Thrive recommended articles aren't showing for some reason

A few of the links are relative links that don't work on the dev site, just FYI, but I'm working with Topcoder to figure out a plan there.

[2021-09-27 05:40] SathyaJayabal commented on #6
Thanks @jmgasper

[2021-09-27 10:12] sandhiyakavi opened #7 "Filtering by the tags in the challenge details page is not working correctly"
Description:

Filtering by the tags in the challenge details page is not working correctly.

https://user-images.githubusercontent.com/55895538/134889645-f5933e06-aa4e-4048-9791-2924d34fd6c1.mp4

[2021-09-27 10:27] SathyaJayabal commented on #7
Additionally, when a tag is selected from the challenge details page, the search url must be `tags[] = tag` instead of `search=tag`

See example:

https://user-images.githubusercontent.com/58783823/134891668-01aa13b9-e3d8-4615-9abd-294407b23382.mov

[2021-09-27 22:14] jmgasper opened #8 "Loading animation not animating"
The loading animation in the new MFE challenge details page is not animating properly.

### Current

https://platform.topcoder-dev.com/earn/find/challenges/d4b75f2d-1998-47cf-9c9d-69bcc2d4c474

<img width="1505" alt="Screen_Shot_2021-09-28_at_8_12_04_am" src="https://user-images.githubusercontent.com/21790/134992433-09073061-9230-49f7-a792-0201217122d6.png">

### Existing (and expected)

https://t

[2021-09-27 22:16] jmgasper opened #9 "Width of agreements popup"
On dev MFE platform (https://platform.topcoder-dev.com/earn/find/challenges/d4b75f2d-1998-47cf-9c9d-69bcc2d4c474)

Login with `mess` / `appirio123`

Click `Register`

Note that the width of the popup for viewing the agreement text doesn't match the existing site.  We want this to match the existing site.

### Current

<img width="1505" alt="Screen Shot 2021-09-28 at 8 15 20 am" src="https://user-i

[2021-09-27 22:19] jmgasper opened #10 "Recommended Thrive articles link and panel not showing"
With the latest MFE challenge details page, it's not showing the `Recommended Thrive articles` link or panel on the challenge details screen.  The expectation is that the display of thrive articles *exactly* matches the existing site / page from the community app (https://github.com/topcoder-platform/community-app)

* Current:  https://platform.topcoder-dev.com/earn/find/challenges/af60c098-e5cf-4

[2021-09-28 04:54] sandhiyakavi opened #11 "Marathon Match: Blank page displayed on clicking the View Details link of the submission under Submission tab"
Description:

Blank page displayed on clicking the View Details link of the submission made.

https://user-images.githubusercontent.com/55895538/135025391-3ec9f98a-03f8-49b9-8750-1202e98a7613.mp4

![image](https://user-images.githubusercontent.com/55895538/135025439-7cefb944-c347-437c-9035-04ff71925923.png)

Expected:

![image](https://user-images.githubusercontent.com/55895538/135025491-bb971b5e-

[2021-09-28 05:01] sandhiyakavi opened #12 "Clicking the userhandle in the challenge details page is directing to wrong url"
Description:

Clicking the userhandle displayed in the challenge details page is directing to wrong url (https://platform.topcoder-dev.com/members/lazybaer) instead of https://www.topcoder-dev.com/members/lazybaer

Please ensure the environment is used properly.  In dev, we should go to `topcoder-dev.com`, but in prod the root URL should be `topcoder.com`

https://user-images.githubusercontent.com

[2021-09-28 05:17] sandhiyakavi opened #13 "Relative links of Challenge details page issues"
We need to change the links below to be absolute links instead of relative ones.  Please just ensure that prod and dev environments are handled properly with either `topcoder-dev.com` or `topcoder.com` depending on where the app is deployed.

Description:

1. Challenge Terms link displaying blank page.

https://user-images.githubusercontent.com/55895538/135027385-7a26d1c2-5b2f-46c4-ab2c-660486a964

[2021-09-28 07:48] SathyaJayabal commented on #10
verified on dev
<img width="1437" alt="Screenshot 2021-09-28 at 1 16 52 PM" src="https://user-images.githubusercontent.com/58783823/135045349-00d1ad57-0873-4b04-ac80-6d0234df8d65.png">

[2021-09-28 07:48] #10 closed

[2021-09-28 07:50] SathyaJayabal commented on #8
verified on dev

https://user-images.githubusercontent.com/58783823/135045828-bf907370-3449-41ab-b035-242bb38282ba.mov

[2021-09-28 07:50] #8 closed

[2021-09-28 07:52] SathyaJayabal commented on #9
verified on dev
<img width="1440" alt="Screenshot 2021-09-28 at 1 21 41 PM" src="https://user-images.githubusercontent.com/58783823/135046133-bc1bfeb4-8f21-409c-84f6-816b88c0f212.png">

[2021-09-28 07:52] #9 closed

[2021-09-28 07:54] SathyaJayabal commented on #7
@jmgasper the second comment is not addressed.
https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/7#issuecomment-927734326

[2021-09-28 08:42] sandhiyakavi opened #15 "Recommended Thrive articles displayed are leading to wrong url"
Description:

Recommended Thrive articles displayed are leading to wrong url.

Ex: https://platform.topcoder-dev.com/thrive/articles/all-about-topcoder-challenges-tasks-and-gig-work-opportunities instead of https://www.topcoder-dev.com/thrive/articles/all-about-topcoder-challenges-tasks-and-gig-work-opportunities

![image](https://user-images.githubusercontent.com/55895538/135053935-be93791e-d579-

[2021-09-28 19:53] jmgasper commented on #7
@SathyaJayabal - I think this is fixed now, please have a look.

[2021-09-29 06:48] SathyaJayabal commented on #12
Note: also includes user handles in the winners tab for completed challenges and registrants tab.

[2021-09-29 06:52] SathyaJayabal commented on #7
verified on dev

https://user-images.githubusercontent.com/58783823/135217535-d956ff4b-bec2-4446-b6ea-413091258905.mov

[2021-09-29 06:52] #7 closed

[2021-09-29 07:42] SathyaJayabal opened #16 "Performance: Time taken to load the details page is much longer than that on Community App"
Performance: Time taken to load the details page is much longer than that on Community App
See example below

https://user-images.githubusercontent.com/58783823/135218262-3133eef3-96a7-4feb-9297-599246390870.mov

[2021-09-29 21:13] jmgasper opened #17 "Submission link"
Currently, we're still working on the submission page functionality into the MFE.  For now, let's have the `Submit` link go *back* to the community app.

So, instead of:

https://platform.topcoder-dev.com/earn/find/challenges/d4b75f2d-1998-47cf-9c9d-69bcc2d4c474/submit

The link would go to

https://topcoder-dev.com/challenges/d4b75f2d-1998-47cf-9c9d-69bcc2d4c474/submit

[2021-09-29 21:15] jmgasper opened #18 "[$150] Redirect after accepting terms"
On the platform app, the redirect after accepting the terms and doing the docusign flow isn't sending the user to the correct URL.  It's probably a relative link that needs to be changed to an absolute one.
<img width="1388" alt="Screen Shot 2021-09-30 at 7 10 42 am" src="https://user-images.githubusercontent.com/21790/135349511-20da61a9-c9b8-4a12-8a0e-87cad7d35104.png">

[2021-10-01 04:29] sandhiyakavi commented on #11
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/135565393-f0c38dab-ace9-40a8-b782-2bc423e0a01f.png)

[2021-10-01 04:45] sandhiyakavi commented on #17
Verified on Dev Env

https://user-images.githubusercontent.com/55895538/135566510-e41a0922-26aa-4451-b10e-77d8b23fcbda.mp4

[2021-10-01 05:00] sandhiyakavi commented on #15
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/135567707-9de55f58-522c-4253-ad8b-876ba92181d8.png)

[2021-10-01 05:19] sandhiyakavi commented on #13
Verified in dev Env.

![image](https://user-images.githubusercontent.com/55895538/135569117-321ef558-365a-4297-9cd0-6074b9ff3772.png)
![image](https://user-images.githubusercontent.com/55895538/135569253-0db55d1f-fd49-4c2c-a79f-9cc86e281510.png)

[2021-10-01 05:46] sandhiyakavi commented on #18
@jmgasper After accepting the terms and the docusign , the below page is displayed. Is it what expected?

![image](https://user-images.githubusercontent.com/55895538/135571535-72412cf8-4857-426f-b936-c2635df47f77.png)

https://user-images.githubusercontent.com/55895538/135571543-151692ba-916f-4435-989f-b0d137a1c5f2.mp4

[2021-10-01 05:49] SathyaJayabal commented on #18
@sandhiyakavi after signing terms, the user should be registered.

[2021-10-01 06:00] #13 closed

[2021-10-01 06:03] #17 closed

[2021-10-01 06:03] #15 closed

[2021-10-01 06:04] #11 closed

[2021-10-04 03:22] SathyaJayabal commented on #12
@jmgasper , verified that the user handle points to the comm app member profile page. This should be good for our production release.
<img width="1440" alt="Screenshot 2021-10-04 at 8 51 51 AM" src="https://user-images.githubusercontent.com/58783823/135788258-561863f8-20dd-418f-8b1e-cb1f5bb9f796.png">

[2021-10-04 03:22] #12 closed

[2021-10-04 03:38] SathyaJayabal commented on #18
@jmgasper, please see the issue while user signs the NDA. The challenge details page is not loafded again and the user is not registered, The same scenario works fine in CA.
Please see below videos
Challenges MFE Video
https://user-images.githubusercontent.com/58783823/135789175-e80dc806-062c-4958-b7cd-cc401f5e3188.mp4
Comm App Video
https://user-images.githubusercontent.com/58783823/135789219-624

[2021-10-04 03:57] SathyaJayabal commented on #18
@jmgasper , even for standard terms, once the user has agreed to the terms, the challenge details page is loaded, but an error, unable to register is displayed. But when we refresh the page, the user has been registered successfully.

[2021-10-04 04:09] jmgasper opened #20 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, and the system will change the label to "tcx_Assigned", removing the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here

[2021-10-04 04:14] jmgasper commented on #18
Challenge https://www.topcoder.com/challenges/028ebaad-7f26-4c09-8105-6efe6da0dfbc has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 04:15] jmgasper opened #21 "[$200] Performance investigation"
As discussed via email

https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/19

[2021-10-04 04:15] jmgasper commented on #21
Challenge https://www.topcoder.com/challenges/b0ab53d7-3aab-4b95-9ba0-650b012548a5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 04:17] #20 closed

[2021-10-04 04:20] SathyaJayabal opened #22 "[$65] Error displayed for unable to register/unregister"
Error displayed for unable to register/unregister when user registers/unregisters even though user is registered/unregistered successfully

<img width="1440" alt="Screenshot 2021-10-04 at 9 34 52 AM" src="https://user-images.githubusercontent.com/58783823/135792311-31654ad4-9df2-48bc-aefc-c25f1a983534.png">

https://user-images.githubusercontent.com/58783823/135794025-92281bc7-b4b5-4139-b9b3-b62bb

[2021-10-04 04:30] yoution commented on #18
@jmgasper  please assign to me

[2021-10-04 04:47] jmgasper commented on #18
Challenge https://www.topcoder.com/challenges/028ebaad-7f26-4c09-8105-6efe6da0dfbc has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 04:51] jmgasper commented on #22
@yoution - please have a look at this one as well, thanks.

[2021-10-04 04:53] SathyaJayabal commented on #22
User: tester1234
challenge:https://platform.topcoder-dev.com/earn/find/challenges/8faff3b9-1edb-47e3-8f36-c90b196b1dac
browser: chrome
os:MAC OS Big Sur

[2021-10-04 06:22] yoution commented on #22
@jmgasper please assign to me, I will fix them in the next two or three hours

[2021-10-04 07:19] yoution commented on #18
@jmgasper do you know how to give up the signing terms? if I signed terms this successfully, nextTime it will not show the  popup

[2021-10-04 07:25] jmgasper commented on #22
Challenge https://www.topcoder.com/challenges/4c5262aa-3a25-4373-b9a3-43ac86b4a21c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 07:25] jmgasper commented on #22
Challenge https://www.topcoder.com/challenges/4c5262aa-3a25-4373-b9a3-43ac86b4a21c has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 07:32] jmgasper commented on #18
@yoution - I'm asking Topcoder how they want to test, but I think the easiest thing to do is just register new users on the site.

Here are a bunch that may also work:

* jgasperMobile3 / Appirio123
* jgasperMobile4 / Appirio123
* jgasperMobile5 / Appirio123
* jgasperMobile6 / Appirio123
* jgasperMobile7 / Appirio123
* jgasperMobile8 / Appirio123
* jgasperMobile9 / Appirio123
* jgasperMobile10 / A

[2021-10-04 07:41] sandhiyakavi opened #23 "[$50] Marathon Match: Provisional score not displaying for some challenges"
Description:
Provisional score is not getting displayed for some challenges in MFE but getting displayed for some challenges

For the challenge https://platform.topcoder-dev.com/earn/find/challenges/63829822-54fd-4663-a876-40a28b9034b3?tab=submissions , it is not getting displayed (Note: it's getting displayed in Community app)

![image](https://user-images.githubusercontent.com/55895538/135811744

[2021-10-04 08:41] SathyaJayabal opened #24 "[$20] Update "Add Submission" link on marathon match submissions tab to point to community app submission page"
Update "Add Submission" link on marathon match submissions tab to point to community app submission page

https://github.com/topcoder-platform/micro-frontends-challenges-app/blob/eb57035f616e0af09d7ff023c0e8aaf9ef90add2/src/components/challenge-detail/Submissions/index.jsx#L737

example where this is done already:
https://github.com/topcoder-platform/micro-frontends-challenges-app/blob/eb57035f616

[2021-10-04 09:15] yoution commented on #18
@jmgasper  I found the the popup is a iframe, it uses `window.message` to subscribe the  message from the iframe
https://github.com/topcoder-platform/micro-frontends-challenges-app/blob/challenge-details-page/src/components/Terms/index.jsx#L129, now it will not emit message to the challenge-detail page, I donot know why this happen
maybe the  origin is not same ?

[2021-10-04 09:30] SathyaJayabal opened #25 "[$40] Update View Submissions link to point to community app"
Update View Submissions link to point to community app
example:
https://platform.topcoder-dev.com/earn/find/challenges/6008631e-48e5-45d7-8025-2758374a7d9d?tab=details
<img width="1440" alt="Screenshot 2021-10-04 at 3 00 01 PM" src="https://user-images.githubusercontent.com/58783823/135827600-0fcaa2fc-c61e-49c1-9612-dc8b6194d167.png">

[2021-10-04 09:40] jmgasper commented on #25
Challenge https://www.topcoder.com/challenges/93e4acf7-4d52-4aeb-8230-0d6c28e56d29 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 09:41] jmgasper commented on #24
Challenge https://www.topcoder.com/challenges/e818feac-214a-4fd8-8a38-e79913cbdad2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 10:12] jmgasper commented on #23
Challenge https://www.topcoder.com/challenges/d6c75259-82f6-4d04-9286-b360cb770912 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 10:12] jmgasper commented on #23
Challenge https://www.topcoder.com/challenges/d6c75259-82f6-4d04-9286-b360cb770912 has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 10:12] jmgasper commented on #23
@yoution - I assigned this one to you, thanks!

[2021-10-04 10:12] jmgasper commented on #21
Challenge https://www.topcoder.com/challenges/b0ab53d7-3aab-4b95-9ba0-650b012548a5 has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 10:12] jmgasper commented on #24
Challenge https://www.topcoder.com/challenges/e818feac-214a-4fd8-8a38-e79913cbdad2 has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 10:12] jmgasper commented on #24
@yoution - One more for you, thanks!

[2021-10-04 10:12] jmgasper commented on #25
Challenge https://www.topcoder.com/challenges/93e4acf7-4d52-4aeb-8230-0d6c28e56d29 has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-04 10:12] jmgasper commented on #25
@yoution - One more for you, thanks!

[2021-10-04 20:53] #21 closed

[2021-10-04 20:53] jmgasper commented on #21
Payment task has been updated: https://www.topcoder.com/challenges/b0ab53d7-3aab-4b95-9ba0-650b012548a5
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `b0ab53d7-3aab-4b95-9ba0-650b012548a5` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-05 03:14] yoution commented on #18
@jmgasper  I think this is the same issue when we click the `close` button,
![image](https://user-images.githubusercontent.com/3863914/135953556-b3c18ad1-409e-4820-9612-7c7896c236af.png)
![image](https://user-images.githubusercontent.com/3863914/135953324-6391f17c-9e63-42a7-9a47-00785bc93895.png)

in the iframe, it will request the `html`  https://www.topcoder-dev.com/community-app-assets/iframe-b

[2021-10-05 04:42] jmgasper commented on #18
@yoution - Do you think if we hosted that file on `platform.topcoder-dev.com` instead, it would work better?

[2021-10-05 04:45] sandhiyakavi commented on #23
Verified in Dev Env. Provisional score is displaying now.

![image](https://user-images.githubusercontent.com/55895538/135961572-cc5e8502-969a-4f3b-bdae-85e4561b8904.png)

[2021-10-05 04:50] #23 closed

[2021-10-05 04:50] jmgasper commented on #23
Payment task has been updated: https://www.topcoder.com/challenges/d6c75259-82f6-4d04-9286-b360cb770912
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `d6c75259-82f6-4d04-9286-b360cb770912` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-05 05:10] sandhiyakavi commented on #22
@jmgasper @yoution Issue still exists for some challenges

![image](https://user-images.githubusercontent.com/55895538/135963784-9afa701a-fcc1-4764-b992-8fbb930243f3.png)

[2021-10-05 05:18] yoution commented on #22
I will check it soon

[2021-10-05 05:19] yoution commented on #18
@jmgasper I am not sure, but we can try

[2021-10-05 05:28] sandhiyakavi commented on #25
Verified in Dev Env

![image](https://user-images.githubusercontent.com/55895538/135965536-6b40f701-7e09-422b-8d1b-0b838bb4262b.png)

[2021-10-05 05:30] yoution commented on #22
@sandhiyakavi  is it  a accidental issue? I can not reproduce it in my computer
https://monosnap.com/file/qt4MtmG6ZMw5eMDhTTGRdxNZyA1Nst

[2021-10-05 05:32] sandhiyakavi commented on #22
@yoution It is intermittent. These errors are not happening specific to a particular challenge

[2021-10-05 05:35] yoution commented on #22
ok, I will check it

[2021-10-05 06:07] #25 closed

[2021-10-05 06:07] jmgasper commented on #25
Payment task has been updated: https://www.topcoder.com/challenges/93e4acf7-4d52-4aeb-8230-0d6c28e56d29
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `93e4acf7-4d52-4aeb-8230-0d6c28e56d29` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-05 06:54] yoution commented on #22
@sandhiyakavi this issue happened bacause we enable the `register` button default, but at this time, it is loading challenge  registers info after getting auth, it will disable the `register` button after about 2 seconds, but before disable the `register` button, you click the default enabled `register` button, so it show the error
now I disabled the `register` button when loading `registers`

[2021-10-05 07:51] sandhiyakavi commented on #16
@jmgasper @yoution The MFE challenge details page is now loading faster in normal window but in incognito window, it is not loading first time and error message is getting displayed. If we refresh again, it is loading and displaying after some 8 seconds.

In normal window:

https://user-images.githubusercontent.com/55895538/135982022-408ad28e-f39f-437d-8cd5-b0af1ef2b2b2.mp4

In Incognito mode

htt

[2021-10-05 07:53] yoution commented on #16
I will check it out

[2021-10-05 08:09] sandhiyakavi commented on #24
Verified in Dev Env.

![image (3)](https://user-images.githubusercontent.com/55895538/135985002-986865e4-21a6-46f1-9ea6-df8f433faa14.png)

[2021-10-05 08:22] yoution commented on #16
you can reproduce this issue in normal mode, if you delete these fields in localstorage
![image](https://user-images.githubusercontent.com/3863914/135986788-569a773d-e3da-4bc3-a5df-8e8239adace7.png)

[2021-10-05 08:25] #24 closed

[2021-10-05 08:26] jmgasper commented on #24
Payment task has been updated: https://www.topcoder.com/challenges/e818feac-214a-4fd8-8a38-e79913cbdad2
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `e818feac-214a-4fd8-8a38-e79913cbdad2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-05 09:03] sandhiyakavi commented on #22
@yoution I am able to register and unregister without any error but if we click any open for registration challenges, it is taking much time for the Register/Unregister or Submit button to be active now

https://user-images.githubusercontent.com/55895538/135992356-87e92f5f-133f-4330-9673-b127db845796.mp4

[2021-10-05 10:08] SathyaJayabal commented on #22
@sandhiyakavi , I think  that should be fine.

[2021-10-05 19:38] luizrrodrigues commented on #18
@jmgasper @yoution I think we can add whitelist CORS to community app request.
I'll deploy a fix to Dev shortly.

[2021-10-05 19:54] jmgasper commented on #18
@luizrrodrigues - That would be great, thanks!  Please let me know when we can test - much appreciated.

[2021-10-06 00:06] luizrrodrigues commented on #18
@jmgasper Sorry problem wasn't with CORS, but with iframe `X-Frame-Options`, we can remove this from header and this will works fine (deployed to Dev), but in this case any site can use this request in iframe, no sure if this is a problem.

@sushilshinde Thoughts?

https://github.com/topcoder-platform/community-app/compare/docusign-cors

[2021-10-06 00:26] luizrrodrigues commented on #18
@jmgasper `X-Frame-Options` have only 2 options to modern browsers `DENY` or `SAMEORIGIN` .
The old options  `ALLOW-FROM` is obsolete and not longer works in modern browsers.

[code]

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

[2021-10-06 00:27] luizrrodrigues commented on #18
![image](https://user-images.githubusercontent.com/7029641/136121867-2d3e6020-89f4-4e7d-823b-116c4c1fbf25.png)

[2021-10-06 01:15] jmgasper commented on #18
@luizrrodrigues - With the latest change this seems to be working, thanks.  We'll discuss about security implications.

[2021-10-06 06:52] #18 closed

[2021-10-06 06:52] jmgasper commented on #18
Payment task has been updated: https://www.topcoder.com/challenges/028ebaad-7f26-4c09-8105-6efe6da0dfbc
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `028ebaad-7f26-4c09-8105-6efe6da0dfbc` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-06 11:51] #22 closed

[2021-10-06 11:52] jmgasper opened #35 "[$50] CSS error on prod"
@yoution - We deployed to production and ran into an issue with the CSS.  Please see the screenshot below.  I'm assuming this is something to do with how the prod build is packaged, but I can't seem to figure out where the error is.  Can you take a look please?
<img width="1014" alt="Screen_Shot_2021-10-06_at_10_47_48_pm" src="https://user-images.githubusercontent.com/21790/136197163-9c920c16-b23b

[2021-10-06 11:52] jmgasper commented on #35
Challenge https://www.topcoder.com/challenges/97cc7704-48c4-45a7-b4e9-58cb1e7244d7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-06 11:58] yoution commented on #35
I will check it out

[2021-10-06 12:01] yoution commented on #35
@jmgasper can you give me the prod url?

[2021-10-06 12:03] jmgasper commented on #35
@yoution - It will be platform.topcoder.com, but it's not currently deployed.  Because the deploy failed validation, I had to revert the changes.

[2021-10-06 12:04] sushilshinde commented on #35
@yoution run app locally in prod mode

[2021-10-06 12:05] yoution commented on #35
ok, I will try

[2021-10-06 12:06] yoution commented on #35
@sushilshinde could you tell me how to run in locally in prod mode?

[2021-10-06 12:09] sushilshinde commented on #35
https://github.com/topcoder-platform/micro-frontends-challenges-app/blob/dev/docker/Dockerfile

[2021-10-06 22:00] jmgasper commented on #35
Challenge https://www.topcoder.com/challenges/97cc7704-48c4-45a7-b4e9-58cb1e7244d7 has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-07 03:15] SathyaJayabal commented on #35
CSS issue is fixed
<img width="1440" alt="Screenshot 2021-10-07 at 8 45 09 AM" src="https://user-images.githubusercontent.com/58783823/136314736-d0bc0cc3-8e0c-4a63-b848-829d8ac81a20.png">

[2021-10-07 03:58] jmgasper commented on #35
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-07 04:20] #35 closed

[2021-10-07 04:20] jmgasper commented on #35
Payment task has been updated: https://www.topcoder.com/challenges/97cc7704-48c4-45a7-b4e9-58cb1e7244d7
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `97cc7704-48c4-45a7-b4e9-58cb1e7244d7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-08 04:07] SathyaJayabal opened #44 "[$100] Implement My Submissions page on MFE for design contests"
Implement My Submissions page on MFE for design contests
example url:
https://platform.topcoder-dev.com/earn/find/challenges/99c290a8-2df8-4148-a5f8-e950c23cc688/my-submissions
https://user-images.githubusercontent.com/58783823/136496711-af6ddd9d-610b-49b8-bfc5-f9c804b28e25.mp4

[2021-10-08 06:09] SathyaJayabal opened #46 "[$20] Incorrect Link in Back to Challenge link on submissions page"
Incorrect Link in Back to Challenge link on submissions page

<img width="1440" alt="Screenshot 2021-10-08 at 11 38 28 AM" src="https://user-images.githubusercontent.com/58783823/136506774-53cf71ac-be84-456f-a4d2-6d63fd8b6278.png">

[2021-10-08 06:11] jmgasper commented on #46
Challenge https://www.topcoder.com/challenges/998d361b-4ebe-4aa4-9f1f-f3503d18ee05 has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-08 09:18] jmgasper commented on #44
Challenge https://www.topcoder.com/challenges/ad6d73ef-343a-4318-8b8d-30c824a0bb3b has been assigned to yoution.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-12 03:41] SathyaJayabal commented on #46
verified on dev
<img width="1440" alt="Screenshot 2021-10-12 at 8 59 02 AM" src="https://user-images.githubusercontent.com/58783823/136887470-b537ab4c-531e-48fc-9488-264de69f13a2.png">

[2021-10-12 03:46] #46 closed

[2021-10-12 03:46] jmgasper commented on #46
Payment task has been updated: https://www.topcoder.com/challenges/998d361b-4ebe-4aa4-9f1f-f3503d18ee05
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `998d361b-4ebe-4aa4-9f1f-f3503d18ee05` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-12 05:46] SathyaJayabal opened #51 "[$150] Entire page must not be loaded when accessing challenge details page"
Entire page must not be loaded when accessing challenge details page. For the SPA experience the entire page must not be loaded. See video for example, where only content is loaded when accessing other pages/apps.

note : this issue was fixed in profile app recently

https://user-images.githubusercontent.com/58783823/136898379-b482aa95-f354-4a49-8c1d-999d038c9456.mp4

cc @sushilshinde @jmgasper

[2021-10-12 06:31] SathyaJayabal opened #52 "[$50] Redirection to v5 challenge url, when accessing legacy challenge url is incorrect"
when user tries to access the challenge details page using legacy challenge id, the page must be redirected to load the v5 challenges url
for example:
https://platform.topcoder-dev.com/earn/find/challenges/30058862 must redirect to
https://platform.topcoder-dev.com/earn/find/challenges/2df15dc5-6533-4b13-96fc-2106635ba3e2

But
https://platform.topcoder-dev.com/earn/find/challenges/30058862 redirec

[2021-10-12 12:26] sushilshinde commented on #44
@jmgasper

[2021-10-12 12:33] sushilshinde commented on #52
https://github.com/topcoder-platform/micro-frontends-challenges-app/labels/P1

[2021-10-13 03:36] SathyaJayabal commented on #52
verified on dev

https://user-images.githubusercontent.com/58783823/137062819-ab5fc486-41f6-4ca4-b34d-9f847e6076c7.mp4

[2021-10-13 03:53] jmgasper commented on #52
Payment task has been updated: https://www.topcoder.com/challenges/f82cc057-507a-4d85-98b8-393f8d46859b
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `f82cc057-507a-4d85-98b8-393f8d46859b` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-13 04:13] SathyaJayabal commented on #44
verified on dev
<img width="1440" alt="Screenshot 2021-10-13 at 9 32 32 AM" src="https://user-images.githubusercontent.com/58783823/137065997-fc3b994c-5b66-4fd2-a950-45c3c2d9a382.png">

[2021-10-13 04:17] jmgasper commented on #44
Payment task has been updated: https://www.topcoder.com/challenges/ad6d73ef-343a-4318-8b8d-30c824a0bb3b
*Payments Complete*
Winner: yoution
Copilot: ghostar
Challenge `ad6d73ef-343a-4318-8b8d-30c824a0bb3b` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-10-13 10:43] SathyaJayabal commented on #46
verified on prod
<img width="1440" alt="Screenshot 2021-10-13 at 4 12 50 PM" src="https://user-images.githubusercontent.com/58783823/137118482-d6d4d753-311a-4766-ae4e-da1206831de1.png">

[2021-10-13 10:55] SathyaJayabal commented on #51
verified on dev

https://user-images.githubusercontent.com/58783823/137119558-781c5a6c-9509-457f-aa16-f2bf554f5077.mp4

[2021-10-13 12:25] #51 closed

[2021-11-11 11:05] LieutenantRoger opened #65 "[$1] Test issue please ignore"
Simple Test

[2021-11-11 11:06] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/88f74022-4fa1-47cd-9219-294327a153f5 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 11:07] LieutenantRoger commented on #65
@bug-bash-helper

[2021-11-11 11:07] LieutenantRoger commented on #65
@bug-bash-helper assign me

[2021-11-11 11:08] LieutenantRoger commented on #65
@bug-bash-helper assign me

[2021-11-11 11:10] LieutenantRoger commented on #65
@bug-bash-helper assign me

[2021-11-11 11:11] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/88f74022-4fa1-47cd-9219-294327a153f5 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 11:11] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/88f74022-4fa1-47cd-9219-294327a153f5 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 11:14] LieutenantRoger commented on #65
@bug-bash-helper

[2021-11-11 11:18] vikasrohit commented on #65
@LieutenantRoger do you need the bug bash helper installed in this repo?

[2021-11-11 11:20] LieutenantRoger commented on #65
Yes, please @vikasrohit

[2021-11-11 11:23] vikasrohit commented on #65
@bug-bash-helper assign me

[2021-11-11 11:25] LieutenantRoger commented on #65
@bug-bash-helper

[2021-11-11 11:26] LieutenantRoger commented on #65
@bug-bash-helper assign me

[2021-11-11 11:26] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/88f74022-4fa1-47cd-9219-294327a153f5 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 11:26] LieutenantRoger commented on #65
@bug-bash-helper assign me

[2021-11-11 11:27] LieutenantRoger commented on #65
Cool, looks it's working @vikasrohit

[2021-11-12 06:15] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/88f74022-4fa1-47cd-9219-294327a153f5 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-12 06:16] LieutenantRoger commented on #65
Challenge 88f74022-4fa1-47cd-9219-294327a153f5 has been cancelled<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-12 06:41] LieutenantRoger opened #66 "Search does not work correctly when search keyword response not found"

[2021-11-12 06:44] #66 closed

[2021-11-12 06:44] LieutenantRoger opened #67 "Search does not work correctly when search keyword response not found"

[2021-11-12 06:50] #67 closed

[2021-11-12 06:53] LieutenantRoger opened #68 "Search does not work correctly when search keyword response not found"
**Summary:**
Search does not work correctly

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. search for 'fast' which is title for this challenge 'https://platform.topcoder.com/earn/find/challenges/c89cb504-61d9-47ee-8853-19a634a6daff'

**Actual Result:**

Search result does not show matching title

**Expected Result:**

Search result should show matching tit

[2021-11-12 06:56] #68 closed

[2021-11-12 06:58] LieutenantRoger opened #69 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, and the system will change the label to "tcx_Assigned", removing the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here

[2021-11-12 07:09] LieutenantRoger opened #70 "Search does not work correctly when search keyword response not found"
**Summary:**
Search does not work correctly

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. search for 'fast' which is title for this challenge 'https://platform.topcoder.com/earn/find/challenges/c89cb504-61d9-47ee-8853-19a634a6daff'

**Actual Result:**

Search result does not show matching title

**Expected Result:**

Search result should show matching tit

[2021-11-12 07:09] LieutenantRoger opened #71 "[$5] Hide the buttons to switch between list and Grid"
**Summary:**
Grid display does not work

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. click on grid icon

**Actual Result:**

Listings is not displayed in grid

**Expected Result:**

We won't implement the listing in grid, so let's remove the buttons of switching between the list mode and grid mode.

https://monosnap.com/file/SyCDR7e9ZesniBOOsT6hpxW2U27PV

[2021-11-12 07:09] LieutenantRoger opened #72 "Initial Page Load Does Not Load Content"
**Summary:**

When you go to the site for the first time, the page does not load content below the navbar. After reloading, the content eventually loads

**Steps to Reproduce:**

1. clear cache, cookies, etc
2. go to: https://platform.topcoder.com/earn/find/challenges

**Actual Result:**
white screen below navbar

**Expected Result:**
content below navbar is loaded

**Environment Details:**

***De

[2021-11-12 07:09] LieutenantRoger opened #73 "[Chrome] Doesn't have my challenges filter"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges?bucket=Closed%20Challenges&endDateStart=2021-10-04T17:00:00.000Z&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK](https://platform.topcoder.com/earn/find/challenges?bucket=Closed%20Challenges&endDateSta

[2021-11-12 07:09] LieutenantRoger opened #74 "load time when the user click on radio button is slow"
**Issue title:**
load time when the user click on radio button is slow

**Steps to reproduce:**
1. click on the link https://platform.topcoder.com/earn/find/challenges
2. click on the radio button of all active challenges, oepn for registration and closed challenges
3. the loading time for the each content is taking some time

**Actual result:**
The Page should load slower when the user change the

[2021-11-12 07:09] LieutenantRoger opened #75 "[$15] When 50 per page is selected from dropdown than last page is invalid"
**Steps:**
1) Go to https://platform.topcoder.com/earn/find/challenges
2) Scroll down to buttom of page
3) Select "10 per pages" drop down
4) Click on next to see how many pages are there.
5) Now, change dropdown to "50 per pages"
6) Click on Next
7) Click on last page. As per attached view it is "3"
8) Observe "No challenges were found. You can try changing your search parameters."

**Actual resu

[2021-11-12 07:09] LieutenantRoger opened #76 "[$15] The invalid challenge search leads to disappearing the search box, and the sort section, no work around to get the challenges back to be displayed"
### Issue Title : (Laptop)(Chrome)
The invalid challenge search leads to disappearing the search box, and the sort section, no work around to get the challenges back to be displayed

--

### Steps to reproduce :

1. Go to the 'https://platform.topcoder.com/earn/find/challenges'
2. type some random charecters like 'ttttt' in the search section
3. watch for the results to loaded, and the presence of

[2021-11-12 07:09] LieutenantRoger opened #77 "Some tags label(eg QA/Bug Hunt) not getting added to skills filter after click tags from the challenge list"
**Summary:**
- Bug Hunt label not getting added to skills filter

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. In challenge "Spooky, Scary Bug Hunt Event 4", click "1+"
3. Click "Bug Hunt" label

**Actual Result:**
- "Bug Hunt" should get added under the "Skills/Technology" filter on the side bar

**Expected Result:**
- Bug Hunt label not getting added to

[2021-11-12 07:09] LieutenantRoger opened #78 "[$20] SortBy fast toggel breaks the app"
**Summary:**

https://user-images.githubusercontent.com/42398485/142802710-2d41c7e5-2f4e-4f13-a460-1b4d604368cc.mp4

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. See th

[2021-11-12 07:09] LieutenantRoger opened #79 "Prize clear filter is not clearing"
**Issue title:**

**Steps to reproduce:**
1. open the link  https://platform.topcoder.com/earn/find/challenges
2. Provide some numbers in the prize amount
3. Click on clear filter
4.  amount not cleared

**Actual result:**
The amount given for prize amount is not clearing when click on clear filter button

**Expected result:**
It should clear all the filters when click on clear filter button

**Bu

[2021-11-12 07:09] LieutenantRoger opened #80 "Apply filter Button"
Steps to Reproduce:

Open up the url
Click prize amount

Actual Result:
after entering data in the prize fields
after ente![Screenshot__111_](/uploads/1448cb63dde4f291dd15aa412df3acd6/Screenshot__111_.png)ring values there is no enter button
Expected Result:
there should be an enter , it give user a feel of applying filter
[review comment]a filter button is better than every click will call a API.

[2021-11-12 07:09] LieutenantRoger opened #81 "There is no visual cue for user to tell that filter is being applied"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Click on any filter settings<br/>
There is no visual cue for user to tell that filter is being applied<br/>

_**Actual Result(s)**<br/>_
There is no visual cue for user to tell that filter is being applied

_**Expected Result(s)**<br/>_
Should have a visual cue like loading indicator
<br/>
<br/>
<b

[2021-11-12 07:10] LieutenantRoger opened #82 "Search for `https://` breaks the app, show error console"
**Summary:**

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Try to search for `https://` term

**Actual Result:**

![bug2](/uploads/b46c0b8d788cc3730dc6c107c498de20/bug2.mp4)

**Expected Result:**
Should not break the app.

**Environment Details:**

***Devices(s):***

***Operating System and version:***
Ubuntu 18

***Browser and version:***
Chrome 94.0.460

[2021-11-12 07:10] LieutenantRoger opened #83 "Search: When searching 'sp' doesn't show spooky bug hunt challenge"
**Summary:**
When searching 'sp' doesn't show spooky bug hunt challenge

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&search=sp&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. Type 'sp' in search

**Actual Result:**

[2021-11-12 07:10] LieutenantRoger opened #84 "Clicking on tags to filter does not work intutively"
**Summary:**

This is a demo ticket

**Steps to Reproduce:**

1. Open up the url https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=5&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=100000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. Click on "marathon match" tag to filter
3. No results found

**Actual Resul

[2021-11-12 07:10] LieutenantRoger opened #85 "[$30] Input non exist skills applied but not shown in UI"
**Summary:**

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Type some not existing skill
3. See the video

**Actual Result:**

https://user-images.githubusercontent.com/42398485/142802895-07d0bb4a-b2dc-43af-bd8d-48c70716d31e.mp4

**Expected Result:**
No errors in console

**Environment Details:**

***Devices(s):***

***Operating System and version:***
Ubun

[2021-11-12 07:10] LieutenantRoger opened #86 "Register button is not enabled for the challenges"
**Issue title:**
Register button is not enabled for the challenges

**Steps to reproduce:**
1. In the open for registration listing click on any one challenge
2. Register button is not enabled when the user land on the page.
3. It is still in unanabled state until the user click on registrants

**Actual result:**
Register button is not in enabled stated when the user land on the challenge page

**

[2021-11-12 07:17] LieutenantRoger opened #87 "Unable to register even after the challenge has started"
![image](/uploads/d56c30e8df054a924b710d5911169688/image.png)

1. Go to any challenge when it has just started and try to register, the "register" button will not be active for some time![2021-10-29_at_20-39-12](/uploads/81bc65c4badadc381e980cc3e6884a02/2021-10-29_at_20-39-12.mp4)

[2021-11-12 07:17] LieutenantRoger opened #88 "Showing blank page when search special char, console show error"
Steps to Reproduce

Open the link https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
Put "#" in search box.

Actual Result(s)
Putting "#" in the search box, it is showing a black page.
Result Url: https://platfo

[2021-11-12 07:17] LieutenantRoger opened #89 "Links Present in the mail triggered is pointing to Production topcoder.com."
Summary:
Links Present in the mail triggered is pointing to Production topcoder.com.

Prerequisite:
User should be logged in.

Steps to Reproduce:
1. Open the link https://platform.topcoder.com/earn/find/challenges/
2. Open any Challenge and click on Register Button
3. Check the Email triggered.

Actual Result:
The Links present in the mail is pointing to Production Instance and not the test platf

[2021-11-12 07:17] LieutenantRoger opened #90 "[$20] [Web- Chrome] While filtering with price with 0 app does not apply filter"
Summary :
[Web- Chrome] While filtering with price with 0 app does not apply filter

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	In price enter 0 for both from and to

Actual:
While filtering with price with 0 app does not apply filter

Expected:
While filtering with price with 0 app shoulf apply filter

Environment:

_	Device(s): Windows
_	Resolution: 192

[2021-11-12 07:17] LieutenantRoger opened #91 "[$10] Search: App breaks for long search strings with console error"
**Summary:**

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Try search for a very long string
3. See video

**Actual Result:**

![bug4](/uploads/2b3bc3421f8ffe73884a232e5d93c686/bug4.mp4)
[Reviewer comment]Console error: Cannot read properties of undefined (reading 'length')

**Expected Result:**
No errors in console

**Environment Details:**

***Devices(s

[2021-11-12 07:17] LieutenantRoger opened #92 "Recent Listing Challenges"
**Summary:**

**Steps to Reproduce:**

1. Step1
https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=50&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks%5B%5D=DES&tracks%5B%5D=DEV&tracks%5B%5D=DS&tracks%5B%5D=QA&types%5B%5D=CH&types%5B%5D=F2F&types%5B%5D=TSK
2. Step2

**Actual Result:**
Recent posting challenge listed below early previous po

[2021-11-12 07:17] LieutenantRoger opened #93 "Search: does not search all challenges with the keyword"
**Summary:**

* Search function does not search all challenges with the keyword

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Look at the list of challenges on the page. There are 4 challenges with the keyword BMNC
3. Type "BMNC" in Search and click enter
4. The search function only searched 2 Challenges with the keyword BMNC although there are four of th

[2021-11-12 07:17] LieutenantRoger opened #94 "Challenge detail page, top tags show not found challenge list page"
![1](/uploads/26627864dbfac1b54c06a794f95215cf/1.png)
![image](/uploads/91c0d08dabeeed5f7b363425e91b5d58/image.png)

[2021-11-12 07:17] LieutenantRoger opened #95 "[$25] Cannot Sort By "Initial Score""
**Summary:**
Cannot Sort By "Initial Score"

**Steps to Reproduce:**
1. Go to 'https://www.topcoder.com/challenges/ca04b5ba-b0f5-42a0-9b79-f61ce40e9f70?tab=submissions'
2. Go to submissions tab
3. Click on sort icon on "Initial/Final Score" column

**Actual Result:**
 - Cannot sort submissions

**Expected Result:**
 - It should sort by score

**Environment Details:**

***Devices(s):***
 - Laptop
*

[2021-11-12 07:17] LieutenantRoger opened #96 "[$15] [Web- Chrome] While filtering with price with o to 2,0000 app displaying message as invalid format"
Summary :
[Web- Chrome] While filtering with price with o to 2,0000 app displaying message as invalid format

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	In price as o to 2,0000

Actual:
[Web- Chrome] While filtering with price with o to 2,0000 app displaying message as invalid format

Expected:
App should accept, app should auto correct and display the co

[2021-11-12 07:17] LieutenantRoger opened #97 "[$20] Submission- submited user is not showing in the list unless the page loads"
**Issue title:**
Submission- submited user is not showing in the list unless the page loads

**Steps to reproduce:**
1. Click on the challenge Spooky scary bug hunt event 4
2. click on submit, it is already showing registered since in live it is registerred
3. Pick the file and submit
4. check the name in the list of submission
5. name not listing unless the page loads again

**Actual result:**
Th

[2021-11-12 07:17] LieutenantRoger opened #98 "[$15] Page number does not reset after filtering causing no results shown"
**Summary:**
- Page number does not reset after filtering causing no results shown

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Go to page 2
3. Click any of the technology labels of any challenge

**Actual Result:**
- No challenges were found. If you look at the challenge URL it's still on "page=2", which causing the no result found. Changing it to "page

[2021-11-12 07:17] LieutenantRoger opened #99 "Failed to Register for a Challenge"
**Summary:**
Failed to Register for a Challenge at [](https://platform.topcoder.com/earn/find/challenges/a0d597db-584a-4f85-b1f3-f96ed11e5340)

**Steps to Reproduce:**

1. Click on the selected challenge link from the main Challenge Page
2. This will open the link [](https://platform.topcoder.com/earn/find/challenges/a0d597db-584a-4f85-b1f3-f96ed11e5340)
3. Click on the Register for Challenge Butt

[2021-11-12 07:17] LieutenantRoger opened #100 "[$45] [Chrome] parameter : Wrong URL Filter should redirect to 404 page instead of showing blank page"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges?bucket=Closed%20Challenges&endDateStart=2021-10-04T17:00:00.000Z&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK](https://platform.topcoder.com/earn/find/challenges?bucket=Closed%20Challenges&endDateSta

[2021-11-12 07:17] LieutenantRoger opened #101 "[$25] Search amount being large causes app to return blank page"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Enter Prize Amount from as 1231234124121<br/>
Shows blank page<br/>

_**Actual Result(s)**<br/>_
Search amount being large causes app to return blank page

_**Expected Result(s)**<br/>_
Should show search results haha
<br/>
<br/>
<br/>
**Screenshot**
![Listings-EARN-Topcoder_-_Google_Chrome_2021-10

[2021-11-12 07:17] LieutenantRoger opened #102 "[$45] Able to submit even without registering"
**Summary:**
Able to upload Submission for a challenge even without registering

**Steps to Reproduce:**

1. Navigate to Some Challenge and Register.
2. Right Click on Submit and Open in New Tab
3. Now go back to the Challenge Details page and Unregister
4. Now go to the other tab where Submission page is open
5. Check if you are able to make the submission

**Actual Result:**
User is able to make

[2021-11-12 07:17] LieutenantRoger opened #103 "Filter UI (ex.Selected page) does not change after clicking Challenges"
**Summary:**
- Selected page does not change after clicking Challenges

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Go to page 3
3. Click Challenges on the sidebar

**Actual Result:**
- Page 3 is still selected even though the first page is shown

**Expected Result:**
- Selected page should be 1

**Environment Details:**

***Devices(s):***
- Desktop

***

[2021-11-12 07:17] LieutenantRoger opened #104 "Sometimes the challenges page does not get displayed - Not consistent but a video has been attached"
1. Sometimes reloading the page does not display all the components. requires multiple reloads to get the full page components. I know that this is not consistent, thats why I have attached a video. So please check the video.

![2021-10-29_at_20-48-13](/uploads/c9219b21df3ce162ecbdfc082bc4bc90/2021-10-29_at_20-48-13.mp4)

[2021-11-12 07:17] LieutenantRoger opened #105 "page content delay when not logged in"
Issue Title : page load delay
Device: laptop
Operating System: windows 10
Browser: Microsoft Edge
Version 95.0.1020.30 (Official build) (64-bit)

Steps to reproduce : goto https://platform.topcoder.com/earn/find/challenges
Actual result: blank app
Expected results: app content should displayed
Bug Priority : p0
Bug Type : Functional
screenshot: ![Screenshot__17_](/uploads/2f1022a8a51b7990065ecf176

[2021-11-12 07:18] LieutenantRoger opened #106 "[$20] Going to last page and then searching for a keyword doesn't give any results"
**Summary:**
Going to last page and then searching for a keyword doesn't give any results

**Steps to Reproduce:**

1. open https://platform.topcoder.com/earn/find/challenges
2. Go to the last page on the listing table
3. Type "Bug" in the challenge search box
4. Notice the results

**Actual Result:**
Going to last page and then searching for a keyword doesn't give any results

**Expected Result:*

[2021-11-12 07:18] LieutenantRoger opened #107 "(Xiaomi Mi A1)(Chrome) Error When trying to open a challenge"
1. Issue Title : (Xiaomi Mi A1)(Chrome) Error When trying to open a challenge
2. Device: Xiaomi Redmi A1 (Android 9.0)
3. Operating System: Android 9; Mi A1 Build/PKQ1.180917.001
4. Browser: Google Chrome 95.0.4638.50
5. Steps to reproduce :
    - open https://platform.topcoder.com/earn/find/challenges
    - tap Spooky, Scary Bug Hunt Event 4
6. Actual result: There is an error when open a challen

[2021-11-12 07:18] LieutenantRoger opened #108 "Skills/Technology filter does not contain all filter tags, which are there on challenges"
**Summary:**
Skills/Technology filter does not contain all filter tags, which are there on challenges

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. in skills filter search for filters like eg. 'QA', 'Bug Hunt', these are not available on filter, but these are visible on in this challenge for example 'https://platform.topcoder.com/earn/find/challenges/e188

[2021-11-12 07:18] LieutenantRoger opened #109 "[$15] [Web- Chrome] App is not navigating challenge page 1 if user go to last page of the challenge and click challenge link menu"
Summary :
[Web- Chrome] App is not navigating challenge page 1 if user go to last page of the challenge and click challenge link menu

https://user-images.githubusercontent.com/42398485/142822117-d96a9c21-1645-41e2-8071-dc91b1f75b99.mp4

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Go to last page
3.	Click challenge Link menu

Actual:
App is not navigating

[2021-11-12 07:18] LieutenantRoger opened #110 "[$25] Some skills (ex: F#) will remove automatically while selecting in Skills/Technology"
Summary:
The skills F# will remove automatically while selecting in Skills/Technology

Steps to Reproduce:
Open up the url:https://platform.topcoder.com/earn/find/challenges?bucket=All%20Active%20Challenges&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
Select F# from the Skills/ Technology

[2021-11-12 07:18] LieutenantRoger opened #111 "cant see result when apply filter"
Steps to Reproduce:

Open up the url
when clicking on skills from contest button

Actual Result:
no result error msg
Expected Result:
should be there
because when clicking on contest and skill no result is showing
note: can see the contest without filter
Environment Details:
Devices(s):
PC
Operating System:
Windows 11
Browser and Version:
Chrome
edge
Screen recording or Screen snapshot:
![Screensh

[2021-11-12 07:18] LieutenantRoger opened #112 "Challenge submission list is empty despite there is submissions"
**Summary:**
Challenge submission list is empty despite there is submissions

**Steps to Reproduce:**
1. Go to https://platform.topcoder.com/earn/find/challenges/75fbe78a-780b-42c4-bc4d-ecf45f743d86?tab=submissions
2. Click on submissions tab

**Actual Result:**
 - List is empty

**Expected Result:**
 - It should list 62 submissions

**Environment Details:**

***Devices(s):***
 - Laptop
***Operati

[2021-11-12 07:18] LieutenantRoger opened #113 "Same "From"/"To" date picker not properly filtering closed challenges"
**Summary:**
- "From" date picker not properly filtering closed challenges

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Click Closed Challenges
3. Click "From" datepicker and select the current date twice
4. Observe the results

**Actual Result:**
- Challenges older than the selected date are getting displayed showing as "Invalid date"

**Expected Result

[2021-11-12 07:18] LieutenantRoger opened #114 "Challenge list page, click tags show not found"
Issue Title : skill filter gives incorrect output
Device: laptop
Operating System: windows 10
Browser: Microsoft Edge
Version 95.0.1020.30 (Official build) (64-bit)

Steps to reproduce : goto https://platform.topcoder.com/earn/find/challenges
                     type in skills section
Actual result: no result displayed even after tag
Expected results: appropriate tagged challenge should show
Bug

[2021-11-12 07:18] LieutenantRoger opened #115 "[$25] Challenge detail top Challenge tag link open challenge list with not found data"
Steps to Reproduce:

1. Open up the url - https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&tags[]=QA&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK

2. Click on a challenge for example - https://platform.topcoder.com/earn/find/challenges/648a08b2-6c57-4284

[2021-11-12 07:18] LieutenantRoger opened #116 "[$20] Date filter automatically changes when removed hover"
**Summary:**
Date filter automatically changes when removed hover

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. click on closed challenges
3. click on date filter on 'From'
4. click and change month from dropdown
5. hover out, and see month reset

**Actual Result:**

Date filter automatically changes when removed hover

**Expected Result:**

Date should b

[2021-11-12 07:18] LieutenantRoger opened #117 "Submission mail having link to old page"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) OPen https://platform.topcoder.com/earn/find/challenges/648a08b2-6c57-4284-ac8c-43175cfaad77/
3) If already registered than submit
4) Open mail that received after submission

**Actual result:**
Link  pointing to old page
i.e https://www.topcoder.com/challenges/648a08b2-6c57-4284-ac8c-43175cfaad77

**Expected results:**
It s

[2021-11-12 07:18] LieutenantRoger opened #118 "http status code 500 is seen in console for logged in user profile on navigating to challenge details page"
**Summary:**
http status code 500 is seen in console for logged in user profile on navigating to challenge details page
https://api.topcoder-dev.com/v3/members/<member_id>

**Steps to Reproduce:**

1. Open Browser console
2. Open challenge listing page (make sure you are logged in already)
3. click on "Spooky, Scary Bug Hunt Event 4" or go to "https://platform.topcoder.com/earn/find/challenges/e18

[2021-11-12 07:18] LieutenantRoger opened #119 "When we click on "Closed Challenges" and Choose Date range as "Past Month", it still shows Challenges out of that range"
**Summary:**

* When we click on "Closed Challenges" and Choose Date range as "Past Month", it still shows Challenges out of that range

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Click on All Active Challenges
3. Then  click on "Closed Challenges"
4. Choose Date range as Past Month (29th Sep, 2021 - 30th Oct, 2021)
5. Challenge list still shows challen

[2021-11-12 07:18] LieutenantRoger opened #120 "The filter - "Closed challenges" does not work properly. It shows even the active challenges"
1. Go to challenge listings page and then choose the filter - "Closed challenges"
2.  This filter shows even the active challenegs

![2021-10-29_at_21-21-16](/uploads/1a37176ca28cf7ef60778dbd78229bab/2021-10-29_at_21-21-16.mp4)

[2021-11-12 07:18] LieutenantRoger opened #121 "Loading time: To click the challenge link in challenge detail page have a delayed time to return to challenge page"
**Summary:**
To click the challenge link in challenge detail page have a delayed time to return to challenge page

**Steps to Reproduce:**

1. Navigate to https://platform.topcoder.com/earn/find/challenges
2. Select one of the challenge e.g Spooky, Scary Bug Hunt Event 4
3. Navigate to the selected challenge detail page: https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b8

[2021-11-12 07:18] LieutenantRoger opened #122 "able to upload all types of files after changing the extension to .zip, no input validation security issue"
**Summary:**
able to upload all types of files after changing the extension to .zip, no input validation security issue

**Steps to Reproduce:**

1. Open a challenge details page https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb
1. Make sure you are registered for the challenge
1. Click on Submit
1. Click on Pick a file
1. Make sure you a video file on your de

[2021-11-12 07:18] LieutenantRoger opened #123 "Loading time: Filtering by date is slow on repeated use"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Switch to closed challenges<br/>
Change Date filter to 6 Oct to 7 Oct<br/>
Change Date filter to 21 Oct to 31 Oct<br/>
Click Reset Filter in calendar<br/>
Chane date filter to 21 Oct 2040 to 31Oct 2040<br/>

_**Actual Result(s)**<br/>_
Search results show very slow on repeated use

_**Expected Resu

[2021-11-12 07:18] LieutenantRoger opened #124 "[$15] Challenge list page challenge left icon filter challenge list with not found data"
**Summary:**

**Steps to Reproduce:**

1. [LogIn] Go to https://platform.topcoder.com/earn/find/challenges
2. Click on 'F2F Quality Assurance Spooky 4 Test Challenge' F2F icon

**Actual Result:**
Click on 'F2F Quality Assurance Spooky 4 Test Challenge' F2F icon, but get 'No challenge appear' result

**Expected Result:**

Should get result for on;y 'F2F' specific challenge result only.

**Environme

[2021-11-12 07:19] LieutenantRoger opened #125 "Search Challenge Stack (getting Error) after the challenge not found then click browser back then click clear filter."
Search Challenge getting Error After the challenge not found.
I try to search challenge with keyword "Figma", but no result found. then click browser back arrow and click clear filter, but this page getting stack, can not reset /back to previous page.
See video
https://drive.google.com/file/d/1v78sUzZdyl24Tx-fEfS2uhDpNggSE-uZ/view?usp=sharing

Environment Details:
Devices(s): Laptop
Operating Syst

[2021-11-12 07:19] LieutenantRoger opened #126 "[$15] Skills/Technology Filters that have the pound symbol ('#') or other special symbol disrupting normal filtering function"
**Summary:**

Skills/Technology filters that have a pound symbol ('#') are disrupting other filters because of the way it is being passed in the URL. Skills/Technology should be able to compound by selecting multiple options so that they filter based on all of the selected skills. However, when selecting certain options (i.e. C#, F#), many or all of the selected options are removed from the list.

[2021-11-12 07:21] LieutenantRoger opened #127 "Search Challenge Stack (getting Error) after the challenge not found then click browser back then click clear filter."
Search Challenge getting Error After the challenge not found.
I try to search challenge with keyword "Figma", but no result found. then click browser back arrow and click clear filter, but this page getting stack, can not reset /back to previous page.
See video
https://drive.google.com/file/d/1v78sUzZdyl24Tx-fEfS2uhDpNggSE-uZ/view?usp=sharing

Environment Details:
Devices(s): Laptop
Operating Syst

[2021-11-12 07:22] LieutenantRoger opened #128 "[$25] Once user opens date filter on mobile there is no way to close it without actually selecting a date"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Switch to closed challenges<br/>
Open Calendar with the icon<br/>
Observe that user can now not leave this scenario without selecting a date, should have a close button<br/>

_**Actual Result(s)**<br/>_
Once user opens date filter on mobile there is no way to close it without actually selecting a d

[2021-11-12 07:22] LieutenantRoger opened #129 "2nd time onwards reenable Challange checkbox taken longer time"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) From left side de-select from "Challenge Type", Challange.
3) Observe "Open for registration" count
4) REenable Challange checkbox
5) Again disable.
6) Again Re-enable

**Actual result:**
2nd time onwards reenable Challange checkbox taken longer time

**Expected results:**
2nd time onwards reenable Challange checkbox should

[2021-11-12 07:22] LieutenantRoger opened #130 "Load time: On-Click button for challenge type selection, it is taking long time to filter results"
**Summary:**
On-click button for selecting type of challenge it is taking more time to fetch results

**Steps to Reproduce:**

1. On-click button for challenge type seletion
2. It is taking more time to fetch us the results

**Actual Result:**
We are not finding challenges of relevent type immediately

**Expected Result:**
We should be able to find challenges
[reviewer comment\]Maybe we could add

[2021-11-12 07:22] LieutenantRoger opened #131 "Load time: Sub community selections taking time to load"
**Issue**: Sub community options are loading slowly

**Device**: Laptop

**OS**: Windows 10

**Browser**: Version 95.0.4638.69 (Official Build) (64-bit)

**Steps to reproduce**: After selecting the check box its taking time to load

**Expected results**: to be loaded on click [reviewer comment\]Maybe we could add loading spinner in order that tell user that it's loading

**Actual result**: should

[2021-11-12 07:22] LieutenantRoger opened #132 "[$20] [Web- Chrome] App not allowing to select date range 1921"
Summary :
[Web- Chrome] App not allowing to select date range 1921

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Click closed challenge
3.	Click date rage as 1921

Actual:
App not allowing to select date range 1921

Expected:
App should allow to select date range 1921

Environment:

_	Device(s): Windows
_	Resolution: 1920_1080
_	Operating System: Windows 10

[2021-11-12 07:22] LieutenantRoger opened #133 "[$30] Submission still gets uploaded even though user has logged out in another tab"
**Summary:**
Submission still gets uploaded even though user has logged out in another tab [Security Issue]

**Steps to Reproduce:**

1. Open a challenge details page (https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb)
1.  make sure you are registered for the challenge
1. Click on Submit
1. On the submission page, right click on User's avatar and open the prof

[2021-11-12 07:22] LieutenantRoger opened #134 "Load time between Open for registration and Closed increases manifold after applying filters"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Switch between Open for Registration and closed challegnes, load time is just about okay<br/>
Remove Data Science and QA from filters<br/>
Switch between Open for Registration and closed challegnes, load time is way too high<br/>

_**Actual Result(s)**<br/>_
Load time between Open for registration

[2021-11-12 07:22] LieutenantRoger opened #135 "When we click on "Open For Registration" and sort the Challenges according to Prizes, it takes a very long time to sort the list."
**Summary:**

* When we click on "Open For Registration" and sort the Challenges according to Prizes, it takes a very long time to sort the list.

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Click on "Open for Registration"
3. Then sort the challenges by "Prizes"
4. The sorting takes a very long time to happen

**Actual Result:**

 When we click on "Open

[2021-11-12 07:22] LieutenantRoger opened #136 "[$25] [Web- Chrome] App displaying no result found while editing the date range"
Summary :
[Web- Chrome] App displaying no result found while editing the date range

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Click closed challenge
3.	Click date rage Oct 1, 2000 - Oct 1, 2000
4.	Now change the month January
5.	Again change the month January

Actual:
App displaying no result found while editing the date range

Expected:
App should not

[2021-11-12 07:22] LieutenantRoger opened #137 "Filter by Tag and reset taking long response."
Filter by Tag and reset taking long response.
Please see video
https://drive.google.com/file/d/1EOzICY9SrtXVHM2XUJEr8qn8g9jre_3R/view?usp=sharing

Environment Details:
Devices(s): Laptop
Operating System: Windows 10
Browser and Version: Chrome Version 95.0.4638.54 (64-bit)

[2021-11-12 07:22] LieutenantRoger opened #138 "IPAD- The page load time is taking long and the content showing scrambled"
**Issue title:**
IPAD- The page load time is taking long and the content showing scrambled

**Steps to reproduce:**
1. Open the link in IPAD
2. check how long the page load and check the content in the page
3. the content is not clear and it is scrambled

**Actual result:**
the page load long time and the contents are scrambled

**Expected result:**
the page should load faster and the contents sho

[2021-11-12 07:22] LieutenantRoger opened #139 "[$25] Challenge not showing but number count shows"
Steps to Reproduce

Open the link https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&events[]=tco21&page=2&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&types[]=CH
Go to left filter

Select: Open for registration
Challenge type: Challenge
Tracks: Design
Sub Community: TCO 21

Actual Result(s)
Open for Registration Showing 1 result. Bu

[2021-11-12 07:22] LieutenantRoger opened #140 "[Windows 10][Microsoft Edge] Loading time: Check tracks, Challenge list not showing or slow"
**Steps to Reproduce**

1. Goto https://platform.topcoder.com/earn/find/challenges
2. Unchek All Of the track Challanges

**Actual Result(s)**

Challenge does not show all challenge tracks by default. The problem is that it doesn't display anything but a warning

**Expected Result(s)**

Should display proper error message
[Review comment] this is due to API call time load, myside, it takes 4-5seco

[2021-11-12 07:22] LieutenantRoger opened #141 "Track Checkbox change status should remain non clickable till the challange listing gets refreshed."
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) From left side Track, Disable "QA" wait for page to get refreshed.
3) Than reenable "QA" by click on checkbox. wait for page refresh
4) Now, Do this disable and enable in very quick.
Observe

**Actual result:**
If disable and enable track check box than page does not get refreshed that quick.
During that time user is able to

[2021-11-12 07:22] LieutenantRoger opened #142 "Load time: Unregistering sometimes create problem"
This does not happen always - but happens after 3/4 register/unregister.

**Summary:**

**Steps to Reproduce:**

1. Try to register and later unregister a challenge for several times. https://platform.topcoder.com/earn/find/challenges/bc959f3c-3f90-412a-81b4-e6ae29199ded?tab=registrants

**Actual Result:**

Sometimes there are some exceptions.

**Expected Result:**

It should unregister always.

*

[2021-11-12 07:22] LieutenantRoger opened #143 "[$40] [Web- Chrome] App displaying result when user remove all filters and click challenge link"
Summary :
[Web- Chrome] App displaying result when user remove all filters and click challenge link

https://user-images.githubusercontent.com/42398485/142851057-1dcaf083-b272-4e3b-af3a-d409139279ad.mp4

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Remove all filters , just check all
3.	Click Challnage link

Actual:
App displaying result when user remove al

[2021-11-12 07:22] LieutenantRoger opened #144 "Submission uploaded through platform.topcoder.com is corrupted"
**Summary:**
- Submission uploaded through platform.topcoder.com is corrupted

**Steps to Reproduce:**

Prerequisite: Register to a test challenge

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Go to your registered test challenge
3. Click Submit
4. Drag a zip file containing an empty text file
5. Check "I understand and agree"
6. Click Submit
7. Click Back to Challenge
8. Click S

[2021-11-12 07:22] LieutenantRoger opened #145 "[$15] Number of registrants does not count the actual number of users correctly"
1. go to any new challenge details page and register for the challenge.

2. Within few seconds, the user will be listed under the registrations column, but the number of registrants does not get updated

3. As you can see in the below image, there are 5 registrants but the number shows only 4
![image](/uploads/bd7def53718473f9ce88c1af2c7e8e97/image.png)

4. Although this gets updated properly afte

[2021-11-12 15:50] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/e1c6acc2-5010-4eea-b9df-43a1e736f066 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-12 15:51] LieutenantRoger commented on #65
@bug-bash-helper assign me

[2021-11-12 15:51] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/e1c6acc2-5010-4eea-b9df-43a1e736f066 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-12 15:51] LieutenantRoger commented on #65
Challenge https://www.topcoder.com/challenges/e1c6acc2-5010-4eea-b9df-43a1e736f066 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-12 15:51] #65 closed

[2021-11-12 15:51] LieutenantRoger commented on #65
Challenge e1c6acc2-5010-4eea-b9df-43a1e736f066 has been cancelled<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-13 06:55] LieutenantRoger commented on #99
I think the error message can be more descriptive, maybe we will need change the backend to deliver better error message.

[2021-11-13 07:23] LieutenantRoger commented on #94
Backend and Frontend needs to sync the skills, otherwise we have not consist behavior since the frontend are depending on the backend skills

[2021-11-13 07:47] LieutenantRoger commented on #92
Most Recent is sorted by `updated` field, needs to double check which field we should utilized, I think using 'created' maybe better

[2021-11-13 07:55] LieutenantRoger commented on #91
1. Backend needs to be more robust when handling such long search text, instead of throwing 504 error like this:  https://monosnap.com/file/hwIO2gIAEeEROO7HzOJyMR6a1U00pn

2. Frontend needs to be handled well. I think we will need to preset some validation rules in both frontend and backend.

[2021-11-13 08:06] LieutenantRoger commented on #90
1. Backend needs to perform the validation for these values.
2. Frontend should perform the validation as well

[2021-11-13 08:16] LieutenantRoger commented on #88
1. Backend search field needs to be more robust to handle special characters, currently the special characters are presenting in the skills and title fields.
2. Frontend may encode the special firstly in order to pass it back to backend API.

[2021-11-13 08:22] LieutenantRoger commented on #87
I think this is a backend issue, we normally will need to ask support to help enable the registration button after the challenge is launched.  I think we will need further discussion about this ticket to identify where the issue is.

[code]

Frontend will disable this button when any one of above 4 flags are true.

[2021-11-13 08:23] LieutenantRoger commented on #86
It appears some latency happened in Frontend.

[2021-11-13 08:28] LieutenantRoger commented on #84
This appears to be a backend skills API issue

[2021-11-13 08:30] LieutenantRoger commented on #83
It looks the searching is case sensitive in the backend,  we'd better to change it to be case in-sensitive

[2021-11-13 08:33] LieutenantRoger commented on #82
Can't reproduce

[2021-11-13 08:36] LieutenantRoger commented on #80
Won't need a apply button but
1. Add loading indicator
2. Add the debounce for the changes of filters

[2021-11-13 08:41] LieutenantRoger commented on #78
App is not broken, the request is aborted as expected. But we should add debounce feature for the switching of the sortBy column

[2021-11-13 08:41] LieutenantRoger commented on #77
This looks another skills API issue

[2021-11-13 08:42] LieutenantRoger commented on #76
Frontend issue, needs to discuss with design team about this.

[2021-11-13 08:47] LieutenantRoger commented on #73
Not sure why it's not there originally, but need to discuss with @Oanh

[2021-11-13 08:49] LieutenantRoger commented on #72
This shall be a performance issue, it depends on the network availability.  But I think we have room  to optimize the challenges-app by making some restruction

[2021-11-13 08:50] LieutenantRoger commented on #71
This seems not implemented, need to discuss with @Oanh

[2021-11-13 08:53] LieutenantRoger commented on #70
I think the API needs to support case in-sensitive search

[2021-11-15 21:06] Oanh-and-only-Oanh commented on #117
Challenge flow related emails should point to the EARN MFE pages not to Community App.

[2021-11-16 05:04] LieutenantRoger commented on #145
Challenge https://www.topcoder.com/challenges/9b28feda-3f3f-4913-9f4e-3201315fab87 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:05] LieutenantRoger commented on #143
Challenge https://www.topcoder.com/challenges/beeb8021-d10c-4f99-86ff-8b2665271d52 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:06] LieutenantRoger commented on #139
Challenge https://www.topcoder.com/challenges/f926525c-1391-406a-8c06-a7707273ab8c has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:09] LieutenantRoger commented on #136
Challenge https://www.topcoder.com/challenges/ece21c28-f97a-495c-890d-5f5a02c769b7 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:09] LieutenantRoger commented on #132
Challenge https://www.topcoder.com/challenges/4d4b97dd-f09a-4d31-8d46-3d7211373176 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:10] LieutenantRoger commented on #126
Challenge https://www.topcoder.com/challenges/3dc2f043-3957-4dbb-b557-4285e10beefb has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:11] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:13] LieutenantRoger commented on #116
Challenge https://www.topcoder.com/challenges/abc595b9-7c43-4275-b584-a46875f7bd0e has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:13] LieutenantRoger commented on #110
Challenge https://www.topcoder.com/challenges/5e654946-ad38-43fb-80ae-8d02327b6f86 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:15] LieutenantRoger commented on #106
Challenge https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:15] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:16] LieutenantRoger commented on #98
Challenge https://www.topcoder.com/challenges/d9f7b46c-6fd0-4d6d-baeb-6ecaf20ae2a2 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:17] LieutenantRoger commented on #97
Challenge https://www.topcoder.com/challenges/4ec4d3a3-eb88-4ad5-b73c-0d37c23cda98 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 05:17] LieutenantRoger commented on #96
Challenge https://www.topcoder.com/challenges/f14575a4-d111-4e8b-8964-65b0422151e3 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 06:53] nqviet commented on #145
@bug-bash-helper assign

[2021-11-16 06:53] LieutenantRoger commented on #145
Challenge https://www.topcoder.com/challenges/9b28feda-3f3f-4913-9f4e-3201315fab87 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 07:04] shivam-51 commented on #132
@bug-bash-helper assign

[2021-11-16 07:04] LieutenantRoger commented on #132
Challenge https://www.topcoder.com/challenges/4d4b97dd-f09a-4d31-8d46-3d7211373176 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 07:24] fikzzzy commented on #139
@bug-bash-helper assign

[2021-11-16 07:33] shivam-51 commented on #132
@LieutenantRoger can you please reupload the media file? I cannot reproduce the issue with the provided details. Thanks

[2021-11-16 07:42] shivam-51 commented on #96
@bug-bash-helper assign

[2021-11-16 07:44] shivam-51 commented on #132
@bug-bash-helper unassign

[2021-11-16 07:44] LieutenantRoger commented on #132
Challenge https://www.topcoder.com/challenges/4d4b97dd-f09a-4d31-8d46-3d7211373176 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 07:44] shivam-51 commented on #96
@bug-bash-helper assign

[2021-11-16 07:44] LieutenantRoger commented on #96
Challenge https://www.topcoder.com/challenges/f14575a4-d111-4e8b-8964-65b0422151e3 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 07:50] yoution commented on #110
@bug-bash-helper assign

[2021-11-16 07:50] LieutenantRoger commented on #110
Challenge https://www.topcoder.com/challenges/5e654946-ad38-43fb-80ae-8d02327b6f86 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 07:53] nqviet commented on #145
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/146 is ready for review

[2021-11-16 07:58] nqviet commented on #143
@bug-bash-helper assign

[2021-11-16 07:58] LieutenantRoger commented on #143
Challenge https://www.topcoder.com/challenges/beeb8021-d10c-4f99-86ff-8b2665271d52 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 08:52] draco-malfoy commented on #98
@bug-bash-helper assign

[2021-11-16 08:53] LieutenantRoger commented on #98
Challenge https://www.topcoder.com/challenges/d9f7b46c-6fd0-4d6d-baeb-6ecaf20ae2a2 has been assigned to malfoys76.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 08:54] draco-malfoy commented on #98
@bug-bash-helper unassign

[2021-11-16 08:54] LieutenantRoger commented on #98
Challenge https://www.topcoder.com/challenges/d9f7b46c-6fd0-4d6d-baeb-6ecaf20ae2a2 malfoys76 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 08:55] draco-malfoy commented on #101
@bug-bash-helper assign

[2021-11-16 08:55] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca has been assigned to malfoys76.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 09:11] yoution commented on #110
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/147 is ready for review

[2021-11-16 09:13] yoution commented on #106
@bug-bash-helper assign

[2021-11-16 09:13] LieutenantRoger commented on #106
Challenge https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 09:59] LieutenantRoger commented on #106
Challenge https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 10:02] shivam-51 commented on #96
@bug-bash-helper #148 is ready for review.

[2021-11-16 10:02] yoution commented on #139
@bug-bash-helper assign

[2021-11-16 10:05] yoution commented on #139
@bug-bash-helper unassign

[2021-11-16 10:06] yoution commented on #126
@bug-bash-helper assign

[2021-11-16 10:06] LieutenantRoger commented on #126
Challenge https://www.topcoder.com/challenges/3dc2f043-3957-4dbb-b557-4285e10beefb has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 10:09] shivam-51 commented on #98
@bug-bash-helper assign

[2021-11-16 10:09] LieutenantRoger commented on #98
Challenge https://www.topcoder.com/challenges/d9f7b46c-6fd0-4d6d-baeb-6ecaf20ae2a2 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 10:19] shivam-51 commented on #98
@bug-bash-helper unassign

[2021-11-16 10:20] LieutenantRoger commented on #98
Challenge https://www.topcoder.com/challenges/d9f7b46c-6fd0-4d6d-baeb-6ecaf20ae2a2 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 10:20] shivam-51 commented on #119
@bug-bash-helper assign

[2021-11-16 10:20] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 10:25] fikzzzy commented on #139
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/149 is ready for review

[2021-11-16 10:31] fikzzzy commented on #98
@bug-bash-helper assign

[2021-11-16 10:33] fikzzzy commented on #98
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/149 is ready for review

[2021-11-16 10:33] fikzzzy commented on #98
This issue is related to https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/139 @LieutenantRoger

[2021-11-16 10:38] fikzzzy commented on #136
@bug-bash-helper assign

[2021-11-16 10:51] yoution commented on #126
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/150 is ready for review

[2021-11-16 10:55] yoution commented on #116
@bug-bash-helper assign

[2021-11-16 11:09] LieutenantRoger commented on #106
Challenge https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 11:20] yoution commented on #106
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/151 is ready for review

[2021-11-16 11:56] nqviet commented on #143
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/153 is ready for review

[2021-11-16 12:00] nqviet commented on #132
@bug-bash-helper assign

[2021-11-16 12:04] nqviet commented on #116
@bug-bash-helper assign

[2021-11-16 12:45] fikzzzy commented on #136
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/154 is ready for review

[2021-11-16 13:00] nqviet commented on #97
@bug-bash-helper assign

[2021-11-16 13:00] LieutenantRoger commented on #97
Challenge https://www.topcoder.com/challenges/4ec4d3a3-eb88-4ad5-b73c-0d37c23cda98 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:29] LieutenantRoger commented on #132
@nqviet  Sorry I forgot to add another label. Please pick as you wish

[2021-11-16 13:30] LieutenantRoger commented on #128
Challenge https://www.topcoder.com/challenges/b2aabd7c-308a-4bbf-baa3-7b47c5082035 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:31] LieutenantRoger commented on #116
@nqviet  you may pick it up now. :) Looks another member picked it and resigned

[2021-11-16 13:33] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:35] LieutenantRoger commented on #85
Challenge https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:36] yoution commented on #85
@bug-bash-helper assign

[2021-11-16 13:36] LieutenantRoger commented on #85
Challenge https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:36] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:37] LieutenantRoger commented on #78
Challenge https://www.topcoder.com/challenges/554fc9a3-a748-40cc-a89a-99aa53cc8275 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:39] LieutenantRoger commented on #76
Challenge https://www.topcoder.com/challenges/2735a02e-b373-46af-b8e0-d024dad4fda0 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:40] yoution commented on #85
@LieutenantRoger I can not open the demo video

[2021-11-16 13:44] shivam-51 commented on #95
@bug-bash-helper assign

[2021-11-16 13:44] shivam-51 commented on #119
@bug-bash-helper unassign

[2021-11-16 13:44] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 13:44] shivam-51 commented on #95
@bug-bash-helper assign

[2021-11-16 13:44] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 14:32] LieutenantRoger commented on #75
Challenge https://www.topcoder.com/challenges/38002f64-50d6-4ee9-b73a-3f5d2b50923a has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 14:33] LieutenantRoger commented on #90
Challenge https://www.topcoder.com/challenges/bf0c8fb4-6165-4ee6-a68f-fac2518cb3e3 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 14:40] LieutenantRoger commented on #85
Challenge https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 14:41] LieutenantRoger commented on #85
Challenge https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:04] yoution commented on #85
@bug-bash-helper #157  is ready for review

[2021-11-16 15:07] yoution commented on #75
@bug-bash-helper assign

[2021-11-16 15:07] LieutenantRoger commented on #75
Challenge https://www.topcoder.com/challenges/38002f64-50d6-4ee9-b73a-3f5d2b50923a has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:10] LieutenantRoger commented on #75
Challenge https://www.topcoder.com/challenges/38002f64-50d6-4ee9-b73a-3f5d2b50923a yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:13] LieutenantRoger commented on #76
Challenge https://www.topcoder.com/challenges/2735a02e-b373-46af-b8e0-d024dad4fda0 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:21] yoution commented on #76
@bug-bash-helper #159 is ready for review

[2021-11-16 15:22] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:25] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:26] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:31] LieutenantRoger commented on #90
Challenge https://www.topcoder.com/challenges/bf0c8fb4-6165-4ee6-a68f-fac2518cb3e3 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:35] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-16 15:37] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-16 15:37] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:47] LieutenantRoger commented on #90
Challenge https://www.topcoder.com/challenges/bf0c8fb4-6165-4ee6-a68f-fac2518cb3e3 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:54] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 16:03] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 16:23] nqviet commented on #97
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/160 is ready for review

[2021-11-16 16:25] nqviet commented on #132
@bug-bash-helper assign

[2021-11-16 16:25] LieutenantRoger commented on #132
Challenge https://www.topcoder.com/challenges/4d4b97dd-f09a-4d31-8d46-3d7211373176 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 16:39] LieutenantRoger commented on #100
Challenge https://www.topcoder.com/challenges/d9347e2b-c1e0-4aa5-9e44-4b035a8eb8fa has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 16:42] LieutenantRoger commented on #102
Challenge https://www.topcoder.com/challenges/6a184130-5370-4cea-98ed-96829b22c969 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 16:55] LieutenantRoger commented on #124
The challenge track is : "Quality Assurance", so it might need to be normalized to match the filter on the left

[2021-11-16 16:56] LieutenantRoger commented on #124
Challenge https://www.topcoder.com/challenges/0b62a837-239e-4a82-bdd7-45107cd8185a has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 16:58] LieutenantRoger commented on #127
duplicated with #125

[2021-11-16 16:58] #127 closed

[2021-11-16 17:31] LieutenantRoger commented on #85
@yoution  Yes, hopefully you have get the access to our original repo, which includes all sorts of video/snapshots

[2021-11-16 17:33] fikzzzy commented on #128
@bug-bash-helper assign

[2021-11-16 17:37] LieutenantRoger commented on #85
FYI: We have provided the self-registration link to our original gitlab repo in the challenge forum

[2021-11-16 18:21] fikzzzy commented on #128
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/161 is ready for review

[2021-11-16 18:26] fikzzzy commented on #90
@bug-bash-helper assign

[2021-11-16 18:34] fikzzzy commented on #90
@bug-bash-helper unassign

[2021-11-16 18:34] fikzzzy commented on #90
unassign since it need change from backend

[2021-11-16 18:37] fikzzzy commented on #109
@bug-bash-helper assign

[2021-11-16 19:11] nqviet commented on #132
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/162 is ready for review

[2021-11-16 19:17] nqviet commented on #119
@bug-bash-helper assign

[2021-11-16 19:17] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 20:55] nqviet commented on #119
@LieutenantRoger

The current filter is choosing the challenges which started before 30-Oct and ended after 29-Sep.
In other words, the filter will list all challenges that their durations intersect with the filter [startDate, endDate].

ex:
![Untitled](https://user-images.githubusercontent.com/36178659/142064025-a1cfe6b5-b8c1-4db6-aaac-8770d901bbd0.png)

Could you please elaborate?

[2021-11-16 23:14] fikzzzy commented on #109
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/163 is ready for review

[2021-11-16 23:20] fikzzzy commented on #124
@bug-bash-helper assign

[2021-11-16 23:30] fikzzzy commented on #124
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/164 is ready for review

[2021-11-16 23:34] fikzzzy commented on #100
@bug-bash-helper assign

[2021-11-17 01:11] fikzzzy commented on #100
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/165 is ready for review

[2021-11-17 01:15] fikzzzy commented on #78
@bug-bash-helper assign

[2021-11-17 01:34] fikzzzy commented on #78
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/166 is ready for review

[2021-11-17 01:37] fikzzzy commented on #101
is this task ope for pickup? @LieutenantRoger

[2021-11-17 01:40] fikzzzy commented on #102
@bug-bash-helper assign

[2021-11-17 02:24] LieutenantRoger commented on #101
@draco-malfoy Please respond with your progress, otherwise please unassign ,so other members can pick it up, thank you.

[2021-11-17 02:26] LieutenantRoger commented on #90
@fikzzzy Please add frontend validation, from - to needs to be vaild before sending request to server  :) This is about the ticket

[2021-11-17 04:56] nqviet commented on #119
@bug-bash-helper unassign

[2021-11-17 04:56] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 nqv2018 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 04:57] nqviet commented on #116
@bug-bash-helper assign

[2021-11-17 04:57] LieutenantRoger commented on #116
Challenge https://www.topcoder.com/challenges/abc595b9-7c43-4275-b584-a46875f7bd0e has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 05:01] nqviet commented on #116
auto fixed after https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/162

@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/162 is ready for review

[2021-11-17 05:07] nqviet commented on #75
@bug-bash-helper assign

[2021-11-17 05:07] LieutenantRoger commented on #75
Challenge https://www.topcoder.com/challenges/38002f64-50d6-4ee9-b73a-3f5d2b50923a has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 06:28] nqviet commented on #75
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/167 is ready for review

[2021-11-17 06:39] Gauravseta commented on #90
@bug-bash-helper assign

[2021-11-17 06:39] LieutenantRoger commented on #90
Challenge https://www.topcoder.com/challenges/bf0c8fb4-6165-4ee6-a68f-fac2518cb3e3 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 06:56] shivam-51 commented on #79
@bug-bash-helper unassign

[2021-11-17 06:56] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 06:56] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-17 06:57] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-17 06:57] shivam-51 commented on #79
@LieutenantRoger why can I not assign myself to this issue? Is this a bot error

[2021-11-17 07:01] shivam-51 commented on #95
@bug-bash-helper unassign

[2021-11-17 07:01] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 07:02] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-17 07:02] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 07:07] shivam-51 commented on #79
On clearing the filters prizes resets to 0 and 10,000. Is that needed to be cleared?

[2021-11-17 07:08] shivam-51 commented on #95
@bug-bash-helper assign

[2021-11-17 10:02] codejamtc commented on #95
Fixed :ok:

https://www.topcoder-dev.com/challenges/9131c5da-6ed9-4186-9a1b-4de31df5ba17?tab=submissions

https://user-images.githubusercontent.com/42398485/142178459-a0d2b0af-0b4b-4271-8da5-d3342de2cfa9.mp4

[2021-11-17 10:05] codejamtc commented on #85
Fixed :ok: checked via https://platform.topcoder-dev.com/earn/find/

https://user-images.githubusercontent.com/42398485/142180094-1a86e78a-b7e0-459b-9f36-e35c17d4a137.mp4

[2021-11-17 10:10] coderhacker commented on #76
QA comments: This is passed on dev

![image](https://user-images.githubusercontent.com/62358241/142180811-019bd9df-e76c-4ded-bf2c-9999aeae42ab.png)

[2021-11-17 10:20] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 14:32] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca malfoys76 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 14:45] LieutenantRoger commented on #96
@shivam-51

It looks you are changing the component's prop directly in the onChange function, which is not correct. Component should not update its own property directly

[2021-11-17 14:57] shivam-51 commented on #96
Noted. Working on it.

[2021-11-17 15:35] LieutenantRoger commented on #139
ok, let's QA this ticket along with ticket #98

[2021-11-17 15:59] LieutenantRoger commented on #143
@nqviet Comment is added in the PR

[2021-11-17 16:50] LieutenantRoger commented on #124
@fikzzzy

I think for this ticket, instead of reseting the page number,  you actually need to normalize the `Quality Assurance` into `QA` so the Tracks filter can be applied with `QA` filter

[2021-11-17 17:05] Gauravseta commented on #90
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/168 is ready for review

[2021-11-17 17:05] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:06] LieutenantRoger commented on #115
The issue should be the challenge type is not mapped to any track, so there might need some normalization for this to work when applying the track filter

[2021-11-17 17:10] Gauravseta commented on #115
@bug-bash-helper assign

[2021-11-17 17:10] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:10] LieutenantRoger commented on #103
Fixed by other ticket

[2021-11-17 17:10] Gauravseta commented on #115
@LieutenantRoger screenshots links are broken can you please provide new links?

[2021-11-17 17:14] LieutenantRoger commented on #91
In this ticket, let's prevent the search title box to have a very long input text.

To make this a bit simpler, so the input box content is exceeding a certain amount of characters, let's no longer accept more input.

[2021-11-17 17:15] LieutenantRoger commented on #91
Challenge https://www.topcoder.com/challenges/d3f83cd9-7e26-43ec-ad0a-a90e37a1624c has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:15] LieutenantRoger commented on #88
This has been fixed by another ticket

[2021-11-17 17:21] LieutenantRoger commented on #115
Please refer the bug bash forum regarding how to get the original ticket media and snapshots

[2021-11-17 17:23] Gauravseta commented on #115
@bug-bash-helper unassign

[2021-11-17 17:23] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:23] Gauravseta commented on #91
@bug-bash-helper assign

[2021-11-17 17:23] LieutenantRoger commented on #91
Challenge https://www.topcoder.com/challenges/d3f83cd9-7e26-43ec-ad0a-a90e37a1624c has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:31] Gauravseta commented on #115
@bug-bash-helper assign

[2021-11-17 17:31] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:36] Gauravseta commented on #115
@LieutenantRoger it is already working fine

[2021-11-17 17:40] Gauravseta commented on #115
@bug-bash-helper unassign

[2021-11-17 17:40] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:41] Gauravseta commented on #101
@bug-bash-helper assign

[2021-11-17 17:41] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 17:46] Gauravseta commented on #101
@LieutenantRoger shall we apply number limit ? and apply validation? and if number causes the max amount allowed then we show "Maximum limit crossed"?

[2021-11-18 00:03] LieutenantRoger commented on #119
Challenge https://www.topcoder.com/challenges/d39be9c3-794a-41f9-8209-a1cd87acf295 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:48] yoution commented on #115
@bug-bash-helper assign

[2021-11-18 00:48] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-18 00:49] LieutenantRoger commented on #110
Challenge https://www.topcoder.com/challenges/5e654946-ad38-43fb-80ae-8d02327b6f86 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:49] LieutenantRoger commented on #106
Challenge https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:49] LieutenantRoger commented on #85
Challenge https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:49] LieutenantRoger commented on #76
Challenge https://www.topcoder.com/challenges/2735a02e-b373-46af-b8e0-d024dad4fda0 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:49] yoution commented on #115
@bug-bash-helper assign

[2021-11-18 00:50] LieutenantRoger commented on #126
Challenge https://www.topcoder.com/challenges/3dc2f043-3957-4dbb-b557-4285e10beefb yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:50] yoution commented on #115
@bug-bash-helper assign

[2021-11-18 00:50] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 01:22] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 02:23] dprincecoder commented on #133
@bug-bash-helper unassign

[2021-11-18 02:28] yoution commented on #133
@bug-bash-helper assign

[2021-11-18 02:29] yoution commented on #133
@bug-bash-helper assign

[2021-11-18 03:50] codejamtc commented on #136
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142348414-2b6c6f72-650c-4b16-aae1-b23b88485419.mp4

[2021-11-18 03:51] codejamtc opened #170 "Sometimes the date ranges are not fully displayed"
![bandicam 2021-11-18 09-21-15-576](https://user-images.githubusercontent.com/42398485/142348557-b27a0e41-415d-4904-ac17-69f237a27f31.jpg)

[2021-11-18 03:54] codejamtc commented on #132
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142348751-fa4db928-1a66-4fbc-bd8a-5f5998474d09.mp4

[2021-11-18 04:02] codejamtc commented on #128
Fixed :ok:
![bandicam 2021-11-18 09-32-02-933](https://user-images.githubusercontent.com/42398485/142349475-cb6a1670-a282-4268-ac9f-3993cb20ba92.jpg)

[2021-11-18 04:08] codejamtc commented on #126
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142350047-39f0d48a-0714-49d3-a2d3-aebcafccfbbe.mp4

[2021-11-18 04:11] codejamtc commented on #116
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142350326-1b596b3e-44cb-4e05-9f41-719c776a9018.mp4

[2021-11-18 04:15] codejamtc commented on #110
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142350666-758b7c67-ffdc-49d2-943f-b6443f4db155.mp4

[2021-11-18 04:18] codejamtc commented on #109
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142350951-e358c6b9-7e22-4037-b89e-bc58cdbfe861.mp4

[2021-11-18 04:20] codejamtc commented on #106
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142351082-6662e62b-874f-4dbd-adf8-d5b32acd1f37.mp4

[2021-11-18 04:22] codejamtc commented on #100
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142351320-d8747cbf-dc43-42e6-b4cf-6c34374d45b2.mp4

[2021-11-18 04:29] codejamtc commented on #98
@LieutenantRoger This is not working I guess, I can see few issue here

1. When we click on a challenge tag; sometimes it won't return anything (eg: salesforce.com)
2. When we are in the 2nd page and click on the `Google` tag will display from the second page

https://user-images.githubusercontent.com/42398485/142351861-274893b9-1c25-44c9-9937-bbd3a245eb57.mp4

https://user-images.githubuserconten

[2021-11-18 04:44] LieutenantRoger commented on #106
Challenge https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 04:53] codejamtc commented on #78
Fixed :ok:, now the console logs are not displayed but when we try to switch to a different option while the sorting is happening it will abort the last operation @LieutenantRoger Hope this is fine

https://user-images.githubusercontent.com/42398485/142354109-b62fc9c6-be48-418f-a8f2-097a4bf9be94.mp4

https://user-images.githubusercontent.com/42398485/142354116-b4e71675-17d4-4bd7-b5b9-51e16ac6fd40.

[2021-11-18 04:55] codejamtc commented on #75
Fixed  :ok:

https://user-images.githubusercontent.com/42398485/142354345-e557a84a-19cd-469e-b7f6-e88d4b4c3ead.mp4

[2021-11-18 04:58] LieutenantRoger commented on #78
Yes it's fine for this ticket, I'm thinking to display a loading indicator when the sorting is happening so to avoid member continue to do the operation of the filters.  But it should be implemented in otherwise ticket.

[2021-11-18 05:01] yoution commented on #133
@bug-bash-helper assign

[2021-11-18 05:01] yoution commented on #133
@bug-bash-helper assign

[2021-11-18 05:01] fikzzzy commented on #98
@codejamtc @LieutenantRoger It is expected, we need this PR https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/164/ so the page will reset to 1 if we click tag/type

[2021-11-18 05:02] yoution commented on #133
@bug-bash-helper assign

[2021-11-18 05:08] codejamtc commented on #145
Fixed  :ok:

https://user-images.githubusercontent.com/42398485/142355492-8825afdb-3526-4733-941e-10bbc586cbac.mp4

[2021-11-18 05:10] yoution commented on #133
@bug-bash-helper unassign

[2021-11-18 05:14] codejamtc commented on #97
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142356064-9d8f3a81-1a36-4e8e-988b-747bfabeff94.mp4

[2021-11-18 05:23] fikzzzy commented on #124
@LieutenantRoger PR updated https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/164

[2021-11-18 05:23] fikzzzy commented on #124
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/164 is ready for review

[2021-11-18 05:38] LieutenantRoger commented on #98
OK, let me take a look both tickets

[2021-11-18 06:12] fikzzzy commented on #139
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/171 is ready for review

[2021-11-18 06:13] fikzzzy commented on #139
@LieutenantRoger fixed in https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/171

[2021-11-18 06:14] fikzzzy commented on #102
@bug-bash-helper unassign

[2021-11-18 06:46] shivam-51 commented on #96
@bug-bash-helper #148 is ready for review

[2021-11-18 06:51] shivam-51 commented on #79
@LieutenantRoger can you please confirm this? Seems like its fixed already.

[2021-11-18 11:34] LieutenantRoger commented on #76
Challenge https://www.topcoder.com/challenges/2735a02e-b373-46af-b8e0-d024dad4fda0 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 12:59] LieutenantRoger commented on #119
Oh, I missed this ticket, @nqviet Thanks for this snapshot, I will need to get it clarified

[2021-11-18 13:58] flaming-cl commented on #119
The problem is not only showing challenges out of range, but also not showing challenges within range.

Take this challenge as an example:
![Ended Sep 24](https://user-images.githubusercontent.com/51183663/142427319-f0f75da6-1edb-4faa-8bc1-b246baa7b32a.png)

First, we pick up a time period ranging from Sep 13, 2021 to Sep 20, 2021.
As we have known, it shows challenges out of the date range.
![CHA

[2021-11-18 14:22] nqviet commented on #119
@bug-bash-helper assign

[2021-11-18 14:25] flaming-cl commented on #119
@bug-bash-helper assign

[2021-11-18 14:41] nqviet commented on #115
@bug-bash-helper assign

[2021-11-18 14:59] nqviet commented on #119
@LieutenantRoger  @flaming-cl
For the above challenge, its end-date seems to be 14 Sep, but the frontend is showing 24 Sep instead?

![Untitled](https://user-images.githubusercontent.com/36178659/142439833-222afab2-ce84-46e3-84c0-1fab8c1b1b3d.png)

![Untitled2](https://user-images.githubusercontent.com/36178659/142439851-0d1f6685-c59d-48cc-b8b3-4f8ef2b14521.png)

[2021-11-18 15:03] LieutenantRoger commented on #91
Not working, you changed all the Inputbox to limit 100 input characters

[2021-11-18 15:04] flaming-cl commented on #119
@nqviet
Hi, for the exact end date, the date Sep 24 sounds better (if the challenge starts registration at Sep 23).

[2021-11-18 15:07] LieutenantRoger commented on #90
![image](https://user-images.githubusercontent.com/2875203/142441225-df9bc080-bbc9-49a2-b63e-08d8d854cdf6.png)

The UI is not looking good.

Please simply use `Too big` or `Too small` as the error message respectively

[2021-11-18 15:15] LieutenantRoger commented on #101
Let's request these two fields can have maximum 100000, if the input is bigger then this, show `Too big` error message

[2021-11-19 04:14] codejamtc commented on #143
Fixed  :ok:

https://user-images.githubusercontent.com/42398485/142563831-6d5bcfad-8fcc-469a-9d33-402660c7ed75.mp4

[2021-11-19 04:21] codejamtc commented on #124
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142564397-97e38e91-9401-45f2-acd5-2f35dbf9eb5b.mp4

[2021-11-19 04:26] codejamtc commented on #139
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142564760-55ac10c2-b95f-4d51-be6a-b344161fa557.mp4

https://user-images.githubusercontent.com/42398485/142564764-4c253485-cfa2-487f-90da-70f4c52ee09f.mp4

[2021-11-19 04:30] codejamtc commented on #96
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142565160-e7543d7a-4ae5-4583-ac59-928b4fe38cae.mp4

[2021-11-19 05:00] LieutenantRoger commented on #85
Challenge https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:02] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:02] LieutenantRoger commented on #110
Challenge https://www.topcoder.com/challenges/5e654946-ad38-43fb-80ae-8d02327b6f86 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:02] LieutenantRoger commented on #126
Challenge https://www.topcoder.com/challenges/3dc2f043-3957-4dbb-b557-4285e10beefb has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:13] LieutenantRoger commented on #98
@codejamtc Could you please recheck this ticket ? We have merged the PR #164

[2021-11-19 05:47] codejamtc commented on #98
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142571836-8b4e7f0a-05fd-448e-a239-6cb860543e17.mp4

[2021-11-19 14:26] shivam-51 commented on #79
@bug-bash-helper unassign

[2021-11-19 14:26] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 14:26] shivam-51 commented on #101
@bug-bash-helper assign

[2021-11-19 14:27] shivam-51 commented on #101
@Gauravseta are you working on this issue?

[2021-11-19 14:31] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-19 14:31] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 14:31] shivam-51 commented on #96
@bug-bash-helper unassign

[2021-11-19 14:31] LieutenantRoger commented on #96
Challenge https://www.topcoder.com/challenges/f14575a4-d111-4e8b-8964-65b0422151e3 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 14:32] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-19 14:32] LieutenantRoger commented on #79
Challenge https://www.topcoder.com/challenges/65891cbf-6457-4ad2-b02d-db2284bbb56f shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 14:32] LieutenantRoger commented on #79
shivam51 has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 14:33] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-19 14:35] shivam-51 commented on #79
@bug-bash-helper assign

[2021-11-19 14:35] shivam-51 commented on #79
@LieutenantRoger Is this issue not open for pickup?

[2021-11-19 14:37] Gauravseta commented on #101
@shivam-51 yes update in half hour i am active

[2021-11-19 16:05] dprincecoder commented on #79
@bug-bash-helper assign

[2021-11-19 16:15] LieutenantRoger commented on #90
@Gauravseta Please respond with progress, otherwise, please unassign, so other members can pick up

[2021-11-19 16:15] LieutenantRoger commented on #91
@Gauravseta Please respond with progress, otherwise, please unassign, so other members can pick up

[2021-11-19 16:17] ben-mathu commented on #95
@bug-bash-helper assign

[2021-11-19 16:18] ben-mathu commented on #133
@bug-bash-helper assign

[2021-11-19 16:20] ben-mathu commented on #102
@bug-bash-helper assign

[2021-11-19 16:27] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-19 16:29] dprincecoder commented on #102
@bug-bash-helper assign

[2021-11-19 16:30] dprincecoder commented on #101
@bug-bash-helper assign

[2021-11-19 16:30] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 16:42] shivam-51 commented on #101
@bug-bash-helper assign

[2021-11-19 16:42] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 16:42] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 16:54] Gauravseta commented on #90
@LieutenantRoger it is comlpeted pushing commit

[2021-11-19 16:57] Gauravseta commented on #90
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/168 is ready for review

[2021-11-19 16:58] Gauravseta commented on #90
@LieutenantRoger how to remove feedback label? and for same value "Cannot be same" will be displayed, and for rest cases, it will show "Too big" "Too small"

[2021-11-19 17:09] Gauravseta commented on #91
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/169 is ready for review

[2021-11-19 17:10] Gauravseta commented on #91
@LieutenantRoger uupdated. and i am unable to remove feedback label

[2021-11-19 17:18] LieutenantRoger commented on #96
Challenge https://www.topcoder.com/challenges/f14575a4-d111-4e8b-8964-65b0422151e3 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 17:19] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 18:01] dprincecoder commented on #101
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/176 is ready for review

[2021-11-19 18:02] dprincecoder commented on #101
@bug-bash-helper assign

[2021-11-19 18:05] shivam-51 commented on #101
@bug-bash-helper #177 is ready for review

[2021-11-19 18:27] dprincecoder commented on #101
@LieutenantRoger i think the bug-bash has some error once someone is assign to an issue lets say issue_101 then if another person comes and write assign, then @bug-bash-helper unassigns the old person that is already assigned to this issue and then assign it to this new person, it happened to me check log and  above

[2021-11-19 19:17] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-20 04:56] LieutenantRoger commented on #101
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-20 05:04] LieutenantRoger commented on #101
It seems we have two bots installed in the repo. I have send the feedback to the admin about this.

@dprincecoder I have also reviewed your submission, but it looks it doesn't meet the expected.

[2021-11-20 05:23] LieutenantRoger commented on #90
We will utilize only 'Too big', and 'Too small' ,  'Cannot be same' still doesn't look good. I made some adjustment to your PR,

[2021-11-20 06:18] codejamtc commented on #101
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142716691-d217d980-3118-481a-9681-42065e0b6e21.mp4

[2021-11-20 06:19] codejamtc commented on #91
Fixed :ok: Search box character limit is now reduced

https://user-images.githubusercontent.com/42398485/142716740-8cb13d46-ca06-4e8b-af02-163d3378153e.mp4

[2021-11-20 06:22] codejamtc commented on #90
Fixed :ok: Now `Too small` validation is displayed

https://user-images.githubusercontent.com/42398485/142716802-67e2882d-d4e2-4b82-9d44-6fc051417162.mp4

[2021-11-20 06:43] LieutenantRoger opened #179 "Search: App breaks for long search strings with console error"
Backend Issue ticket for https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/91

[2021-11-20 06:44] LieutenantRoger opened #180 "[Web- Chrome] While filtering with price with 0 app does not apply filter"
Backend issue ticket for : https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/90

[2021-11-20 06:45] LieutenantRoger commented on #113
This apperas expected since the filter will include all the challenge that overlap with this time range "From/To"

[2021-11-20 07:05] #113 closed

[2021-11-20 07:10] LieutenantRoger opened #181 "Showing blank page when search special char, console show error"
Backend issue for this ticket:  https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/88

[2021-11-20 07:29] LieutenantRoger opened #182 "[$80] Add Loading Indicator when the app is getting data from backend"
Current:

Currently, when we changed any filter, we will call the API to get the challenge data with latest updated Query

Expected:

When the API is trying to get the data from backend, we should display a loading indicator to let user is aware of that the API is loading data.   This can happen when a user visits challenge page initially, or the user changed any filter that causing the reloading

[2021-11-20 07:29] LieutenantRoger commented on #182
Challenge https://www.topcoder.com/challenges/32598a39-badd-4d9e-9ebd-59c7e5712e84 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-20 07:52] Gauravseta commented on #182
@bug-bash-helper assign

[2021-11-20 07:56] Gauravseta commented on #182
@LieutenantRoger I am unable to assign this issue to myself, due to #90 and #91 even though both issues are completed.

can you please assign this to me? thanks.

also to everyone else, i have started working on this issue and my other both issues are completed.

[2021-11-20 08:13] LieutenantRoger commented on #182
Challenge https://www.topcoder.com/challenges/32598a39-badd-4d9e-9ebd-59c7e5712e84 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-20 08:14] Gauravseta commented on #182
@LieutenantRoger thanks

[2021-11-20 15:33] ben-mathu commented on #102
I cannot login using localhost:8080

[2021-11-20 16:15] LieutenantRoger commented on #133
Hello all, looks this ticket is labeling correctly, hence it prevent members to assign, I have added the required label, please try assign now.

[2021-11-20 16:20] LieutenantRoger commented on #102
@ben-mathu Please read the challenge specific firstly and carefully regarding how to deploy the application locally.

You may pickup open ticket once you have resolved the local deployment issue. :)

[2021-11-20 16:21] LieutenantRoger commented on #102
I will unassign you for now so other members without deployment issue can continue to fix this issue.

[2021-11-20 21:24] Gauravseta commented on #182
@LieutenantRoger wont be able to complete it hence will see later if available.

[2021-11-20 21:25] Gauravseta commented on #182
@bug-bash-helper unassign

[2021-11-20 21:25] LieutenantRoger commented on #182
Challenge https://www.topcoder.com/challenges/32598a39-badd-4d9e-9ebd-59c7e5712e84 gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-20 21:26] rashmi73 commented on #182
@bug-bash-helper assign

[2021-11-20 21:26] LieutenantRoger commented on #182
Challenge https://www.topcoder.com/challenges/32598a39-badd-4d9e-9ebd-59c7e5712e84 has been assigned to rashmi73.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-21 05:09] LieutenantRoger commented on #119
Ops, I seems missed the discussion in this ticket. I will need some time to check the data.

[2021-11-21 05:11] LieutenantRoger commented on #115
Challenge https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-21 05:11] LieutenantRoger commented on #115
@nqviet It seems the label are not correct, I have assigned manually

[2021-11-21 06:01] nqviet commented on #115
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/183 is ready for review

[2021-11-21 07:35] nqviet commented on #115
Hi @LieutenantRoger

I also included some fixes for some minor issues: https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/184

[2021-11-21 12:21] LieutenantRoger commented on #115
Thanks much @nqviet for the further refinement.

They are looking good to me. I also increased the price for this ticket as the compensation, thanks.

[2021-11-21 17:53] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-21 17:53] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-21 17:59] dprincecoder commented on #133
Hey guys I have been assigned to this issue please don't come and write assign under it thank you

[2021-11-22 01:32] dprincecoder commented on #133
WIP issue https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/187 I went to pick up some item, his will take me more fime before getting back to complete the issue, and then my 12 hours is already past, so need more time

[2021-11-22 04:55] codejamtc opened #188 "User can't search via a particular skills"
https://user-images.githubusercontent.com/42398485/142803094-330821ac-db2f-4f32-ae18-01ea57e438c7.mp4

1. Go to https://platform.topcoder-dev.com/earn/find/challenges
2. Go to the filter and type Skills/Technology = `java` and press enter
3. Now clear the filter and type Skills/Technology = `Java` and press enter

**Actual**:

User can't search via `Java` skill now and app is not responsive

[2021-11-22 05:47] dprincecoder commented on #133
@bug-bash-helper unassign

[2021-11-22 05:47] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-22 05:57] SathyaJayabal commented on #85
@LieutenantRoger , I think we should not allow users to search by non existing skills. This may cause issues like
https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/188

[2021-11-22 07:00] codejamtc commented on #100
@LieutenantRoger Please check this on the dev environment; I am getting the results as follows
- All Active Challenges
- Open for Registration
- Closed Challenges

https://user-images.githubusercontent.com/42398485/142817673-47e32d72-d2ab-47cc-90c1-9c851a5231db.mp4

https://user-images.githubusercontent.com/42398485/142817676-1984ab01-56a1-4dba-b6a4-f68205e58cf1.mp4

[2021-11-22 07:45] codejamtc commented on #109
@LieutenantRoger Please check this on latest dev env

https://user-images.githubusercontent.com/42398485/142822490-b33e432f-8330-4125-aca7-fe1c124ada05.mp4

[2021-11-22 07:48] codejamtc commented on #116
@LieutenantRoger Please check this

https://user-images.githubusercontent.com/42398485/142822765-c527a722-0168-4e8c-b3d2-2833adf516df.mp4

[2021-11-22 08:36] shivam-51 commented on #102
@bug-bash-helper assign

[2021-11-22 08:37] shivam-51 commented on #101
@bug-bash-helper unassign

[2021-11-22 08:37] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-22 08:38] shivam-51 commented on #102
@bug-bash-helper assign

[2021-11-22 08:38] shivam-51 commented on #96
@bug-bash-helper unassign

[2021-11-22 08:38] LieutenantRoger commented on #96
Challenge https://www.topcoder.com/challenges/f14575a4-d111-4e8b-8964-65b0422151e3 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-22 08:38] shivam-51 commented on #95
@bug-bash-helper unassign

[2021-11-22 08:38] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-22 08:38] shivam-51 commented on #102
@bug-bash-helper assign

[2021-11-22 08:38] LieutenantRoger commented on #102
Challenge https://www.topcoder.com/challenges/6a184130-5370-4cea-98ed-96829b22c969 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-22 08:43] dprincecoder commented on #133
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/189 is ready for review

[2021-11-22 09:21] codejamtc commented on #124
@LieutenantRoger Please check this too

https://user-images.githubusercontent.com/42398485/142835302-5868054e-bd9f-473c-ad4d-d8402eadb5b4.mp4

[2021-11-22 09:24] codejamtc commented on #126
Double checked :ok:

https://user-images.githubusercontent.com/42398485/142835492-3551a2b9-93f5-48de-9765-7aab3d5c85e3.mp4

[2021-11-22 09:40] shivam-51 commented on #101
@LieutenantRoger I have to unassign myself from all completed issues before picking up another one. Seems like a bug in the bot?

[2021-11-22 09:53] coderhacker commented on #115
This is passed on dev.

https://user-images.githubusercontent.com/62358241/142840083-8b939433-ea00-4140-866f-446da7f11c0f.mp4

[2021-11-22 11:37] codejamtc commented on #132
@LieutenantRoger Please check this also

https://user-images.githubusercontent.com/42398485/142855114-4abbd5c3-a854-481d-8185-d2e3552a266e.mp4

[2021-11-22 11:42] nqviet commented on #132
@codejamtc , @LieutenantRoger

The min selectable boundary is as : ${day of today} / ${month of today} / 1921 ( ex: 22 Nov, 1921)

[2021-11-22 11:49] codejamtc commented on #132
Thanks @nqviet for the info

When we leave the date time picker for a while it auto reset to the previous value, this may be a deployment issue (Not deployed to the develop env). Please check @LieutenantRoger

https://user-images.githubusercontent.com/42398485/142856688-622da34d-c72b-4d3a-8d45-9b6dce2756a9.mp4

[2021-11-22 13:40] LieutenantRoger commented on #100
@codejamtc

This is expected behavior, we accepted some further fix from members in the PR, https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/184

So when you fill a wrong Track, it will return null but the other tracks in the url param are still processed by the application.

I think this would be better to display 404 directly.

[2021-11-22 13:48] shivam-51 commented on #102
@bug-bash-helper unassign

[2021-11-22 13:48] LieutenantRoger commented on #102
Challenge https://www.topcoder.com/challenges/6a184130-5370-4cea-98ed-96829b22c969 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-22 14:05] LieutenantRoger commented on #109
@codejamtc

This is expected behavior, we optimized this area by incorporating this PR:  https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/153

So when a user clicked the challenge link, with it's current state not changed, the app will simply reload the challenges based on the current filters, reverting to page 1 seems not very good to me.

[2021-11-22 14:30] LieutenantRoger commented on #132
I don't think this is a deployment issue. The date is getting reset because you hovered a date or filter bar on the left when you selected a date range previously.

When you didn't select a date range, (empty date range),  you can then switch the date without getting reset to current month, either by hover the left sidebar or hover a date.

[2021-11-22 14:55] LieutenantRoger commented on #124
This is expected behavior, too.  https://monosnap.com/file/jrfvSqpj5AQBdcciE9F18prpUv1d7K

You choose a `First2Finish` challenge, which belongs to `Development` track, see the data from the API.

So icon only filter challenge track, and tag on challenge detail page will filter the challenge type.

[2021-11-22 15:56] Oanh-and-only-Oanh commented on #71
@LieutenantRoger, we're not going to implement this.  Please remove the grip UI from frontend.

[2021-11-22 15:58] Oanh-and-only-Oanh commented on #73
My Challenge bucket in the EARN MFE is not implemented yet. We can leave this as is.

[2021-11-22 16:22] LieutenantRoger commented on #71
Challenge https://www.topcoder.com/challenges/466a88fd-35f7-441c-94c4-557e0047e577 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-22 16:33] LieutenantRoger commented on #132
@nqviet have you raised the PR ?

[2021-11-22 16:36] nqviet commented on #132
@LieutenantRoger
edited: https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/191

[2021-11-22 16:45] LieutenantRoger commented on #132
Thank you @nqviet

The original ticket seems fine to me. But I have reviewed the new PR, it looks fine to me as well. Let's deploy it for QA.

[2021-11-22 16:46] LieutenantRoger commented on #132
I'm bumping the price a bit as the compensation, thank you.

[2021-11-22 20:48] pauline7 commented on #71
@bug-bash-helper assign

[2021-11-22 23:19] dprincecoder commented on #133
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/193 is ready for review

[2021-11-23 03:47] codejamtc commented on #124
@LieutenantRoger Agree

[2021-11-23 03:49] codejamtc commented on #132
Ok, Good to go

https://user-images.githubusercontent.com/42398485/142968775-40390fab-a49e-4f7a-951c-400bd651dafd.mp4

[2021-11-23 03:52] codejamtc commented on #116
@LieutenantRoger We are good with this too

[2021-11-23 03:54] codejamtc commented on #109
@LieutenantRoger Agree, we are good with this one too

[2021-11-23 03:58] codejamtc commented on #100
@LieutenantRoger Ok

https://user-images.githubusercontent.com/42398485/142969395-3de81a18-f5a9-4269-891a-558519db8cea.mp4

[2021-11-23 04:29] SathyaJayabal opened #194 "Challenge details page Initial Version"
Challenge details page Initial Version

[2021-11-23 04:29] #194 closed

[2021-11-23 04:45] LieutenantRoger commented on #96
Challenge https://www.topcoder.com/challenges/f14575a4-d111-4e8b-8964-65b0422151e3 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 04:46] LieutenantRoger commented on #95
Challenge https://www.topcoder.com/challenges/d88a04bf-2c29-4070-8385-f01fe2e55541 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 04:47] LieutenantRoger commented on #101
Yeah, it seems so. No worries, I can help to reassign when we close the ticket.

[2021-11-23 04:50] LieutenantRoger commented on #101
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:06] codejamtc commented on #75
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142973914-12b18329-db90-4f43-9b09-950ca539a437.mp4

[2021-11-23 05:06] #75 closed

[2021-11-23 05:06] LieutenantRoger commented on #75
Payment task has been updated: https://www.topcoder.com/challenges/38002f64-50d6-4ee9-b73a-3f5d2b50923a
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `38002f64-50d6-4ee9-b73a-3f5d2b50923a` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:15] codejamtc commented on #76
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142974538-e3ad1857-0f09-4cb4-a375-51c2af69b18f.mp4

[2021-11-23 05:15] #76 closed

[2021-11-23 05:15] LieutenantRoger commented on #76
Payment task has been updated: https://www.topcoder.com/challenges/2735a02e-b373-46af-b8e0-d024dad4fda0
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `2735a02e-b373-46af-b8e0-d024dad4fda0` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:17] codejamtc commented on #78
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142974672-b3b53100-a7db-4f2e-8a79-45a4b954d2db.mp4

[2021-11-23 05:20] codejamtc commented on #85
Particular issue verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142974878-bd2be3be-b86a-410a-ba8a-06839118b3a8.mp4

[2021-11-23 05:20] #85 closed

[2021-11-23 05:20] LieutenantRoger commented on #85
Payment task has been updated: https://www.topcoder.com/challenges/99837353-a1ca-41b7-aebe-fcfd1d403ce3
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `99837353-a1ca-41b7-aebe-fcfd1d403ce3` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:23] codejamtc commented on #115
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142975046-7cdbfcfe-9524-4c1c-9559-50adf8ca5da6.mp4

[2021-11-23 05:23] #115 closed

[2021-11-23 05:23] LieutenantRoger commented on #115
Payment task has been updated: https://www.topcoder.com/challenges/a2973486-7898-4f2e-98b8-ee6bc249f5ce
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `a2973486-7898-4f2e-98b8-ee6bc249f5ce` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:25] codejamtc commented on #90
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142975188-37b2f848-2a7f-45d2-8abc-622b7e23ed22.mp4

[2021-11-23 05:25] #90 closed

[2021-11-23 05:25] LieutenantRoger commented on #90
Payment task has been updated: https://www.topcoder.com/challenges/bf0c8fb4-6165-4ee6-a68f-fac2518cb3e3
*Payments Complete*
Winner: gauravseta
Copilot: lieutenantroger
Challenge `bf0c8fb4-6165-4ee6-a68f-fac2518cb3e3` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:26] codejamtc commented on #91
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142975276-b19817ae-b9f0-45a2-a98a-ec88d4ef6100.mp4

[2021-11-23 05:26] #91 closed

[2021-11-23 05:26] LieutenantRoger commented on #91
Payment task has been updated: https://www.topcoder.com/challenges/d3f83cd9-7e26-43ec-ad0a-a90e37a1624c
*Payments Complete*
Winner: gauravseta
Copilot: lieutenantroger
Challenge `d3f83cd9-7e26-43ec-ad0a-a90e37a1624c` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 05:31] codejamtc commented on #95
Verified in Prod :ok: (In Prod the `Initial / Final Score` is not populated for most of the challenges)  https://platform.topcoder.com/earn/find/challenges/52289697-0e48-4e97-bac3-382228262a26

https://user-images.githubusercontent.com/42398485/142975530-ab691bcf-efb5-4a17-861f-3cbbd6fa5f6b.mp4

[2021-11-23 05:32] codejamtc commented on #101
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142975692-acd484a5-1d92-43c4-9552-d293da1c5f58.mp4

[2021-11-23 05:41] codejamtc commented on #96
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142976230-58273855-fad2-4d62-b6ac-285e2e77688e.mp4

[2021-11-23 05:44] codejamtc commented on #145
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142976375-c6c874ee-5b08-4254-812c-aede6ab1370e.mp4

[2021-11-23 06:22] codejamtc commented on #143
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142979179-ff724d36-598e-4723-ab7d-66c6dfd3d239.mp4

[2021-11-23 06:22] #143 closed

[2021-11-23 06:22] LieutenantRoger commented on #143
Payment task has been updated: https://www.topcoder.com/challenges/beeb8021-d10c-4f99-86ff-8b2665271d52
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `beeb8021-d10c-4f99-86ff-8b2665271d52` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 06:24] codejamtc commented on #139
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142979337-e1df8645-5e62-45ae-a97e-6370691c192d.mp4

[2021-11-23 06:28] codejamtc commented on #136
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142979633-594e7b91-7b6c-4080-a6c1-0e9a9f1510ab.mp4

[2021-11-23 06:32] codejamtc commented on #132
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142979941-32091b14-14bb-4cb5-a277-9b30d957921c.mp4

[2021-11-23 06:32] #132 closed

[2021-11-23 06:32] LieutenantRoger commented on #132
Payment task has been updated: https://www.topcoder.com/challenges/4d4b97dd-f09a-4d31-8d46-3d7211373176
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `4d4b97dd-f09a-4d31-8d46-3d7211373176` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 06:35] codejamtc commented on #128
Verified in Prod :ok:

![bandicam 2021-11-23 12-04-59-152](https://user-images.githubusercontent.com/42398485/142980191-fb59a0e0-9cb2-4fce-bbec-0eee8aa62d97.jpg)

[2021-11-23 06:37] codejamtc commented on #126
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142980409-dadcc32b-d401-48f9-98c1-cf1e224dccc1.mp4

[2021-11-23 06:37] #126 closed

[2021-11-23 06:37] LieutenantRoger commented on #126
Payment task has been updated: https://www.topcoder.com/challenges/3dc2f043-3957-4dbb-b557-4285e10beefb
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `3dc2f043-3957-4dbb-b557-4285e10beefb` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 06:39] codejamtc commented on #124
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142980480-8808d80d-b00c-4eb0-9337-04ecfc3465a7.mp4

[2021-11-23 06:41] codejamtc commented on #116
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142980665-81b58256-625b-433a-a88a-885e4eccd896.mp4

[2021-11-23 06:41] #116 closed

[2021-11-23 06:41] LieutenantRoger commented on #116
Payment task has been updated: https://www.topcoder.com/challenges/abc595b9-7c43-4275-b584-a46875f7bd0e
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `abc595b9-7c43-4275-b584-a46875f7bd0e` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 06:43] codejamtc commented on #110
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142980799-cebc1469-3d6d-49d3-b1df-659fb23471e2.mp4

[2021-11-23 06:43] #110 closed

[2021-11-23 06:43] LieutenantRoger commented on #110
Payment task has been updated: https://www.topcoder.com/challenges/5e654946-ad38-43fb-80ae-8d02327b6f86
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `5e654946-ad38-43fb-80ae-8d02327b6f86` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 06:45] codejamtc commented on #109
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142980957-f533b1c5-9541-45e3-9816-dab919ea91f2.mp4

[2021-11-23 06:46] codejamtc commented on #106
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142981159-c492273d-3b7d-4f1b-bc88-2275b4b08575.mp4

[2021-11-23 06:46] #106 closed

[2021-11-23 06:47] LieutenantRoger commented on #106
Payment task has been updated: https://www.topcoder.com/challenges/1e8bb85e-c104-4ddb-bd23-fd26612f3738
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `1e8bb85e-c104-4ddb-bd23-fd26612f3738` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 06:49] codejamtc commented on #100
Verified in Prod :ok: (Blank page issue is fixed and the Invalid URL with 404 handling is done by different ticket)

https://user-images.githubusercontent.com/42398485/142981425-58a09284-bda8-4473-81e4-e4cb72c62d4f.mp4

[2021-11-23 06:53] codejamtc commented on #98
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142981760-271964d4-face-41da-89ba-6a58e892f5e3.mp4

[2021-11-23 06:57] codejamtc commented on #97
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/142982183-4fc50e4f-837c-41d2-86b2-6ce12e05e19c.mp4

[2021-11-23 07:04] #97 closed

[2021-11-23 07:04] LieutenantRoger commented on #97
Payment task has been updated: https://www.topcoder.com/challenges/4ec4d3a3-eb88-4ad5-b73c-0d37c23cda98
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `4ec4d3a3-eb88-4ad5-b73c-0d37c23cda98` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 08:09] LieutenantRoger commented on #101
Challenge https://www.topcoder.com/challenges/3c36141c-8ea5-4b23-a99a-cb0c6c3ac6ca shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 08:09] LieutenantRoger commented on #101
shivam51 has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 08:13] LieutenantRoger commented on #101
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 09:34] pauline7 commented on #71
@bug-bash-helper https://github.com/pauline7/micro-frontends-challenges-app/tree/issue_71 is ready for review

[2021-11-23 14:20] LieutenantRoger commented on #95
proceeds payment manually

[2021-11-23 14:20] #95 closed

[2021-11-23 14:22] LieutenantRoger commented on #96
process payment manually

[2021-11-23 14:22] #96 closed

[2021-11-23 14:23] #145 closed

[2021-11-23 14:24] #139 closed

[2021-11-23 14:26] #136 closed

[2021-11-23 14:27] #128 closed

[2021-11-23 14:29] #124 closed

[2021-11-23 14:30] #109 closed

[2021-11-23 14:31] #100 closed

[2021-11-23 14:32] #98 closed

[2021-11-23 14:33] #101 closed

[2021-11-23 14:34] #78 closed

[2021-11-23 14:35] LieutenantRoger commented on #78
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 18:04] LieutenantRoger commented on #133
@dprincecoder if you couldn't find a good solution, please unassign so other member may give it a try, thank you.

[2021-11-23 18:05] LieutenantRoger commented on #182
@rashmi73  since you didn't provide a PR for 3 days, I'm releasing this ticket to other members

[2021-11-23 18:06] LieutenantRoger commented on #182
Challenge https://www.topcoder.com/challenges/32598a39-badd-4d9e-9ebd-59c7e5712e84 rashmi73 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 18:11] LieutenantRoger commented on #114
SHould be skill API issue

[2021-11-23 18:16] LieutenantRoger commented on #79
Just saw this, I think the original issue should have been resolved along with other tickets

[2021-11-23 20:00] dprincecoder commented on #133
@bug-bash-helper unassign

[2021-11-23 20:23] fikzzzy commented on #182
@bug-bash-helper assign

[2021-11-24 00:15] flaming-cl commented on #119
@bug-bash-helper unassign

[2021-11-24 00:15] flaming-cl commented on #102
@bug-bash-helper assign

[2021-11-24 03:04] flaming-cl commented on #102
@bug-bash-helper [pull request](https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/197) is ready for review

[2021-11-24 22:09] dprincecoder commented on #133
@bug-bash-helper assign

[2021-11-25 00:27] dprincecoder commented on #133
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/198 is ready for review

[2021-11-25 09:54] fikzzzy commented on #182
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/199 is ready for review

[2021-11-25 13:13] LieutenantRoger commented on #133
@dprincecoder

1. It seems your submission broken the app.  See the snapshot comparison when I try to open the submit page: https://monosnap.com/file/qCoNLxpQfZX3t6IzWPD9Frqth8YzyD
2. Please send your PR against the `challenges-bug-bash` branch

[2021-11-25 13:57] LieutenantRoger commented on #102
1.  It's not a good idea to retrieve the challenge detail info one more time only to verify the member is regsitered in a challenge.

https://api.topcoder-dev.com/v5/resources?challengeId={challengeId}

I think you should relay on this API endpoint, which can get the resources of a challenge directly to see if the member has unregistered the challenge, so we avoid to reload challenge detail and ot

[2021-11-25 14:08] codejamtc commented on #182
@LieutenantRoger Please check again, when I switch to a slow network and switch between the pages I am getting the `No challenges were found. You can try changing your search parameters.`

https://user-images.githubusercontent.com/42398485/143455827-bbfddc6b-342c-4b7b-af1e-24ea2123d49d.mp4

When I first load the challenge list I am getting the loading animation

![bandicam 2021-11-25 19-36-17-991]

[2021-11-25 14:11] fikzzzy commented on #182
@codejamtc @LieutenantRoger it is expected since I follow the behaviour of topcoder.com/challenges. So the first when we load the application show circle loading animation then when we load the challenges show shimmer animation

[2021-11-25 14:13] codejamtc commented on #182
@fikzzzy Above is fine; possible to check the below behaviour

[2021-11-25 14:13] codejamtc commented on #182
@LieutenantRoger Shall I create a different ticket for the above?

[2021-11-25 14:17] LieutenantRoger commented on #182
No, @codejamtc  I think the issue is caused by the fix.

- @fikzzzy it seems the loading flag is not working properly when we switch the pages, the loading animator is fine to me as well.  But can you please take a look for the issue that the filter is always reset to page 1 when we clicked page 2 or 3 ?

This issue wasn't there before, thanks.

[2021-11-25 14:18] LieutenantRoger commented on #182
Please re-create a branch, since your previous PR has been merged. :)

[2021-11-25 14:33] fikzzzy commented on #182
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/200 is ready for review

[2021-11-26 08:22] flaming-cl commented on #102
Hi, thanks so much for your feedback.
The pull request is updated with the suggestions you've made.
@bug-bash-helper [pr](https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/197) is ready for review

[2021-11-26 10:54] dprincecoder commented on #133
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/201 is ready for review

[2021-11-26 13:09] LieutenantRoger commented on #102
Hmmm I don't think the new PR is correct.

You called the getChallenge this time right ?  I believe it's a different endpoint with the resource API.  So we should only need to call resource API to verify whether a member has registered a challenge or not.

[2021-11-26 13:32] LieutenantRoger commented on #133
@dprincecoder I think it's not working as expected. Please see the recording about how I have tested.

https://drive.google.com/file/d/1nUNAwDo215UkvnXTvdVI5lbk2f7pwgS0/view?usp=sharing

Ideally, you should check the status before the file is uploaded.

[2021-11-26 17:30] flaming-cl commented on #102
@LieutenantRoger Sorry that I mistakenly thought "resources?challengeId={challengeId}" is for fetching the challenge resource. The API will just retrieve the registrants data. Thanks for explaining.

[2021-11-26 18:04] dprincecoder commented on #133
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/202 is ready for review

[2021-11-26 18:04] dprincecoder commented on #133
@LieutenantRoger actually I have run the app locally but when I tried to log in, it won't recognize my username, so thereby I can't test it locally

[2021-11-26 18:19] LieutenantRoger commented on #133
When you run it locally , you can use a dev environment account to login. Such as: `TopAcc_three \ Appirio123`

[2021-11-27 01:27] codejamtc commented on #182
Fixed :ok:

https://user-images.githubusercontent.com/42398485/143663980-1b9ccf59-c1cf-4267-a073-53a697f1f92d.mp4

[2021-11-27 02:10] flaming-cl commented on #102
@bug-bash-helper [pr](https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/197) is ready for review

[2021-11-27 05:26] LieutenantRoger commented on #133
@dprincecoder Please update your progress, or please unassign so other member could try to resolve this ticket. Thank you.

[2021-11-27 06:02] dprincecoder commented on #133
@bug-bash-helper unassign

[2021-11-27 06:40] flaming-cl commented on #133
@bug-bash-helper assign

[2021-11-27 06:44] LieutenantRoger commented on #133
@flaming-cl  manually assigned you

[2021-11-27 15:08] flaming-cl commented on #133
@bug-bash-helper [pr](https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/203) is ready for review

[2021-11-28 05:29] LieutenantRoger opened #204 "Performance Issue"
We have multiple tickets are discussing the performance issue.

Here, I will create a single ticket to summarize all tickets link here, while closing the invididual tickets, so we are more clear about the issue.

[2021-11-28 05:30] LieutenantRoger commented on #141
We won't apply this UX as it kinds of prevent user from interacting with the App

[2021-11-28 05:30] #141 closed

[2021-11-28 05:35] LieutenantRoger commented on #80
The issue is fixed along with other ticket

[2021-11-28 05:35] #80 closed

[2021-11-28 05:35] LieutenantRoger commented on #81
We won't apply this filter

[2021-11-28 05:35] #81 closed

[2021-11-28 05:35] LieutenantRoger commented on #204
The issue list is:

https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/138

https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/137

https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/135

https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/134

https://github.com/topcoder-platform/micro-frontends-challen

[2021-11-28 05:46] #119 closed

[2021-11-28 05:47] #73 closed

[2021-11-28 05:47] #79 closed

[2021-11-28 05:48] #82 closed

[2021-11-28 05:48] LieutenantRoger commented on #92
We keep it as is, this looks a by design feature

[2021-11-28 05:48] #92 closed

[2021-11-28 05:49] LieutenantRoger commented on #104
I think this should be related with performance

[2021-11-28 05:50] LieutenantRoger commented on #118
We don't change V3 API behavior for now.

[2021-11-28 05:51] #118 closed

[2021-11-28 05:52] LieutenantRoger commented on #142
This appears to be a network latency issue

[2021-11-28 05:52] #142 closed

[2021-11-28 06:11] #140 closed

[2021-11-28 06:11] #138 closed

[2021-11-28 06:11] #137 closed

[2021-11-28 06:11] #135 closed

[2021-11-28 06:11] #134 closed

[2021-11-28 06:12] #131 closed

[2021-11-28 06:12] #130 closed

[2021-11-28 06:12] #129 closed

[2021-11-28 06:12] #123 closed

[2021-11-28 06:12] #121 closed

[2021-11-28 06:12] #105 closed

[2021-11-28 06:12] #103 closed

[2021-11-28 06:12] #74 closed

[2021-11-28 06:12] #72 closed

[2021-11-28 06:12] #104 closed

[2021-11-28 07:10] codejamtc commented on #133
@LieutenantRoger @flaming-cl I can still upload the submissions

https://user-images.githubusercontent.com/42398485/143733216-8184b620-da14-404a-ac66-c1c1aa165f2a.mp4

[2021-11-28 07:17] codejamtc commented on #133
@LieutenantRoger @flaming-cl

https://user-images.githubusercontent.com/42398485/143733398-598b7436-e421-4316-be00-7d9d4d2e0be8.mp4

[2021-11-28 07:39] codejamtc commented on #102
https://user-images.githubusercontent.com/42398485/143733984-0077e599-fc84-459d-aac9-5a9222b4f601.mp4

[2021-11-28 07:42] LieutenantRoger commented on #133
@codejamtc
https://user-images.githubusercontent.com/2875203/143734054-2117e119-c3ea-4ec7-9112-31f420686900.mp4

Can you try what I have done ? And show both of your browser tabs in the recording as always, please

[2021-11-28 07:48] LieutenantRoger commented on #133
BTW, we need to wait for the logout process to complete, otherwise we won't consider this user has logout completely.

[2021-11-28 07:50] codejamtc commented on #133
@LieutenantRoger

Not Incognito  :x:

https://user-images.githubusercontent.com/42398485/143734279-a70e6262-432d-4cc9-84f5-18be44d11f67.mp4

Incognito:  :ok:

https://user-images.githubusercontent.com/42398485/143734282-ece2a13a-8d71-4d13-81b5-33c4e5103d9b.mp4

[2021-11-28 07:53] codejamtc commented on #133
@LieutenantRoger I think here https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/102#issuecomment-980912969 the case is handled better with the validation message

[2021-11-28 07:58] LieutenantRoger commented on #133
Yeah, that's a different scenario when member hasn't logout, we show the validation message.

In this ticket, member is not login, so we redirect to login page directly, so member doesn't have to manually login. It's a better UX and save user some effort.

I think your `Not Incognito` mode is having the cached version of the app.

Could you try to hard refresh your browser to load latest code ?  A

[2021-11-28 09:00] LieutenantRoger commented on #133
Please let me know if it still not working after hard refresh in your browser. @codejamtc

[2021-11-28 10:10] LieutenantRoger opened #205 "[Web- Chrome] TCO and icon are getting overlapped"
Summary :
[Web- Chrome] TCO and icon are getting overlapped

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Observe the TCO and icon

Actual:
TCO and icon are getting overlapped

Expected:
TCO and icon should not get overlapped

Environment:

_	Device(s): Windows
_	Resolution: 1920_1080
_	Operating System: Windows 10
_	Browser(s): Chrome | Version 95.0.4638.5

[2021-11-28 10:10] LieutenantRoger opened #206 "Increasing "per page" makes page not work"
**Summary:**

Increasing perPage-URL parameter breaks page

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=500&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. Page does not load

**Actual Result:**

The challenge didn't d

[2021-11-28 10:10] LieutenantRoger opened #207 "[$5] Text in the badge beside Open for Registration option is not aligned right"
**Summary:**
Links on the challenge page should open on a new tab, so the user does not have to leave the specification

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges
2. Observe the badge

**Actual Result:**
The number is bottom aligned

**Expected Result:**
The number should be center aligned

**Environment Details:**

***Devices(s):***
MacBook Pro
***Operati

[2021-11-28 10:10] LieutenantRoger opened #208 "Selected all filter for 'TCO20', 'TCO21', 'TCO22' on 'Sub Community' but didn't get any result for any selected challenges"
**Summary:**

**Steps to Reproduce:**

1. [LogOut] Go to https://platform.topcoder.com/earn/find/challenges
2. Select an tick all Option Sub Community filter

**Actual Result:**

Selected all filter for 'TCO20', 'TCO21', 'TCO22' but didn't get any result for any selected challenges
[Review comment] The filter of TCO sub-community seems AND condition rather than OR condition, so no result for TCO20

[2021-11-28 10:10] LieutenantRoger opened #209 "Links on the challenge page should open on a new tab"
**Summary:**
Links on the challenge page should open on a new tab, so the user does not have to leave the specification

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges/6ca43e88-56a0-4150-9e99-a6bcea67e3b1
2. Observe the STOCK PHOTOS AND ICONS section

**Actual Result:**

**Expected Result:**

**Environment Details:**

***Devices(s):***
MacBook Pro
***Operating

[2021-11-28 10:10] LieutenantRoger opened #210 "TCO icon in challange is not clear it is which TCO year"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) Select sub community TCO20, TCO21, TCO22
3) Observe TCO icon difference

**Actual result:**
TCO icons are not displaying it is which TCO year

**Expected results:**
TCO icon should dislay that it is part of TCO20 or TCO21 or TCO 22

**Device:** Laptop
**OS:** Windows 10 64 bit
**Browser:** Chrome Version 95.0.4638.54 (Offici

[2021-11-28 10:10] LieutenantRoger opened #211 "[$5] [Web- Chrome] App does not display clear button in the search"
Summary :
[Web- Chrome] App does not display clear button in the search

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	In search invalid __DFFDSFDFD_

Actual:
App does not display clear button in the search

Expected:
App should display clear button in the search

Environment:

_	Device(s): Windows
_	Resolution: 1920_1080
_	Operating System: Windows 10
_	Bro

[2021-11-28 10:10] LieutenantRoger opened #212 "Footer is missing"
Summary: Footer is missing
Steps to Reproduce: Open up the url:https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
Scroll down

Actual Result: The footer should be shown

Expected Result: No Footer

Environment D

[2021-11-28 10:11] LieutenantRoger opened #213 "Skill input legibility in user interface"
Issue : Legibility in user interface

**Steps to Reproduce**
1. Go to https://platform.topcoder.com/earn/find/
2. Click on all skills/technology
3. Type some skill

_**Actual Result(s)**<br/>_
![image](/uploads/041bbf3f124a5e1a801e3223110be8ef/image.png)

_**Expected Result(s)**<br/>_
Legibility of user interface

**Environment Details**

_**Device(s):**_
Laptop<br/>
_**Operating System:**_
Window

[2021-11-28 10:11] LieutenantRoger opened #214 "letter not correct"
Steps to Reproduce:

Open up the url
go to submit button of spooky bug hunt 4

Actual Result:
letter g is not proper
Expected Result:
should be proper

Environment Details:
Devices(s):
PC
Operating System:
Windows 11
Browser and Version:
Chrome
edge
Screen recording or Screen snapshot:

![Screenshot__112_](/uploads/0271f94d044b5fb96b4ea7d8fbefeb5d/Screenshot__112_.png)

[2021-11-28 10:11] LieutenantRoger opened #215 "Filter for Price Amount not mention high to low(sort order)"
Filter for Price Amount not mention high to low
![Bug4__2_](/uploads/3e7ae1538b339da9199f18116d4da52e/Bug4__2_.png)
Ussually filter for price have to criteria high to low and low to high. It will better the filter show by high price instead of price amount.

Environment Details:
Devices(s): Laptop
Operating System: Windows 10
Browser and Version: Chrome Version 95.0.4638.54 (64-bit)

[2021-11-28 10:11] LieutenantRoger opened #216 "Footer missing in Challenge description too"
Summary:
Footer missing in Challenge description too

Steps to Reproduce:
Open up the url:https://platform.topcoder.com/earn/find/challenges/c89cb504-61d9-47ee-8853-19a634a6daff
Scroll down to bottom

Actual Result:
No  footer

Expected Result:
Footer should be shown.

Environment Details:
Devices(s):PC
Operating System: Windows 10
Browser and Version: Chrome: 95.0.4638.69

[2021-11-28 10:11] LieutenantRoger opened #217 "Broken image in challenge listing page"
**Summary:**
Broken image in challenge listing page

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. search for 'appium' and click on the one with Getting started title

or

1. go to this challenge link https://platform.topcoder.com/earn/find/challenges/5efb80e2-1c7c-4baa-ab1b-879e7fa903d0

**Actual Result:**

Broken image in challenge listing page

**Expect

[2021-11-28 10:11] LieutenantRoger opened #218 "Pressing spacebar on keyboard after typing a keyword scrolls the page"
**Summary:**
Pressing spacebar on keyboard after typing a keyword scrolls the page

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges
1. Type in "Bug" in the search bar and wait for the page content to load
1. press space bar on keyboard

**Actual Result:**
Pressing spacebar on keyboard after typing a keyword scrolls the page

**Expected Result:**
Space bar should

[2021-11-28 10:11] LieutenantRoger opened #219 "Contrast of the text in the beta banner is not adequate"
**Summary:**
Contrast of the text in the beta banner does not comply with WCAG standards

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges
2. Open the banner on the top

**Actual Result:**
The contrast between the background and the text is lover than the minimum standard.

**Expected Result:**
The contrast should be higher

**Environment Details:**

***Devices(s

[2021-11-28 10:11] LieutenantRoger opened #220 "Price Amount From and To lost focus when typing pauses"
**Summary:**

Price Amount From and To lost focus when typing pauses

**Steps to Reproduce:**

1. Open up the URL https://platform.topcoder.com/earn/find/challenges
1. Start typing in inbox From and wait 1 second

**Actual Result:**
1. From input box lost focus if you pause typing

The challenge didn't display

**Expected Result:**

Should not lost focus if I pause typing until I tab out of the co

[2021-11-28 10:11] LieutenantRoger opened #221 "[Web-Safari]Content: As we are logging bug in Gitlab So it should ask Gitlab Username for Submission, not Github Username"
1. Go To https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb
2. Scroll-down mouse below to Final Submission guidelines then observe it's asking Github Username for submission
3. Actual Result:- As we are logging bug in Gitlab but it is asking Github Username for Submission
4. Expected Result:- As we are logging bug in Gitlab So it should ask Gitlab Username for

[2021-11-28 10:11] LieutenantRoger opened #222 "Contrast of the input labels are not adequate"
**Summary:**
The contrast of the textbox labels do not comply with thw WCAG standards

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges
2. Observe any input boxes labels

**Actual Result:**
The contrast of the label with the background is less then the minimum standard

**Expected Result:**
The contrast should be higher

**Environment Details:**

***Devices(s):**

[2021-11-28 10:11] LieutenantRoger opened #223 "[Chrome - web]The page component are accessible still when the submit popup for the zip file is opened/ displayed on the screen"
### Issue Title : (Laptop)(Chrome)
The page component are accessible still when the submit popup for the zip file is opened/ displayed on the screen

--

### Steps to reproduce :

1. Go to the 'https://platform.topcoder.com/earn/find/challenges/8bfb194b-aee8-4e4e-af7e-50e42a5d4cad' or any challenge details page
2. click on the submit button on the details page
3. click on the 'Pick file' button
4.

[2021-11-28 10:11] LieutenantRoger opened #224 "Search lost(previous page state lost) when traversing page"
Issue : Search lost when traversing page

**Steps to Reproduce**
1. Go to https://platform.topcoder.com/earn/find/
2. search for "bug hunt" in challenges
3. click on spooky bug challenge 4
4. Click back on to come back on https://platform.topcoder.com/earn/find/challenges page

_**Actual Result(s)**<br/>_
my search is lost - Bug hunt and all active challenges are opened.
![image](/uploads/6ebde168

[2021-11-28 10:12] LieutenantRoger opened #225 "Closed challenges does not show winner on listing page, as they show on old closed challenge page"
**Summary:**
Closed challenges does not show winner on listing page, as they show on old closed challenge page

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. click on 'closed challenges'

**Actual Result:**

Closed challenges does not show winner on listing page, as they show on old closed challenge page

**Expected Result:**

Should show the winner as in

[2021-11-28 10:12] LieutenantRoger opened #226 "[$20] [Web- Chrome] App does not display error message to user if no skill is found"
Summary :
[Web- Chrome] App does not display error message to user if no skill is found

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	In Skill enter __GKUIGG_

Actual:
App does not display error message to user if no skill is found

Expected:
App should display error message to user if no skill is found

Environment:

_	Device(s): Windows
_	Resolution: 1920

[2021-11-28 10:12] LieutenantRoger opened #227 "The date picker icon suggests it is disabled on the listing page"
**Summary:**
Contrast of the calendar icon in the 'from' input box does not comply with WCAG standards. Also it should be greeen (CTA colored).

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges
2. Open the date selector

**Actual Result:**
The contrast between the background and the icon is lover than the minimum standard.

**Expected Result:**
The contrast shoul

[2021-11-28 10:12] LieutenantRoger opened #228 "[$5] Go the share section and hover over the social contact icon wrong name"
**Steps to Reproduce**

1. Go to the https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb
2. Go the share section and hover over the social contact icon
3. Observer tooltip showing icon <name> of each

**Actual Result(s)**
Share section each tab tooptip showing wrong name

**Expected Result(s)**
Should only the name of the social media

**Screen shot**
![20211029

[2021-11-28 10:12] LieutenantRoger opened #229 "[$10] [Chrome-Web] The label 'I understand and agree' is not clickable though the cursor is changing the shape to 'Hand' icon"
### Issue Title : (Laptop)(Chrome)
The 'I understand and agree' is not clickable though the cursor is changing the shape to 'Hand' icon

--

### Steps to reproduce :

1. Go to the 'https://platform.topcoder.com/earn/find/challenges/8bfb194b-aee8-4e4e-af7e-50e42a5d4cad' or any challenge details page
2. click on the submit button on the details page
3. Hover the mouse on the 'I understand and agree'

[2021-11-28 10:12] LieutenantRoger opened #230 "Mouse pointer should change into hand when hovering over challenge type icon"
**Summary:**
- Mouse pointer should change into hand when hovering over challenge type icon

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Hover over any of the challenge type icon

**Actual Result:**
- Mouse pointer does not change

**Expected Result:**
-  Mouse pointer should change into hand since the icon is clickable

**Environment Details:**

***Devi

[2021-11-28 10:12] LieutenantRoger opened #231 "Next page button selected but no redirection to other page"
**Summary:**
Clicking Next page  button is  selected but no redirection to other page

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. Select the challenges to be 50 per page
3. Scroll below and click "Next page", then previous page
4. Observe

**Actual Result:**

Clicking the next and previous page button are selected but does

**Expected Result:**

The use

[2021-11-28 10:12] LieutenantRoger opened #232 "Headers' style in the challenge spec should follow the TC GUI Kit Typography Styles"
**Summary:**
The headers should follow the GUI KIT

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges/6ca43e88-56a0-4150-9e99-a6bcea67e3b1
2. Observe the headers

**Actual Result:**
The h2 headers are in Roboto

**Expected Result:**
The h2 headers should be in Barlow Condensed

**Environment Details:**

***Devices(s):***
MacBook Pro
***Operating System and version

[2021-11-28 10:12] LieutenantRoger opened #233 "Character 'g' is not proper in the highlighted section"
**Summary:**
Character 'g' is not proper in the highlighted section

**Steps to Reproduce:**
1. Open [FAST - Pluto - Form Digitalization Web Portal Application Design Challenge](https://platform.topcoder.com/earn/find/challenges/c89cb504-61d9-47ee-8853-19a634a6daff) Challenge
2. Navigate to FINAL FIXES AND TASKS section
3. In the Highlighted section, check if all the characters are displayed prope

[2021-11-28 10:12] LieutenantRoger opened #234 "CHALLENGE TERMS link redirect to topcode.com rather than platform.topcoder term and condition page"
**Steps to Reproduce**

1. Go to the https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb
2. Go to the CHALLENGE TERMS: section and click on the Standard Terms for Topcoder Competitions v3
3. Observe it's redirect to topcode.com rather than platform.topcoder term and condition page

**Actual Result(s)**
CHALLENGE TERMS it's redirect to topcode.com rather than pla

[2021-11-28 10:12] LieutenantRoger opened #235 "No number of active challenges?"
Issue : No number of active challenges?

**Steps to Reproduce**
1. Go to https://platform.topcoder.com/earn/find/challenges
2. No number present for no of active challenges/closed challenges

_**Actual Result(s)**<br/>_

![image](/uploads/2fa5fa05c670fd61e4690c0bf4a9590f/image.png)

_**Expected Result(s)**<br/>_
Some number indicating those as well

**Environment Details**

_**Device(s):**_
Laptop

[2021-11-28 10:12] LieutenantRoger opened #236 "[$10] less than 0 prize entered url can result in blank page without error message"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Enter From in prize value as 500<br/>
Change 500 in URL to -9999<br/>

_**Actual Result(s)**<br/>_
Shows blank page with console error: zone.min.js:13 Uncaught ValidationError: "totalPrizesFrom" must be greater than or equal to 0

_**Expected Result(s)**<br/>_
Should show results and/or error at UI

[2021-11-28 10:12] LieutenantRoger opened #237 "Prize amount Filter does not work consistently"
**Summary:**
Prize amount Filter does not work consistently

**Steps to Reproduce:**
Go to link https://platform.topcoder.com/earn/find/challenges?
Got to Prize Amount filter and input any details
List of challenges are shown
Again try to change the input value and redo the filter again

**Actual Result:**
Filter results are not consistent
**Expected Result:**

Filter should happen based on new se

[2021-11-28 10:12] LieutenantRoger opened #238 "Buttons on the challenge page should follow the current TC GUI Kit"
**Summary:**
Buttons on the challenge page should follow the current TC GUI Kit

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges/6ca43e88-56a0-4150-9e99-a6bcea67e3b1
2. Observe the Registration and Submit buttons

**Actual Result:**
They are following the old style

**Expected Result:**
The buttons shoudl follow the current TC GUI Kit

**Environment Details:**

[2021-11-28 10:12] LieutenantRoger opened #239 "[$5] the 'file' icon on every challenge card didn't line up well"
**Summary:**
the 'file' icon on every challenge card didn't line up well

**Steps to Reproduce:**

1. [LogIn] Go to https://platform.topcoder.com/earn/find/challenges?bucket=All%20Active%20Challenges&page=2&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. Check on every 'file' icon, it didn't lin

[2021-11-28 10:12] LieutenantRoger opened #240 "Tabs on the challenge page should follow the current TC GUI Kit"
**Summary:**
Tabs on the challenge page should follow the current TC GUI Kit

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges/6ca43e88-56a0-4150-9e99-a6bcea67e3b1
2. Observe the tabs

**Actual Result:**
They are following the old style

**Expected Result:**
The tabs should follow the current TC GUI Kit

**Environment Details:**

***Devices(s):***
MacBook Pro
***

[2021-11-28 10:12] LieutenantRoger opened #241 "QA Challenge Brand Color is inconsistency in Challenge Listing Page"
QA Challenge Brand Color is inconsistency in Challenge Listing Page.
In challenge listing page, QA challenge brand color is green (same with development), but in detail challenge page the color is purple.
![Bug4__6_](/uploads/748fa3ef79019e8b443a0776021b6a04/Bug4__6_.png)
Environment Details:
Devices(s): Laptop
Operating System: Windows 10
Browser and Version: Chrome Version 95.0.4638.54 (64-bit)

[2021-11-28 10:12] LieutenantRoger opened #242 "Sort refreshed but doesn't go to first page"
Steps to Reproduce
1. Go to https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=4&perPage=10&sortBy=overview.totalPrizes&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. Click on - Sort by - prize amount, go to some page number.
3. Again sort by any other parameter like title or most r

[2021-11-28 10:12] LieutenantRoger opened #243 "Hover mouse on challange category icon does not show meaningful display"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) Hove mouse on challange category
Observe

**Actual result:**
Hover mouse on challange category icon does not show meaningful display

**Expected results:**
Hover mouse on challange category icon should show meaningful display

**Device:** Laptop
**OS:** Windows 10 64 bit
**Browser:** Chrome Version 95.0.4638.54 (Official Bui

[2021-11-28 10:12] LieutenantRoger opened #244 "Inconsistent Margin Spacing When Challenge has Multiple Skills"
**Summary:**
When there are more than 2 Skills tags for challenges, the margin spacing between these tags and the registrants icon is inconsistent.

**Steps to Reproduce:**

1. Navigate to: https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&tags[]=User%20Interface%20(Ui)&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DE

[2021-11-28 10:13] LieutenantRoger opened #245 "Duplicate Skills being displayed in the Skills/Technology filter"
**Summary:**
Some skills are being displayed twice in the Skills/Technology filter. When it's chosen, two skills are initially applied, but it resolves to just one after a brief moment.

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Type Flutter or TestLink in the Skills/Technology Filter
3. Click either of the options in the dropdown

**Actual Result:**

[2021-11-28 10:13] LieutenantRoger opened #246 "arrow on challenge details page should have a better hover title"
**Summary:**
arrow on challenge details page should have a better hover title

**Steps to Reproduce:**

1. Open a challenge details page https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb
1. Mouse hover over < key Challenge title bar
1. Notice the mouse hover title

**Actual Result:**
Mouse hover title shows "ico-arrow-big-left"

**Expected Result:**
arrow on c

[2021-11-28 10:13] LieutenantRoger opened #247 "[$10] Blockquotes' content are not showing up correctly on mobile"
**Summary:**
Blockquotes' content are not showing up correctly on mobile (not even in the current environment)

**Steps to Reproduce:**

1. Open https://platform.topcoder.com/earn/find/challenges/6ca43e88-56a0-4150-9e99-a6bcea67e3b1
2. Observe the blockquote on the page

**Actual Result:**
The text flows outside of the container (Even in the current community page!!!)

**Expected Result:**
The tex

[2021-11-28 10:14] LieutenantRoger opened #248 "skills listed in random unsorted order"
**Summary:**

This is a demo ticket

**Steps to Reproduce:**

1. Open up the url https://platform.topcoder.com/earn/find/challenges
2. Click Skills/Technology to filter by skill
3. All skills listed in completely random unsorted order

**Actual Result:**

Unsorted skills, hard to look through to find anything

**Expected Result:**

Skills listed in alphabetical order

**Environment Details:**

***

[2021-11-28 10:14] LieutenantRoger opened #249 ""From" datepicker persists on Open for Registration page"
**Summary:**
- "From" datepicker persists on Open for Registration page

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Click Closed Challenges
3. Click "From" datepicker and select any date range
4. Click Challenges

**Actual Result:**
- The "From" datepicker persists and "Closed Challenges" remains selected

**Expected Result:**
- Since Open for Registrat

[2021-11-28 10:14] LieutenantRoger opened #250 "[Web- Chrome]Loading time: App open closed challenge page very slowly"
Summary :
[Web- Chrome] App open closed challenge page very slowly

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Click closed challenge
3.	Uncheck task
4.	Open challenge September - SAP FICO - OPerational Incidents - WPP

Actual:
App open closed challenge page very slowly

Expected:
App should load page fast

Environment:

_	Device(s): Windows
_	Resolution:

[2021-11-28 10:14] LieutenantRoger opened #251 "Colntent: spelling mistake"
spelling mistake on challenges page
data "since"
OS: windows 11
Browser : edge chrome
device : mobile laptop
![Screenshot__127_](/uploads/43e67ff9dad632d70eb97f8cde715426/Screenshot__127_.png)

[2021-11-28 10:14] LieutenantRoger opened #252 "Unnecessary filter box."
Unnecessary filter box.

Steps to Reproduce
1. Go to submission page
2. Pick a file
3. Select files to upload
4. Select file
5. Upload
6. There is a __ilter_ box on the file uploading screen

Actual Result(s)<br/>
Filter box is available

Expected Result(s)<br/>
Filter box is not required as I don__ see any purpose served with that.
Unnecessary.

Environment Details

Device(s):
Laptop<br/>
Operati

[2021-11-28 10:14] LieutenantRoger opened #253 "In submission pop -> Link URL, text field and icon is misaligned"
**Summary:**
In submission pop -> Link URL, test field and icon is misaligned

**Steps to Reproduce:**

1. Open a challenge details page, make sure you are registered for the challenge
1. Click on Submit
1. Click on Pick a file -> Link (URL)
1. Notice the UI

**Actual Result:**
In submission pop -> Link URL, text field and icon is misaligned

**Expected Result:**
In submission pop -> Link URL, tex

[2021-11-28 10:14] LieutenantRoger opened #254 "[$5] Typo (twice "assign, grant and transfer to")"
Typo

Steps to Reproduce
1. Go to submission page
2. Last line

Actual Result(s)<br/>
Submitting your files means you hereby agree to the __opcoder terms of use_ and to the extent your uploaded file wins a topcoder Competition, you hereby assign, grant and transfer and agree to assign, grant and transfer to topcoder all right and title in and to the Winning Submission (as further described in the

[2021-11-28 10:14] LieutenantRoger opened #255 "[UX/UI] When "No challenges were found. " than left side "Open for registration" shows "0" in red"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) Search any arbitary string
3) Wait for  "No challenges were found. " page
Observe left side "Open for registration" shows "0" in red

**Actual result:**
When "No challenges were found. " than left side "Open for registration" shows "0" in red

**Expected results:**
When "No challenges were found., That is very obvious that n

[2021-11-28 10:14] LieutenantRoger opened #256 "Content: found link with blocked authorization or access not granted"
Steps to reproduce:

1. https://platform.topcoder.com/earn/find/challenges/b5261468-b460-4981-9d79-40cb89a0fb41
1. Click on cosolidated Match Leaderboard is available

Actual-result: link has acccess denied

Expected-result: link should be open so one can access the consolidated Match Leaderboard.

**screenshot
![tcob2](/uploads/9a529049e2782bffdaa5ad0beecf53ff/tcob2.png)

Environment:
_ Device(s)

[2021-11-28 10:14] LieutenantRoger opened #257 "Long wait time for submission"
**Steps to Reproduce**
1. Go to registered challenge from email.
2. Submission on registered challenge

_**Actual Result(s)**<br/>_

![image](/uploads/4443238edaf6efb40f651e20f898e80c/image.png)

_**Expected Result(s)**<br/>_
little more quick

**Environment Details**

_**Device(s):**_
Laptop<br/>
_**Operating System:**_
Windows 10<br/>
_**Browser:**_
Google Chrome : 95.0.4638.54 (Official Build)

[2021-11-28 10:14] LieutenantRoger opened #258 "[$10] URL issue when pressing browser back button"
**Summary:**
- URL issue when pressing browser back button

**Steps to Reproduce:**

1. Go to https://platform.topcoder.com/earn/find/challenges
2. Click on any challenges
3. Click any of its labels
4. On the challenges page, click the browser back button
5. Observe the page and the URL

**Actual Result:**
- The page directs to "?tags[]="

**Expected Result:**
- Should go back to where you came fr

[2021-11-28 10:14] LieutenantRoger opened #259 "Drop box connection signed out and need to connect again"
Drop box connection signed out and need to connect again

Steps to Reproduce
1. Go to submission page
2. Submit file
3. Add another submission
4. Choose drop box

Actual Result(s)<br/>
Have to reconnect again

Expected Result(s)<br/>
Shouldn__ be signed out unless specifically I choose to sign out. The log in state should be maintained.

Environment Details

Device(s):
Laptop<br/>
Operating System

[2021-11-28 10:14] LieutenantRoger opened #260 "None of the icons against challenges display any tool tip for the user"
None of the icons against challenges display any tool tip for the user

**Steps to Reproduce:**
1. Go to - https://platform.topcoder.com/earn/find/challenges
2. User selects - 'All Active Challenges' from left hand side panel
3. All challenges list appears with icons against them.
4. When user brings mouse cursor near them, there is no tool tip to indicate their meaning

**Actual Result:**
None of

[2021-11-28 10:14] LieutenantRoger opened #261 ""Select Files to Upload" should change to "Select File to Upload" since the submission upload file limit is 1"
**Summary:**
"Select Files to Upload" should change to "Select File to Upload" since the submission upload file limit is 1

**Steps to Reproduce:**

1. open a challenge details page, make sure you are registered for challenge
1. Click Submit -> Pick a file
1. Notice the Text on popup
1. It says "Select Files to Upload", try to select more than one file

**Actual Result:**
Unable to select more tha

[2021-11-28 10:14] LieutenantRoger opened #262 "[UX] "Sort by" dropdown should be right aligned and search option should take that space."
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
Observe Search and "Sort by" option

**Actual result:**
"Sort by" dropdown is not right aligned. SO there are lot of empty space after "Sort by".

**Expected results:**
"Sort by" dropdown should be right aligned and search option should take that space.

**Device:** Laptop
**OS:** Windows 10 64 bit
**Browser:** Chrome Version 9

[2021-11-28 10:14] LieutenantRoger opened #263 "Clear Filter does not clear the Challenges selection area"
**Summary:**
Clear Filter does not clear the Challenges selection area

**Steps to Reproduce:**
Go to link https://platform.topcoder.com/earn/find/challenges?
initially "Open for Registration" option is selected
play with the filter options by selecting and de selecting the filter options and then select "Clear Filter"

**Actual Result:**
Challenges option list is not getting reset to original pos

[2021-11-28 10:14] LieutenantRoger opened #264 "[$5] [Web- Chrome] Able to click white space and navigate"
Summary :
[Web- Chrome] Able to click white space and navigate

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Click white space near challenge

Actual:
Able to click white space and navigate

Expected:
App should not allow user to click white space and navigate

Environment:

_	Device(s): Windows
_	Resolution: 1920_1080
_	Operating System: Windows 10
_	Brows

[2021-11-28 10:16] LieutenantRoger opened #265 "[$80] [iOS][Android] when previous page popup so it's hide behind the page per count button"
**Steps to Reproduce**

1. Go to the https://platform.topcoder.com/earn/find/challenges
2.  Scroll down and click on the next till get the previous page
3. Observer when previous page popup so it's hide behind the page per count button

**Actual Result(s)**
 when previous page popup so it's hide behind the page per count button

**Expected Result(s)**
each button should be aligned properly

**Scre

[2021-11-28 10:16] LieutenantRoger opened #266 "[UX] UX coluld be improved by slide to register and slide to submit."
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
Observe list of challanges.

**Actual result:**
Challanges are just click and open.

**Expected results:**
UX coluld be improved that slide to register and slide to submit.
Slide to submit should open a popup.
Similarly slide to submit should open a popup.

**Device:** Laptop
**OS:** Windows 10 64 bit
**Browser:** Chrome Versio

[2021-11-29 04:42] codejamtc commented on #133
Fixed :ok: https://platform.topcoder-dev.com/earn/find/challenges/b053a886-b8a0-4aa5-a075-bb2281a8f414/submit

https://user-images.githubusercontent.com/42398485/143810090-e9e18b8f-c223-4272-98cb-0d2ffe021b4e.mp4

[2021-11-29 12:07] codejamtc commented on #71
Verified in Prod :ok:

![bandicam 2021-11-29 17-36-42-170](https://user-images.githubusercontent.com/42398485/143865346-76aef89f-5d3b-4392-b99e-9938c8ccd5e7.jpg)

[2021-11-29 12:08] codejamtc commented on #182
Verified in Prod :ok:

https://user-images.githubusercontent.com/42398485/143865515-4610b2e6-5a52-4b8f-9538-c823556c9697.mp4

[2021-11-29 12:12] codejamtc commented on #102
Verified in Prod  :ok:

https://user-images.githubusercontent.com/42398485/143866035-7248ff6a-dc10-4084-b968-7940e91ea99c.mp4

[2021-11-29 13:02] LieutenantRoger commented on #133
Challenge https://www.topcoder.com/challenges/0bea6def-4119-4288-a543-260411c127a5 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```