[2021-11-29 13:05] #133 closed

[2021-11-29 13:06] LieutenantRoger commented on #71
@pauline7 What's your topcoder handle is ? Thanks

[2021-11-29 13:07] LieutenantRoger commented on #71
Is it `Lina7` ?

[2021-11-29 13:11] #182 closed

[2021-11-29 13:12] #102 closed

[2021-11-29 13:16] pauline7 commented on #71
Hi., yes it is Lina7

[2021-11-29 13:18] LieutenantRoger commented on #71
Thank you.

[2021-11-29 13:20] #71 closed

[2021-11-29 14:30] #249 closed

[2021-11-29 14:33] LieutenantRoger commented on #248
Both the frontend and backend can be sorted firstly

[2021-11-29 14:40] LieutenantRoger commented on #246
Seems can't reproduce

[2021-11-29 14:42] LieutenantRoger commented on #244
Expected

[2021-11-29 14:45] LieutenantRoger commented on #243
Can't reproduce

[2021-11-29 14:46] LieutenantRoger commented on #242
Should have been fixed already

[2021-11-29 14:47] LieutenantRoger commented on #241
This is by design

[2021-11-29 14:54] LieutenantRoger commented on #238
Need input from Oanh, Actually not sure what's the new TC GUI Kit style.

[2021-11-29 14:56] LieutenantRoger commented on #237
Should have been fixed.

[2021-11-29 14:57] LieutenantRoger commented on #235
It's by design

[2021-11-29 14:57] #235 closed

[2021-11-29 15:11] LieutenantRoger commented on #230
can't rerproduce

[2021-11-29 16:15] LieutenantRoger commented on #227
Seems it's fine

[2021-11-29 16:18] LieutenantRoger commented on #226
I think we only allow this skill input to only select from the dropdown instead of allow manually input any skills as user like.

[2021-11-29 16:20] LieutenantRoger commented on #225
Need Oanh to take a look, this looks like a feature request

[2021-11-29 16:22] LieutenantRoger commented on #224
can't reproduce

[2021-11-29 16:26] Oanh-and-only-Oanh commented on #238
We will not address and UX issues.

[2021-11-29 16:27] Oanh-and-only-Oanh commented on #240
out of scope

[2021-11-29 16:27] LieutenantRoger commented on #220
If one changed the price filter, the app will start to load the api data, so it makes sense the focus is loose

[2021-11-29 16:27] Oanh-and-only-Oanh commented on #227
not an issue

[2021-11-29 16:28] Oanh-and-only-Oanh commented on #225
out of scope

[2021-11-29 16:31] LieutenantRoger commented on #218
This appears expected and by default behavior of the browser

[2021-11-29 16:33] LieutenantRoger commented on #216
Not an issue

[2021-11-29 16:36] LieutenantRoger commented on #214
Can't reproduce

[2021-11-30 13:17] LieutenantRoger commented on #257
Not easily reproducible

[2021-11-30 13:41] LieutenantRoger commented on #264
Let's only make the <li> element clickable, when user hover's the <ul> element, the mouse should keep as normal.

[2021-11-30 13:41] LieutenantRoger commented on #264
Challenge https://www.topcoder.com/challenges/7ee7cbf2-9331-4390-b059-4dc7b4c760f5 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:43] LieutenantRoger commented on #258
Challenge https://www.topcoder.com/challenges/d3003289-8c8c-4a7b-8044-7007d1680634 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:43] LieutenantRoger commented on #254
Challenge https://www.topcoder.com/challenges/115c72a4-3cea-412b-92db-c45ad63a7e31 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:45] LieutenantRoger commented on #247
Challenge https://www.topcoder.com/challenges/dd9d00e8-c8f5-4664-86c3-52590b89318b has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:52] LieutenantRoger commented on #239
Let's keep the icons in a like vertically like this: https://monosnap.com/file/eiiw38NVFofMItiEN0IDRpkolLns5x

[2021-11-30 13:52] LieutenantRoger commented on #239
Challenge https://www.topcoder.com/challenges/3d0c209f-2e85-4651-9cb4-e0ca3c9fbf7c has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:55] LieutenantRoger commented on #236
When we initialize the prize in the url, let's do the validation, so if the value in the url is minus, let's use the default price.

Default price for From: 0

Default price for To: 10000

[2021-11-30 13:55] LieutenantRoger commented on #236
Challenge https://www.topcoder.com/challenges/0678bb24-737a-4cd5-b196-63f9b65ee3a5 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:57] LieutenantRoger commented on #234
MFE seems not having such page

[2021-11-30 13:58] LieutenantRoger commented on #229
Challenge https://www.topcoder.com/challenges/a3f7c248-0ffa-4d6c-80b7-1b188125eb74 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:58] LieutenantRoger commented on #228
Challenge https://www.topcoder.com/challenges/89d0e0b4-7e8e-4f2d-8bc8-06bd4cf0ebc3 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:09] LieutenantRoger commented on #226
Challenge https://www.topcoder.com/challenges/318515c1-388a-4527-aa4f-30927036b22d has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:10] LieutenantRoger commented on #226
This should be able to cover this ticket: https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/213

[2021-11-30 14:11] LieutenantRoger commented on #211
Challenge https://www.topcoder.com/challenges/ccd2fa8a-ffae-452a-876d-092407ece43a has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:13] LieutenantRoger commented on #207
Challenge https://www.topcoder.com/challenges/ba51698b-768a-4a41-9705-eab9c1abaaf4 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:13] #266 closed

[2021-11-30 14:13] #263 closed

[2021-11-30 14:13] #262 closed

[2021-11-30 14:14] #219 closed

[2021-11-30 14:14] #220 closed

[2021-11-30 14:14] #221 closed

[2021-11-30 14:14] #222 closed

[2021-11-30 14:14] #223 closed

[2021-11-30 14:14] #224 closed

[2021-11-30 14:14] #227 closed

[2021-11-30 14:14] #230 closed

[2021-11-30 14:14] #231 closed

[2021-11-30 14:14] #232 closed

[2021-11-30 14:14] #233 closed

[2021-11-30 14:14] #234 closed

[2021-11-30 14:14] #242 closed

[2021-11-30 14:14] #243 closed

[2021-11-30 14:14] #244 closed

[2021-11-30 14:14] #251 closed

[2021-11-30 14:14] #252 closed

[2021-11-30 14:14] #255 closed

[2021-11-30 14:14] #256 closed

[2021-11-30 14:14] #259 closed

[2021-11-30 14:14] #260 closed

[2021-11-30 14:14] #261 closed

[2021-11-30 14:15] #120 closed

[2021-11-30 14:15] #205 closed

[2021-11-30 14:15] #206 closed

[2021-11-30 14:15] #209 closed

[2021-11-30 14:15] #210 closed

[2021-11-30 14:15] #212 closed

[2021-11-30 14:15] #214 closed

[2021-11-30 14:15] #215 closed

[2021-11-30 14:15] #216 closed

[2021-11-30 14:15] #217 closed

[2021-11-30 14:15] #218 closed

[2021-11-30 14:28] LieutenantRoger commented on #236
Challenge https://www.topcoder.com/challenges/0678bb24-737a-4cd5-b196-63f9b65ee3a5 has been assigned to praveeno.pro.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:29] shivam-51 commented on #228
@bug-bash-helper assign

[2021-11-30 14:29] LieutenantRoger commented on #228
Challenge https://www.topcoder.com/challenges/89d0e0b4-7e8e-4f2d-8bc8-06bd4cf0ebc3 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:49] shivam-51 commented on #228
@bug-bash-helper #270 is ready for review.

[2021-11-30 14:52] LieutenantRoger commented on #204
https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/257

[2021-11-30 14:53] #257 closed

[2021-11-30 14:53] #250 closed

[2021-11-30 14:53] #225 closed

[2021-11-30 14:54] #238 closed

[2021-11-30 14:54] #240 closed

[2021-11-30 14:56] LieutenantRoger commented on #229
Challenge https://www.topcoder.com/challenges/a3f7c248-0ffa-4d6c-80b7-1b188125eb74 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 15:21] shivam-51 commented on #254
@bug-bash-helper assign

[2021-11-30 15:22] LieutenantRoger commented on #229
Challenge https://www.topcoder.com/challenges/a3f7c248-0ffa-4d6c-80b7-1b188125eb74 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 15:22] shivam-51 commented on #254
@bug-bash-helper assign

[2021-11-30 15:56] shivam-51 commented on #254
@bug-bash-helper #275 is ready for review.

[2021-11-30 16:16] Gauravseta commented on #207
@bug-bash-helper assign

[2021-11-30 16:17] LieutenantRoger commented on #207
Challenge https://www.topcoder.com/challenges/ba51698b-768a-4a41-9705-eab9c1abaaf4 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 16:29] pauline7 commented on #229
@bug-bash-helper assign

[2021-11-30 16:30] pauline7 commented on #258
@bug-bash-helper unassign

[2021-11-30 16:30] pauline7 commented on #229
@bug-bash-helper assign

[2021-11-30 17:02] shivam-51 commented on #226
@bug-bash-helper assign

[2021-11-30 17:03] LieutenantRoger commented on #226
Challenge https://www.topcoder.com/challenges/318515c1-388a-4527-aa4f-30927036b22d has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 18:55] pauline7 commented on #229
@bug-bash-helper #276  is ready for review

[2021-11-30 19:13] pauline7 commented on #211
@bug-bash-helper assign

[2021-12-01 03:20] shivam-51 commented on #226
@LieutenantRoger so it should show "No results found", right?

[2021-12-01 04:52] nqviet commented on #258
@bug-bash-helper assign

[2021-12-01 04:52] LieutenantRoger commented on #258
Challenge https://www.topcoder.com/challenges/d3003289-8c8c-4a7b-8044-7007d1680634 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 05:34] shivam-51 commented on #239
@bug-bash-helper assign

[2021-12-01 05:34] shivam-51 commented on #226
@bug-bash-helper unassign

[2021-12-01 05:34] LieutenantRoger commented on #226
Challenge https://www.topcoder.com/challenges/318515c1-388a-4527-aa4f-30927036b22d shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 05:35] shivam-51 commented on #239
@bug-bash-helper assign

[2021-12-01 05:35] LieutenantRoger commented on #239
Challenge https://www.topcoder.com/challenges/3d0c209f-2e85-4651-9cb4-e0ca3c9fbf7c has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 05:37] shivam-51 commented on #239
@bug-bash-helper #278  is ready for review

[2021-12-01 05:38] shivam-51 commented on #226
@bug-bash-helper assign

[2021-12-01 05:38] LieutenantRoger commented on #226
Challenge https://www.topcoder.com/challenges/318515c1-388a-4527-aa4f-30927036b22d has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 07:14] nqviet commented on #258
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/279 is ready for review

[2021-12-01 07:15] nqviet commented on #258
@LieutenantRoger
I also included the fixes for responsive https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/280

[2021-12-01 07:52] CDharmateja commented on #253
@bug-bash-helper assign

[2021-12-01 07:52] LieutenantRoger commented on #253
Challenge https://www.topcoder.com/challenges/dfc56252-0b74-4542-a01b-73fc0471720d has been assigned to cdharmateja.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 10:41] Gauravseta commented on #207
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/281 is ready for review

[2021-12-01 10:45] Gauravseta commented on #264
@bug-bash-helper assign

[2021-12-01 10:46] LieutenantRoger commented on #264
Challenge https://www.topcoder.com/challenges/7ee7cbf2-9331-4390-b059-4dc7b4c760f5 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 11:43] CDharmateja commented on #253
@bug-bash-helper unassign

[2021-12-01 11:43] LieutenantRoger commented on #253
Challenge https://www.topcoder.com/challenges/dfc56252-0b74-4542-a01b-73fc0471720d cdharmateja has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 11:47] Gauravseta commented on #264
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/212 is ready for review

[2021-12-01 11:47] Gauravseta commented on #264
@LieutenantRoger it is earn app issue and done at respective repo

[2021-12-01 11:48] Gauravseta commented on #253
@bug-bash-helper assign

[2021-12-01 11:48] LieutenantRoger commented on #253
Challenge https://www.topcoder.com/challenges/dfc56252-0b74-4542-a01b-73fc0471720d has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 13:44] LieutenantRoger commented on #264
@Gauravseta Please try to compare with development env for the menu:

https://monosnap.com/file/GQVdRysv4CYfXDDPCuph9vOcMmqAUZ

1). When the menu is not expended, the arrow keeps upwards, indicating the menu is expended.
2). The text alignment has issue, please refer to the original alignment.

[2021-12-01 14:00] LieutenantRoger commented on #258
@nqviet For the URL issue, could you take a look the video ? It seems won't go to the detail page per my testing when click the back in the browser.

https://user-images.githubusercontent.com/2875203/144247725-f161b1a7-f06d-49cb-a6ae-e277715f5121.mp4

[2021-12-01 14:01] LieutenantRoger commented on #258
Thanks for the responsive fix, let me take a look

[2021-12-01 14:04] LieutenantRoger commented on #254
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 14:14] LieutenantRoger commented on #239
@shivam-51  not completely working. See the snapshot:

https://monosnap.com/file/NJkHJzy6qfXdaijcaq7Xa73ciesP3i

[2021-12-01 14:16] LieutenantRoger commented on #229
@pauline7 Not completely working, we expect when user clicked the text, the checkbox will be checked or unchecked accordingly.

[2021-12-01 14:23] nqviet commented on #258
@LieutenantRoger
Could you please try to re-run `npm run dev` on the challenge-apps repo? I tried but could not reproduce it.

https://user-images.githubusercontent.com/36178659/144251271-eccc3a3b-c54a-4226-bf98-8d7c05095903.mp4

.

[2021-12-01 14:26] LieutenantRoger commented on #228
https://monosnap.com/file/7H913bp4dcQdN2UdCWQhnAMiQt4Sqg

please see the comparison with original version.

[2021-12-01 15:32] pauline7 commented on #211
@bug-bash-helper #284  is ready for review

[2021-12-01 16:19] LieutenantRoger commented on #258
Thanks @nqviet for the video, it seems working fine under `https` mode.  I think then this solution is acceptable. Our Dev and Prod envrionments are all using `https` mode.

Thanks

[2021-12-01 16:39] LieutenantRoger commented on #265
@nqviet  Please let's use this ticket as the responsive fix. :)

I have reviewed your PR: https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/280/files

Couple of issues:

Under mobile view:

1.  Can we have some padding here in iOS screen: https://monosnap.com/file/CwogKK55RFyGV58JRhPmSZAaLcW1gA
2

https://user-images.githubusercontent.com/2875203/144274147-6a75d512-cbef-4c8c

[2021-12-01 16:41] LieutenantRoger commented on #265
@nqviet please assign yourself for this ticket, I seems not able to assign you as I can't find your github id in the assigee search box.

[2021-12-01 16:42] nqviet commented on #265
@bug-bash-helper assign

[2021-12-01 16:44] LieutenantRoger commented on #265
@nqviet  please try one more time to see if this work, if the bot still doesn't allow you to assign, please unassign another ticket, we have logs, I will assign you back when we close it.

[2021-12-01 16:46] nqviet commented on #258
@bug-bash-helper unassign

[2021-12-01 16:46] LieutenantRoger commented on #258
Challenge https://www.topcoder.com/challenges/d3003289-8c8c-4a7b-8044-7007d1680634 nqv2018 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 16:47] nqviet commented on #265
@bug-bash-helper assign

[2021-12-01 16:47] LieutenantRoger commented on #265
Challenge https://www.topcoder.com/challenges/871e1015-39f3-47cb-a692-1dac541d2e50 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 16:50] LieutenantRoger commented on #211
Hi @pauline7

1. Please simply add a 'X' clear button in the input box like usually it will have, e.g. https://monosnap.com/file/z5HXr6TFYcq7a5rPc0FXmBKZvUemJz

2. It is only displayed when user filled something in the input box, but not always display like you have implemented.

[2021-12-01 18:15] shivam-51 commented on #239
@bug-bash-helper #278 is ready for review

[2021-12-01 18:16] shivam-51 commented on #239
![image](https://user-images.githubusercontent.com/47945055/144290524-d352b47b-7ffc-4752-ae26-228d0d3a205b.png)

[2021-12-01 18:23] pauline7 commented on #229
@bug-bash-helper #276 is ready for review

[2021-12-01 18:53] shivam-51 commented on #228
@LieutenantRoger I cannot understand what you point. The icon names have been corrected. Do you point to the space between different icons? Its not because of my PR I can see less gap between them in the dev branch too.

[2021-12-01 18:55] shivam-51 commented on #228
@LieutenantRoger I cannot understand what you point. The icon names have been corrected. Do you point to the space between different icons? Its not because of my PR I can see less gap between them in the dev branch too.

[2021-12-01 20:48] nqviet commented on #265
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/280  is ready for review

and https://github.com/topcoder-platform/micro-frontends-earn-app/pull/213

[2021-12-01 22:27] pauline7 commented on #211
@bug-bash-helper #285  is ready for review

[2021-12-02 02:06] codejamtc commented on #258
@LieutenantRoger Not working for me on Dev

https://user-images.githubusercontent.com/42398485/144344194-8c2dfede-9faa-495a-b4e2-a3d5cf89d5e2.mp4

https://user-images.githubusercontent.com/42398485/144344201-d4c26266-147c-4979-996c-c030bbeecfb9.mp4

[2021-12-02 02:53] fikzzzy commented on #247
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-challenges-app/pull/286 is ready for review

[2021-12-02 03:26] codejamtc commented on #254
Fixed :ok:
![bandicam 2021-12-02 08-55-49-236](https://user-images.githubusercontent.com/42398485/144352407-5d844dae-f5b5-4a1d-99ee-df84c5b1644f.jpg)

[2021-12-02 03:27] codejamtc commented on #258
Fixed :ok:

https://user-images.githubusercontent.com/42398485/144352535-a76786a6-645f-4a6b-a864-8aa952f3a246.mp4

[2021-12-02 08:21] LieutenantRoger commented on #228
Oh, let me double check, my comparison is between your fix and the dev branch. I can double check.

[2021-12-02 14:48] LieutenantRoger commented on #239
@shivam-51 Please check mobile view, and make sure your fix doesn't break mobile view and ipad view.

Currently if I apply your branch, I saw the layout issue like this: e.g.

https://monosnap.com/file/m2uEDvSv0xUK9DyJARdWbnhhd7Q9nW

[2021-12-02 14:55] LieutenantRoger commented on #211
Hi @pauline7 please refer to the recording, seems this button is not quite responsive:

https://monosnap.com/file/ZDaPGO8Pye5JCAAAqU6iM4pAIXuFlM

Please improve the responsiveness for this clear button

[2021-12-02 15:24] LieutenantRoger commented on #264
Please update your progress, otherwise please unassign so others may try to resolve thsi @Gauravseta

[2021-12-02 15:26] LieutenantRoger commented on #207
Oh, my comment seems not posed, @Gauravseta  your solution doesn't work. Please respond with progress, or other member may pick it.

[2021-12-02 15:34] Gauravseta commented on #264
@LieutenantRoger updating in few minutes else i will unassign myself

[2021-12-02 15:35] Gauravseta commented on #207
@LieutenantRoger it was workng fine at my end, i will paste a screenshot for same in sometime

[2021-12-02 16:04] LieutenantRoger commented on #253
@Gauravseta We will fix this internally since you have been assigned to yourself with another ticket.

[2021-12-02 16:05] LieutenantRoger commented on #253
Challenge https://www.topcoder.com/challenges/dfc56252-0b74-4542-a01b-73fc0471720d gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 16:05] LieutenantRoger commented on #253
Challenge https://www.topcoder.com/challenges/dfc56252-0b74-4542-a01b-73fc0471720d has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 16:23] LieutenantRoger commented on #253
won't fix, this is third party component

[2021-12-02 16:23] LieutenantRoger commented on #253
Challenge https://www.topcoder.com/challenges/dfc56252-0b74-4542-a01b-73fc0471720d LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 16:23] LieutenantRoger commented on #253
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 16:25] LieutenantRoger commented on #207
Hmmm, okay, but it's not working on my end. Ok, we will fix internally for this ticket.

[2021-12-02 16:25] LieutenantRoger commented on #207
Challenge https://www.topcoder.com/challenges/ba51698b-768a-4a41-9705-eab9c1abaaf4 gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 16:25] LieutenantRoger commented on #207
Challenge https://www.topcoder.com/challenges/ba51698b-768a-4a41-9705-eab9c1abaaf4 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 16:36] LieutenantRoger commented on #211
Let's accept this behavior, I will make the `X` larger so it is easier to be clicked.

[2021-12-02 16:51] shivam-51 commented on #239
I am not sure if my change is cause for that breakage. The view for registration collides with the tags even in the hosted link. Is fixing that in the scope of this issue?

Adding my screenshot of https://platform.topcoder.com/earn/find/challenges
![screenshot](https://user-images.githubusercontent.com/47945055/144466580-d8da2565-5f66-49ec-b97e-74f4396c4a67.png)

[2021-12-02 17:18] pauline7 commented on #211
@LieutenantRoger I was wondering what about adding the **onclick** event to the **span element** itself  holding the **iconClear** too, that way any click near the x is recorded.

[2021-12-02 17:29] LieutenantRoger commented on #239
We fixed the overlap issue under https://platform.topcoder-dev.com/earn/find/challenges,  I think you need to make sure your change won't causing regression.

Per my testing, with your fix, the overlap regression issue happened.

Please merge the latest chalelnges-bug-bash branch into your local to test this. https://monosnap.com/file/K0zVoNYyScaukQAG8sCRMymtOz01Q5

Make sure you test on Web, Tabl

[2021-12-02 17:34] Gauravseta commented on #264
@LieutenantRoger MR updated https://github.com/topcoder-platform/micro-frontends-earn-app/pull/212

[2021-12-02 17:34] Gauravseta commented on #264
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/212 is ready for review

[2021-12-02 20:53] pauline7 commented on #229
@bug-bash-helper #288  is ready for review

[2021-12-03 04:43] shivam-51 commented on #226
@bug-bash-helper #290 is ready for review.

[2021-12-03 14:02] LieutenantRoger commented on #229
Thanks for trying, @pauline7 , but still when we click the text the checkbox won't checked.

We will resolve this internally to catch up the next week release. So have to unassign you now.

[2021-12-03 14:03] LieutenantRoger commented on #229
https://monosnap.com/file/NNK9AqCTkoEz3TNdiZlPUIBJBWymKj

[2021-12-03 14:03] LieutenantRoger commented on #229
Challenge https://www.topcoder.com/challenges/a3f7c248-0ffa-4d6c-80b7-1b188125eb74 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 14:19] shivam-51 commented on #239
I see the difference now. Unassigning myself :( @bug-bash-helper unassign

[2021-12-03 14:19] LieutenantRoger commented on #239
Challenge https://www.topcoder.com/challenges/3d0c209f-2e85-4651-9cb4-e0ca3c9fbf7c shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 14:45] pauline7 commented on #229
@LieutenantRoger  I am not sure why but testing it locally it works, I had created a new pull request at #288

[2021-12-03 14:45] shivam-51 commented on #229
@LieutenantRoger can I give it a try?

[2021-12-03 14:47] LieutenantRoger commented on #229
@pauline7 I think still your new PR won't work. :)

@shivam-51 We have fixed this internally.  Thanks for asking.

[2021-12-03 14:48] pauline7 commented on #229
[https://youtu.be/44S9H5OxxaE](url)

[2021-12-03 14:49] LieutenantRoger commented on #211
Thanks. @pauline7  We will be based on your previous commit

[2021-12-03 14:50] LieutenantRoger commented on #236
Challenge https://www.topcoder.com/challenges/0678bb24-737a-4cd5-b196-63f9b65ee3a5 praveeno.pro has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 14:51] LieutenantRoger commented on #236
Challenge https://www.topcoder.com/challenges/0678bb24-737a-4cd5-b196-63f9b65ee3a5 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 15:06] LieutenantRoger commented on #239
Challenge https://www.topcoder.com/challenges/3d0c209f-2e85-4651-9cb4-e0ca3c9fbf7c has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 15:20] LieutenantRoger commented on #258
Challenge https://www.topcoder.com/challenges/d3003289-8c8c-4a7b-8044-7007d1680634 nqv2018 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 15:20] LieutenantRoger commented on #258
nqv2018 has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 15:21] LieutenantRoger commented on #258
Challenge https://www.topcoder.com/challenges/d3003289-8c8c-4a7b-8044-7007d1680634 has been assigned to nqv2018.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 16:20] codejamtc commented on #207
Fixed :ok: (https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/30)
![bandicam 2021-12-03 21-50-22-855](https://user-images.githubusercontent.com/42398485/144636438-2be01b61-5a73-4677-beb4-4bb7eb73d548.jpg)

[2021-12-03 16:22] codejamtc commented on #211
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/62
![bandicam 2021-12-03 21-51-37-670](https://user-images.githubusercontent.com/42398485/144636624-d52f33f6-b0dd-4ef9-9635-63e26ccb2029.jpg)

[2021-12-03 16:23] codejamtc commented on #226
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/131
![bandicam 2021-12-03 21-52-44-733](https://user-images.githubusercontent.com/42398485/144636910-aa85de93-ce64-42b8-a983-4cad6943ce2c.jpg)

[2021-12-03 16:25] codejamtc commented on #228
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/144

https://platform.topcoder-dev.com/earn/find/challenges/b053a886-b8a0-4aa5-a075-bb2281a8f414

https://user-images.githubusercontent.com/42398485/144637167-3bc0597b-acd6-4424-ba96-d50a9f15b8e5.mp4

[2021-12-03 16:29] codejamtc commented on #239
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/188

![bandicam 2021-12-03 21-56-49-883](https://user-images.githubusercontent.com/42398485/144637851-3dc0654b-bc9f-45dc-a540-4a5bbed51ac6.jpg)
![bandicam 2021-12-03 21-56-54-043](https://user-images.githubusercontent.com/42398485/144637855-d6d5744d-c446-4b51-add7-78f91cded69c.jpg)

![bandicam 2021-12-03 21-56-41-178](https://u

[2021-12-03 16:33] codejamtc commented on #236
Fixed :ok: as per the https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/236#issuecomment-982658170

https://user-images.githubusercontent.com/42398485/144638453-7a17279b-ffeb-4cef-92aa-f6627cd3d471.mp4

[2021-12-03 17:00] codejamtc commented on #264
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/404

https://user-images.githubusercontent.com/42398485/144642495-0b4bf5eb-5402-4817-9dc1-e6dfc287b524.mp4

[2021-12-03 17:03] codejamtc commented on #229
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/153

https://platform.topcoder-dev.com/earn/find/challenges/b053a886-b8a0-4aa5-a075-bb2281a8f414/submit

https://user-images.githubusercontent.com/42398485/144642871-bb01348e-6ac3-4fc4-9845-95d273393bb0.mp4

[2021-12-03 17:06] codejamtc commented on #265
Fixed :ok:
![bandicam 2021-12-03 22-36-15-342](https://user-images.githubusercontent.com/42398485/144643361-a2652b49-748b-467f-b1a6-6b4a69d814de.jpg)
![bandicam 2021-12-03 22-34-47-273](https://user-images.githubusercontent.com/42398485/144643373-aefc07cc-fe89-4ee1-bc05-e2d1456e4d5e.jpg)
![bandicam 2021-12-03 22-36-07-845](https://user-images.githubusercontent.com/42398485/144643374-a6cdc6bd-acde-

[2021-12-03 17:10] codejamtc commented on #247
Fixed :ok: https://gitlab.com/Spooky4/spooky-scary-bug-hunt-4/-/issues/239
![bandicam 2021-12-03 22-40-17-665](https://user-images.githubusercontent.com/42398485/144644012-ba6df76b-9bff-49d7-99a4-27b96a02a33d.jpg)

[2021-12-04 12:32] LieutenantRoger commented on #122
not an issue

[2021-12-04 12:32] #122 closed

[2021-12-04 12:46] LieutenantRoger commented on #228
Payment task has been updated: https://www.topcoder.com/challenges/89d0e0b4-7e8e-4f2d-8bc8-06bd4cf0ebc3
*Payments Complete*
Winner: shivam51
Copilot: lieutenantroger
Challenge `89d0e0b4-7e8e-4f2d-8bc8-06bd4cf0ebc3` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-04 12:46] LieutenantRoger commented on #226
Payment task has been updated: https://www.topcoder.com/challenges/318515c1-388a-4527-aa4f-30927036b22d
*Payments Complete*
Winner: shivam51
Copilot: lieutenantroger
Challenge `318515c1-388a-4527-aa4f-30927036b22d` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 12:45] LieutenantRoger opened #292 "[Challenges] Prize Amount From and To allow letters"
**Summary:**

This is a demo ticket

**Steps to Reproduce:**

1. Open up the URL https://platform.topcoder.com/earn/find/challenges
1. Click Prize Amount area

**Actual Result:**

Allow letter characters

**Expected Result:**

Only accept numbers in "Form" and "To" input boxes

**Environment Details:**

***Devices(s):***

PC

***Operating System:***

Windows 10

***Browser and Version:***

Firefox

[2021-12-05 12:45] LieutenantRoger opened #293 "no error when prize from is larger than the prize to"
Steps to Reproduce:

Open up the url
Click prize amount

Actual Result:
Can enter larger value in from and small value in to (USD)
Expected Result:
Error message for entering in ascending order

Environment Details:
Devices(s):
PC
Operating System:
Windows 11
Browser and Version:
Chrome
edge
Screen recording or Screen snapshot:
![Screenshot__110_](/uploads/4498cc0f8bd12648a257cce914941530/Screensh

[2021-12-05 12:45] LieutenantRoger opened #294 "Github Submission is not working(should remove as the source is disabled)"
**Summary:**
Cannot Click on Change Layout Icon

**Steps to Reproduce:**
0. Login to topcoder
1. Go to 'https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb/submit'
2. Click on Github tab

**Actual Result:**
 - Something went wrong error shows

**Expected Result:**
 - It should open github page
[Review comment] we should remove this tab as it says "GitHub source

[2021-12-05 12:45] LieutenantRoger opened #295 "When click on the member icon in challenge page to it redirect to wrong page"
**Steps to Reproduce**

1. Go to the https://platform.topcoder.com/earn/find/challenges
2. Click on the member icon in the challenge so it redirect to the topcoder challenge page rather then platform page

**Actual Result(s)**
When click on the member icon in challenge page to it redirect to wrong page

**Expected Result(s)**
Should redirect to the platform challenges page

**Screen shot**
![20211

[2021-12-05 12:45] LieutenantRoger opened #296 "label below challange is not geting highlighted when clicked"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) Click on any label below any challange
3) Observe that onlt that label challanges gets display . which is correct
4) Now click on another label. Like "QA" or "BugHunt"
5) Observe that onlt that label challanges gets display . which is correct
Now try to understand which label was clicked among all labels.

**Actual result:**

[2021-12-05 12:45] LieutenantRoger opened #297 "Change the page result filter to '50' per page from '10', but didn't realize the page has changes as it still on the bottom on the page."
**Summary:**

Change the page result filter to '50' from '10', but didn't realize the page has changes as it still on the bottom on the page.

**Steps to Reproduce:**

1. [LogIn] Go to https://platform.topcoder.com/earn/find/challenges
2. Go to page result filter and change from '10' to '50'

**Actual Result:**

Change the page result filter to '50' from '10', but didn't realize the page has chang

[2021-12-05 12:45] LieutenantRoger opened #298 "Clear filter does not clear the Price From box"
Summary:
Clear filter does not clear the Price From box

Steps to Reproduce:
Open up the url:https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
Remove 0 from the Prize amount
It shows the Form Field is requried.

[2021-12-05 12:45] LieutenantRoger opened #299 "[Web- Chrome] Search input value is not getting cleared user search and navigate back to challenge page"
Summary :
[Web- Chrome] Search is not getting cleared user search and navigate back to challenge page

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	In Search enter _30211241_
3.	App display no result
4.	Click Challenge link menu

Actual:
Search is not getting cleared user search and navigate back to challenge page

Expected:
Search should get cleared user s

[2021-12-05 12:46] LieutenantRoger opened #300 "Drag and Drop Submission not showing message when droping invalid file extension."
**Summary:**

Drag and Drop Submission not showing message when droping invalid file extension

**Steps to Reproduce:**

1. Open up the URL https://platform.topcoder.com/earn/find/challenges
2. Click on Spooky, Scary Bug Hunt Event 4 to see Details
3. Click on blue button Submit
4. In your PC open explorer and Drop file other than zip extension

**Actual Result:**

No message indicating is not all

[2021-12-05 12:46] LieutenantRoger opened #301 "Dropbox Link generating Error 400 while trying to link the Dropbox File on Submission Page"
**Summary:**
Dropbox File Linking Option generating Error 400 while trying to link the Dropbox File on Submission Page

**Steps to Reproduce:**

1. Go to [](https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb/submit)  Page

2. Click on Pick a File Button , this will open a Dialogue Box

3. From the options seen on the left Column of this Dialogue Box  click on D

[2021-12-05 12:46] LieutenantRoger opened #302 "After deleting user input from Prize From input , user is asked to input 0 for the query to be valid"
**Steps to Reproduce**

Open the link [https://platform.topcoder.com/earn/find/challenges](url)<br/>
Enter 500 in From<br/>
Delete input from From field<br/>
It says invalid but if user deletes all input app should understand that it means 0 value of FROM<br/>

_**Actual Result(s)**<br/>_
After deleting user input from Prize From input , user is asked to input 0 for the query to be valid

_**Expec

[2021-12-05 12:46] LieutenantRoger opened #303 "Error 400 when trying to connect to google drive from file submission page"
Error 400 when trying to connect to google drive from file submission page

Steps to Reproduce
1. https://www.topcoder.com/challenges/8414d048-f41a-4cd7-8741-b35e55e9641c/submit
2. Pick a file
3. Sign in with google

Actual Result(s)<br/>
Authorization Error
Error 400: redirect_uri_mismatch

You can't sign in to this app because it doesn't comply with Google's OAuth 2.0 policy.

If you're the app

[2021-12-05 12:46] LieutenantRoger opened #304 "[$10] Invalid date parameter breaks app"
**Summary:**

This is a demo ticket

**Steps to Reproduce:**

1. Open up the url https://platform.topcoder.com/earn/find/challenges?bucket=Closed%20Challenges&endDateStart=666T22:00:00.000Z&page=1&perPage=10&sortBy=overview.totalPrizes&startDateEnd=2021-10-12T20:59:59.999Z&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
( &

[2021-12-05 12:46] LieutenantRoger opened #305 "Unregister from challenges is not sending any emails"
**Issue title:**
Unregister from challenges is not sending any emails

**Steps to reproduce:**
1. Click on any challenges in the list
2. register for the challenges and check email is received.
3. Then unregister for the same challenge
4. Check email is receiving or not for unregister

**Actual result:**
there is no email receiving for unregister from challenges

**Expected result:**
There should

[2021-12-05 12:46] LieutenantRoger opened #306 "[Web- Chrome] Closed Challenge date rage should show range text (ex: __ast 6 month_) if click specific range"
Summary :
[Web- Chrome] Closed Challenge date rage is keep showing as selected while clicking __ast 6 month_

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	Click closed challenge
3.	Click date range as 28 to 30
4.	Click __ast 6 month_
5.	Again open calendar and check

Actual:
Closed Challenge date rage is keep showing as selected while clicking __ast 6 month

[2021-12-05 12:46] LieutenantRoger opened #307 "There is no option to delete a submission base on the message"
There is no option to delete a submission.

Steps to Reproduce
1. Go to any challenge page
1. Click on view my submissions
2. On manage your submissions page

Actual Result(s)<br/>
We always recommend to download your submission to check you uploaded the correct zip files and also verify the photos and fonts declarations. If you don__ want to see a submission, simply delete. If you have a new subm

[2021-12-05 12:46] LieutenantRoger opened #308 "Default value of Prize amount "To" field should be 99999 USD"
**Steps:**
1) go to https://platform.topcoder.com/earn/find/challenges
2) Observe default value of Prize amount "To" field

**Actual result:**
default value of Prize amount "To" field 10000 USD

**Expected results:**
If any challange has more than 10000 USD than it wont show up in challange listing page.
default value of Prize amount "To" field should be 99999 USD

**Device:** Laptop
**OS:** Windo

[2021-12-05 12:46] LieutenantRoger opened #309 "not accurate"
active challenges cant include stalled
![Screenshot__140_](/uploads/5db0358a1bf87f3f775f68c5c8983992/Screenshot__140_.png)

![Screenshot__141_](/uploads/8874316e46bde2478cafb2398ef54f6c/Screenshot__141_.png)

![Screenshot__142_](/uploads/845822431d30cbfeb772069a595919b9/Screenshot__142_.png)

[2021-12-05 12:46] LieutenantRoger opened #310 "Tag button opening a link"
Steps to Reproduce

Open the link https://platform.topcoder.com/earn/find/challenges/8414d048-f41a-4cd7-8741-b35e55e9641c
Click the tag button TCO22

Actual Result(s)
This "TCO22" button is going to the tco22 web page.

Expected Result(s)
When we select the tag button it should filter the challenge based on "TCO22" not to the website.

Environment Details

Device(s): Laptop
Operating System: Windo

[2021-12-05 12:46] LieutenantRoger opened #311 "[$10] Clicking on a tag/skill does not scroll page to top"
**Summary:**
Clicking on a tag/skill does not scroll page up

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges
2. click on closed challenges
3. scroll to bottom and select 50 per page
4. search for tag/skill 'ios' and click it

**Actual Result:**

Clicking on a tag/skill does not scroll page up

**Expected Result:**

Clicking on a tag/skill should scroll up to t

[2021-12-05 12:51] LieutenantRoger opened #312 "No sort available by closing time/start time"
**Steps to Reproduce**
1. Go to https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=name&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. Click on - Sort by -

_**Actual Result(s)**<br/>_
No sort available by closing time/start time

_**Expected Result(s)**<br/>_
So

[2021-12-05 12:51] LieutenantRoger opened #313 "Filter for past TCO20 event still exist, It should not be"
Filter for past TCO20 event still exist, It should not be
![Bug4__1_](/uploads/5647195a05d8ee3aaf654211506288b1/Bug4__1_.png)

Environment Details:
Devices(s): Laptop
Operating System: Windows 10
Browser and Version: Chrome Version 95.0.4638.54 (64-bit)

[2021-12-05 12:52] LieutenantRoger opened #314 "Suggestion skills: No Figma in skills"
**Summary:**
No Figma in skills

**Steps to Reproduce:**

1. go to https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK
2. type Figma in skills/technology

**Actual Result:**
no figma option

**Expected Result:**

[2021-12-05 12:52] LieutenantRoger opened #315 "Performance: Register/Submit button disabled at first page load"
**Summary:**
Register/Submit button disabled at first page load

**Steps to Reproduce:**
1. Go to 'https://platform.topcoder.com/earn/find/challenges/e188f5d7-1b21-4e65-8bfe-b887b14c2ebb
2. See register/submit button at first page load

**Actual Result:**
 - Buttons are disabled for couple of seconds

**Expected Result:**
 - It should render current state

**Environment Details:**

***Devices(s):*

[2021-12-05 12:52] LieutenantRoger opened #316 "invalid date"
Date field cant be invalid
but visible in pop up
steps : closed challenges
![Screenshot__135_](/uploads/a677c39d57c57b3bba80ba7c7dd96fb1/Screenshot__135_.png)![Screenshot__137_](/uploads/ba3c8b799932a9329d11b0361b11f9c3/Screenshot__137_.png)

[2021-12-05 12:52] LieutenantRoger opened #317 "[Web- Chrome] Amazon Lambda skill is not available"
Summary :
[Web- Chrome] Amazon Lambda skill is not available

Steps to reproduce:
1.	Open the https://platform.topcoder.com/earn/find/challenges
2.	In Skill enter Amazon Lambda

Actual:
Amazon Lambda skill is not available

Expected:
Amazon Lambda skill should be available

Environment:

_	Device(s): Windows
_	Resolution: 1920_1080
_	Operating System: Windows 10
_	Browser(s): Chrome | Version 95.0

[2021-12-05 12:52] LieutenantRoger commented on #317
Won't fix, V3 API Issue

[2021-12-05 12:52] #317 closed

[2021-12-05 12:56] LieutenantRoger commented on #316
Seems not reproducable

[2021-12-05 12:56] LieutenantRoger commented on #315
performance issue will be checked in another ticket

[2021-12-05 12:56] #315 closed

[2021-12-05 12:57] LieutenantRoger commented on #314
V3-API issue, won't fix

[2021-12-05 12:57] #314 closed

[2021-12-05 12:58] LieutenantRoger commented on #312
This is by design

[2021-12-05 12:58] #312 closed

[2021-12-05 13:00] #316 closed

[2021-12-05 13:00] LieutenantRoger commented on #313
BE

[2021-12-05 13:00] LieutenantRoger commented on #310
it's by design

[2021-12-05 13:01] #310 closed

[2021-12-05 13:02] LieutenantRoger commented on #309
stalled is also active challenge

[2021-12-05 13:02] #309 closed

[2021-12-05 13:02] LieutenantRoger commented on #308
it's by design

[2021-12-05 13:02] #308 closed

[2021-12-05 13:06] LieutenantRoger commented on #307
can't reproduce

[2021-12-05 13:09] LieutenantRoger commented on #307
This happened on design challenge: https://platform.topcoder-dev.com/earn/find/challenges/50873ed9-4bfc-44e3-8cc0-9610442bf463/my-submissions

[2021-12-05 13:10] LieutenantRoger commented on #306
can't reproduce

[2021-12-05 13:10] #306 closed

[2021-12-05 13:11] LieutenantRoger commented on #305
it's by design

[2021-12-05 13:11] #305 closed

[2021-12-05 13:16] LieutenantRoger commented on #304
If the URL exists invalid date value for  `startDateEnd` and `endDateStart` params, let's ignore the corresponding value when we initialize the filter and load the challenge from API.

[2021-12-05 13:16] LieutenantRoger commented on #303
wont' fix

[2021-12-05 13:16] #303 closed

[2021-12-05 13:17] #302 closed

[2021-12-05 13:17] #301 closed

[2021-12-05 13:20] LieutenantRoger commented on #299
by design

[2021-12-05 13:20] #299 closed

[2021-12-05 13:21] #298 closed

[2021-12-05 13:22] LieutenantRoger commented on #297
Maybe we can scroll to top as well

[2021-12-05 13:22] LieutenantRoger commented on #297
https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/311

[2021-12-05 13:22] LieutenantRoger commented on #296
v3-api issue

[2021-12-05 13:22] #296 closed

[2021-12-05 13:23] LieutenantRoger commented on #295
can't reproduce

[2021-12-05 13:23] #295 closed

[2021-12-05 13:23] #294 closed

[2021-12-05 13:23] LieutenantRoger commented on #293
already fixed

[2021-12-05 13:23] #293 closed

[2021-12-05 13:24] LieutenantRoger commented on #292
There's a validation error message showing up already

[2021-12-05 13:24] #292 closed

[2021-12-05 13:24] LieutenantRoger commented on #304
Challenge https://www.topcoder.com/challenges/568ff1a9-8ea8-47d7-9590-690cb20f8596 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 13:25] LieutenantRoger commented on #311
Let's scroll the page to top if it doesn't at the top

[2021-12-05 13:25] LieutenantRoger commented on #311
Challenge https://www.topcoder.com/challenges/d33a8a13-01f0-43af-ba7d-d63d366a19b0 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 13:26] LieutenantRoger commented on #307
Challenge https://www.topcoder.com/challenges/e12d2065-12d4-48c8-83be-120b9c7c236e has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 15:49] LieutenantRoger commented on #304
Challenge https://www.topcoder.com/challenges/568ff1a9-8ea8-47d7-9590-690cb20f8596 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 15:52] LieutenantRoger commented on #307
Looks by design

[2021-12-05 15:52] #307 closed

[2021-12-05 15:54] LieutenantRoger commented on #311
Challenge https://www.topcoder.com/challenges/d33a8a13-01f0-43af-ba7d-d63d366a19b0 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 16:07] codejamtc commented on #311
Fixed :ok:

https://user-images.githubusercontent.com/42398485/144754136-0893d58f-48ad-41a8-8d1a-ed821dc14bb0.mp4

[2021-12-05 16:10] codejamtc commented on #304
Fixed :ok:

https://user-images.githubusercontent.com/42398485/144754219-c5d52165-707e-4f89-85e8-a5afe1c9af71.mp4

![bandicam 2021-12-05 21-39-48-901](https://user-images.githubusercontent.com/42398485/144754221-1db7f773-f940-48e1-9f21-24f73182b2bc.jpg)

[2021-12-07 04:35] SathyaJayabal commented on #228
verified on prod

https://user-images.githubusercontent.com/58783823/144966908-8750cd46-b636-437a-a7b4-08a8dbd31d76.mov

[2021-12-07 04:35] #228 closed

[2021-12-07 04:35] SathyaJayabal commented on #226
verified on prod
<img width="1440" alt="Screenshot 2021-12-07 at 10 05 15 AM" src="https://user-images.githubusercontent.com/58783823/144967029-8d7f83e4-c867-4bf4-b17d-43626a3b4867.png">

[2021-12-07 04:35] #226 closed

[2021-12-07 04:39] codejamtc commented on #258
Fixed in Prod :ok:

https://user-images.githubusercontent.com/42398485/144967369-acd54fa9-3e64-477e-b569-344fc07ade09.mp4

[2021-12-07 04:39] #258 closed

[2021-12-07 04:39] SathyaJayabal commented on #254
verified on prod
<img width="1440" alt="Screenshot 2021-12-07 at 10 07 59 AM" src="https://user-images.githubusercontent.com/58783823/144967294-47b75232-9f2b-48c4-9e8d-cb9cb9c2f4fe.png">

[2021-12-07 04:39] #254 closed

[2021-12-07 04:39] LieutenantRoger commented on #258
Payment task has been updated: https://www.topcoder.com/challenges/d3003289-8c8c-4a7b-8044-7007d1680634
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `d3003289-8c8c-4a7b-8044-7007d1680634` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 04:39] LieutenantRoger commented on #254
Payment task has been updated: https://www.topcoder.com/challenges/115c72a4-3cea-412b-92db-c45ad63a7e31
*Payments Complete*
Winner: shivam51
Copilot: lieutenantroger
Challenge `115c72a4-3cea-412b-92db-c45ad63a7e31` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 04:59] SathyaJayabal commented on #304
fixed on prod
<img width="1440" alt="Screenshot 2021-12-07 at 10 28 57 AM" src="https://user-images.githubusercontent.com/58783823/144969252-5b82ae3b-0904-4659-8f55-2824f6151932.png">

[2021-12-07 04:59] #304 closed

[2021-12-07 04:59] LieutenantRoger commented on #304
Payment task has been updated: https://www.topcoder.com/challenges/568ff1a9-8ea8-47d7-9590-690cb20f8596
*Payments Complete*
Winner: LieutenantRoger
Challenge `568ff1a9-8ea8-47d7-9590-690cb20f8596` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:03] codejamtc commented on #264
Fixed in Prod :ok:

https://user-images.githubusercontent.com/42398485/144969587-de4ff8e8-9f24-442c-93ce-b5dfcfdac3fc.mp4

[2021-12-07 05:03] #264 closed

[2021-12-07 05:03] LieutenantRoger commented on #264
Payment task has been updated: https://www.topcoder.com/challenges/7ee7cbf2-9331-4390-b059-4dc7b4c760f5
*Payments Complete*
Winner: gauravseta
Copilot: lieutenantroger
Challenge `7ee7cbf2-9331-4390-b059-4dc7b4c760f5` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:03] SathyaJayabal commented on #311
verified on prod

https://user-images.githubusercontent.com/58783823/144969583-3d23ce0b-1bae-466b-8877-74585c16bbac.mov

[2021-12-07 05:03] #311 closed

[2021-12-07 05:03] LieutenantRoger commented on #311
Payment task has been updated: https://www.topcoder.com/challenges/d33a8a13-01f0-43af-ba7d-d63d366a19b0
*Payments Complete*
Winner: LieutenantRoger
Challenge `d33a8a13-01f0-43af-ba7d-d63d366a19b0` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:05] codejamtc commented on #211
Fixed in Prod 🆗

https://user-images.githubusercontent.com/42398485/144969726-cc04581a-59be-4b1b-ab50-e03d657325fb.mp4

[2021-12-07 05:09] codejamtc commented on #265
Fixed in Prod 🆗
![bandicam 2021-12-07 10-37-16-453](https://user-images.githubusercontent.com/42398485/144969988-3bba3e72-7bf5-47e0-a9fd-2722a633eee6.jpg)
![bandicam 2021-12-07 10-37-49-425](https://user-images.githubusercontent.com/42398485/144969993-da37cda3-1e92-48a9-b7df-d0ded26763d3.jpg)
![bandicam 2021-12-07 10-37-10-266](https://user-images.githubusercontent.com/42398485/144969995-fd7071ae-

[2021-12-07 05:09] #265 closed

[2021-12-07 05:09] LieutenantRoger commented on #265
Payment task has been updated: https://www.topcoder.com/challenges/871e1015-39f3-47cb-a692-1dac541d2e50
*Payments Complete*
Winner: nqv2018
Copilot: lieutenantroger
Challenge `871e1015-39f3-47cb-a692-1dac541d2e50` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:10] SathyaJayabal commented on #236
verified on prod

https://user-images.githubusercontent.com/58783823/144970128-404f3f0d-8389-4419-b2af-8387d908f696.mov

[2021-12-07 05:10] #236 closed

[2021-12-07 05:10] LieutenantRoger commented on #236
Payment task has been updated: https://www.topcoder.com/challenges/0678bb24-737a-4cd5-b196-63f9b65ee3a5
*Payments Complete*
Winner: LieutenantRoger
Challenge `0678bb24-737a-4cd5-b196-63f9b65ee3a5` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:13] codejamtc commented on #247
Fixed in Prod  :ok:
![bandicam 2021-12-07 10-42-10-969](https://user-images.githubusercontent.com/42398485/144970476-be62ab72-6d82-4e7e-8347-7486b1ff93df.jpg)

[2021-12-07 05:13] #247 closed

[2021-12-07 05:14] SathyaJayabal commented on #207
verified on prod
<img width="1440" alt="Screenshot 2021-12-07 at 10 43 36 AM" src="https://user-images.githubusercontent.com/58783823/144970537-79f4fcfc-3676-4f63-86e9-01a3de966588.png">

[2021-12-07 05:14] #207 closed

[2021-12-07 05:14] LieutenantRoger commented on #207
Payment task has been updated: https://www.topcoder.com/challenges/ba51698b-768a-4a41-9705-eab9c1abaaf4
*Payments Complete*
Winner: LieutenantRoger
Challenge `ba51698b-768a-4a41-9705-eab9c1abaaf4` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:16] codejamtc commented on #239
Fixed in Prod  :ok:

![bandicam 2021-12-07 10-46-12-298](https://user-images.githubusercontent.com/42398485/144970784-99ac858f-de1b-4552-9fad-92cda0c6b912.jpg)

Mobile view; now we don't see the Submission and Registration count

![bandicam 2021-12-07 10-45-43-673](https://user-images.githubusercontent.com/42398485/144970734-6f84952e-9ae5-4440-abdb-a06dfb94e802.jpg)

[2021-12-07 05:16] #239 closed

[2021-12-07 05:16] LieutenantRoger commented on #239
Payment task has been updated: https://www.topcoder.com/challenges/3d0c209f-2e85-4651-9cb4-e0ca3c9fbf7c
*Payments Complete*
Winner: LieutenantRoger
Challenge `3d0c209f-2e85-4651-9cb4-e0ca3c9fbf7c` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:20] codejamtc commented on #229
Fixed in Prod  :ok:

https://user-images.githubusercontent.com/42398485/144971116-0ae97524-a3c7-4a8a-ae75-5a1cb577b418.mp4

[2021-12-07 05:20] #229 closed

[2021-12-07 05:20] LieutenantRoger commented on #229
Payment task has been updated: https://www.topcoder.com/challenges/a3f7c248-0ffa-4d6c-80b7-1b188125eb74
*Payments Complete*
Winner: LieutenantRoger
Challenge `a3f7c248-0ffa-4d6c-80b7-1b188125eb74` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 05:26] #211 closed

[2021-12-07 06:12] SathyaJayabal opened #320 "Taas payments in Past Challenges"
In the community app, the list of past challenges does not include other user's taas payments. The example api call used here is below and it does return the taas payments, but this seems to be filtered out in the FE and not shown on the listings page.
https://api.topcoder.com/v5/challenges/?search=taas&startDateEnd=2021-12-07T23%3A59%3A59.999Z&endDateStart=2021-11-07T00%3A00%3A00.000Z&status=Comp

[2021-12-07 08:13] SathyaJayabal commented on #320
https://github.com/topcoder-platform/community-app/blob/50d2fbf2b5c8fa6810ca63e708d1e563e7af690d/src/shared/components/challenge-listing/Listing/Bucket/index.jsx#L79-L89
We are filtering out other user's tasks on the FE on community app. We should do the same here.

cc @lakshmiathreya

[2021-12-07 08:19] luizrrodrigues commented on #320
@SathyaJayabal @lakshmiathreya

I think this need be fixed in API side, members should not see other members TaaS payments and a filter like existing in CA not "safe", because data still available in API response.

So basically this logical need be moved to API:

[code]

[2021-12-07 16:29] #313 closed

[2021-12-07 16:29] #208 closed

[2021-12-07 16:30] #181 closed

[2021-12-07 16:34] LieutenantRoger commented on #112
This looks Contentful driven ticket, won't fix

[2021-12-07 16:34] #112 closed

[2021-12-07 16:34] #70 closed

[2021-12-07 16:34] LieutenantRoger commented on #83
can't reproduce

[2021-12-07 16:34] #83 closed

[2021-12-07 16:35] LieutenantRoger commented on #180
wont' fix

[2021-12-07 16:35] #180 closed

[2021-12-07 16:44] #297 closed

[2021-12-07 16:45] #245 closed

[2021-12-07 16:45] #213 closed

[2021-12-07 16:45] #300 closed

[2021-12-07 16:46] #111 closed

[2021-12-07 16:47] LieutenantRoger commented on #248
won't fix for now

[2021-12-07 16:47] #248 closed

[2021-12-07 16:47] #179 closed

[2021-12-07 16:48] #125 closed

[2021-12-07 16:49] #94 closed

[2021-12-07 16:49] #93 closed

[2021-12-07 16:50] #88 closed

[2021-12-07 16:50] #77 closed

[2021-12-07 16:50] #114 closed

[2021-12-07 16:50] #108 closed

[2021-12-07 16:51] #107 closed

[2021-12-07 16:51] #99 closed

[2021-12-07 16:51] #84 closed

[2021-12-07 16:52] #87 closed

[2021-12-07 16:52] #86 closed

[2022-02-02 11:54] LieutenantRoger opened #324 "Submit button is not enabled once we checked everything"
Please refer to the snapshot:

https://monosnap.com/file/szKt7dI1q151MWNHb54Y0qaX11AO3t

When we have uploaded a zip file, and checked the checkbox by clicking the label `I UNDERSTAND AND AGREE` (don't click the checkbox), the submit button still is not enabled

Right now, member can't submit a submission anymore.

[2022-02-03 09:16] SathyaJayabal commented on #324
verified on dev

https://user-images.githubusercontent.com/58783823/152313976-96e14697-82ac-4d98-b515-f1effa723231.mov

[2022-02-03 09:41] SathyaJayabal commented on #324
verified on prod

https://user-images.githubusercontent.com/58783823/152317845-045d6b1e-134d-450f-b0c2-57b6d3b554ff.mov

[2022-02-03 09:41] #324 closed

[2022-02-03 15:07] LieutenantRoger opened #328 "Read the FileStack Key from environment variable for both dev and prod deployment"
Currently the codebase are having a default value for FILESTACK_API_KEY and FILESTACK_SUBMISSION_CONTAINER key variables,

We need to remove the default keys in the codebase and read the values from the environment for both dev deployment and prod deployment.

[2022-02-04 06:20] SathyaJayabal opened #331 "Fix File stack key"
Fix File stack key

[2022-02-04 06:20] SathyaJayabal commented on #331
verified

[2022-02-04 06:24] SathyaJayabal opened #332 "Fix submisison file hot fix issue"
Submission Page submit button hot fix issue

[2022-02-04 06:24] SathyaJayabal commented on #332
verified on prod

[2022-02-04 06:24] SathyaJayabal commented on #332
duplicate

[2022-02-04 06:24] #332 closed

[2022-02-04 06:26] #331 closed

[2022-02-04 13:01] LieutenantRoger commented on #144
The issue is fixed.

[2022-02-04 13:02] LieutenantRoger commented on #328
This is fixed

[2022-02-04 13:02] #328 closed

[2022-02-04 13:02] #144 closed

[2022-02-08 09:19] SathyaJayabal opened #334 "Exclude onboarding flow for users registering from challenge pages"
Exclude onboarding flow for users registering from challenge pages

[2022-05-19 07:30] abhinav-koppula opened #352 "Challenge Apps loading issue for first time in incognito mode"
Steps to reproduce:
1 - Open google chrome (latest  version) in incognito mode
2 - Go to challenge app page - https://platform.topcoder-dev.com/earn/find/challenges
3 - Open network tab and observe the error (screenshot attached). Also challenge listings aren't loaded because of the console error.
4 - Now clear console, and refresh the page
5 - Observe that the console error message doesn't show u